@*
// PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
// Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@attribute [PdpRazorPageRoute(DepCoreWebLib, DepAgentModeIndex)]
@model AgentModeIndex
@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  PdpSiteRazorModel psrm = Model.PSRM;
  QebiUserRestContext qurc = Model.QURC;
}
@Html.Raw(psrm.FormatBodyTitle())
@if (!string.IsNullOrEmpty(psrm.RazorBodyMenu))
{ <p><partial name="@psrm.RazorBodyMenu" /></p> }

<p>
  You are registered as a site user. You may access the following services:
</p>
<ul>
  <li><a asp-page="@DepAgentModeCheckSession">Check User Session</a></li>
</ul>
