<span>
    <a asp-area="NPDS" asp-controller="ScribeAgentResreps" asp-action="Index">Index</a> |
    <a asp-area="NPDS" asp-controller="ScribeAgentResreps" asp-action="Help">Help</a> |
    <a asp-area="NPDS" asp-controller="ScribeAgentResreps" asp-action="Examples">Examples</a>
</span>
