<span>
  <a asp-area="NPDS" asp-controller="ScribeWebLibTest" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="ScribeWebLibTest" asp-action="AnonWeb">Anon</a> |
  <a asp-area="NPDS" asp-controller="ScribeWebLibTest" asp-action="UserWeb">User</a> |
  <a asp-area="NPDS" asp-controller="ScribeWebLibTest" asp-action="AgentWeb">Agent</a> |
  <a asp-area="NPDS" asp-controller="ScribeWebLibTest" asp-action="AuthorWeb">Author</a> |
  <a asp-area="NPDS" asp-controller="ScribeWebLibTest" asp-action="EditorWeb">Editor</a> |
  <a asp-area="NPDS" asp-controller="ScribeWebLibTest" asp-action="AdminWeb">Admin</a> |
  <a asp-area="NPDS" asp-controller="ScribeWebLibTest" asp-action="Examples">Examples</a>
</span>
