@*
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  var prc = (PdpRestContext)ViewData["PRC"];
}

<div>
  <span>
    <a asp-area="NPDS" asp-controller="Site" asp-action="Index">Site</a>
    | <a asp-area="NPDS" asp-controller="NexusRestLib" asp-action="Index">NexusRestLib</a>
    | <a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="Index">NexusAnonResreps</a>
    | <a asp-area="NPDS" asp-controller="ScribeRestLib" asp-action="Index">ScribeRestLib</a>
    | <a asp-area="NPDS" asp-controller="ScribeAgentResreps" asp-action="Index">ScribeAgentResreps</a>
    | <a asp-area="NPDS" asp-controller="ScribeAuthorResreps" asp-action="Index">ScribeAuthorResreps</a>
    | <a asp-area="NPDS" asp-controller="ScribeEditorResreps" asp-action="Index">ScribeEditorResreps</a>
    | <a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="Index">ScribeAdminResreps</a>
    @if (prc.PDPSS.AppUseDevtestFeature)
    {
      <span> | </span>
      <a asp-area="NPDS" asp-controller="ScribeWebLibTest" asp-action="Index">ScribeWebLibTest</a>
    }
  </span>
</div>
