<script id="ResrepRecordToolBar" type="text/x-kendo-template">
  <span id="ResrepRootStatus" class="pdpResrepStatus"></span>
  <span id="ResrepStemStatus" class="pdpResrepStatus"></span>
  <span id="ResrepLeafStatus" class="pdpResrepStatus"></span>
</script>

<script id="RestrictionAndToolBar" type="text/x-kendo-template">
  <span id="RestrictionAndStatus" class="pdpResrepStatus"></span>
</script>

<script id="RestrictionOrToolBar" type="text/x-kendo-template">
  <span id="RestrictionOrStatus" class="pdpResrepStatus"></span>
</script>

<script id="ServiceDefaultToolBar" type="text/x-kendo-template">
  <span id="ServiceDefaultStatus" class="pdpResrepStatus"></span>
</script>

<script id="EntityLabelToolBar" type="text/x-kendo-template">
  <span id="EntityLabelStatus" class="pdpResrepStatus"></span>
</script>

<script id="SupportingTagToolBar" type="text/x-kendo-template">
  <span id="SupportingTagStatus" class="pdpResrepStatus"></span>
</script>

<script id="SupportingLabelToolBar" type="text/x-kendo-template">
  <span id="SupportingLabelStatus" class="pdpResrepStatus"></span>
</script>

<script id="CrossReferenceToolBar" type="text/x-kendo-template">
  <span id="CrossReferenceStatus" class="pdpResrepStatus"></span>
</script>

<script id="OtherTextToolBar" type="text/x-kendo-template">
  <span id="OtherTextStatus" class="pdpResrepStatus"></span>
</script>

<script id="LocationToolBar" type="text/x-kendo-template">
  <span id="LocationStatus" class="pdpResrepStatus"></span>
</script>

<script id="DescriptionToolBar" type="text/x-kendo-template">
  <span id="DescriptionStatus" class="pdpResrepStatus"></span>
</script>

<script id="ProvenanceToolBar" type="text/x-kendo-template">
  <span id="ProvenanceStatus" class="pdpResrepStatus"></span>
</script>

<script id="DistributionToolBar" type="text/x-kendo-template">
  <span id="DistributionStatus" class="pdpResrepStatus"></span>
</script>

<script id="FairMetricToolBar" type="text/x-kendo-template">
  <span id="FairMetricStatus" class="pdpResrepStatus"></span>
</script>

<script id="ResrepSnapshotToolBar" type="text/x-kendo-template">
  <span id="ResrepSnapshotStatus" class="pdpResrepStatus"></span>
</script>

