<div>
  <a asp-area="PDP" asp-controller="Site" asp-action="Info">Info</a> |
  <a asp-area="PDP" asp-controller="Site" asp-action="Design">Design</a> |
  <a asp-area="PDP" asp-controller="Site" asp-action="Papers">Papers</a> |
  <a asp-area="PDP" asp-controller="Site" asp-action="Help">Help</a>
</div>
<div>
  <a asp-area="PDP" asp-controller="ScribeDataLib" asp-action="Index">ScribeDataLib</a> |
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="Index">NpdsTestLib</a> |
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="PrcTest">PrcTest</a> |
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="MvcError">Error</a> |
</div>
