<span>
  <a asp-area="PDP" asp-controller="ScribeTestApp" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="AnonResreps" asp-action="NpdsView">AnonResreps</a> |
  <a asp-area="PDP" asp-controller="AgentResreps" asp-action="NpdsView">AgentResreps</a> |
  <a asp-area="PDP" asp-controller="AuthorResreps" asp-action="NpdsView">AuthorResreps</a> |
  <a asp-area="PDP" asp-controller="EditorResreps" asp-action="NpdsView">EditorResreps</a> |
  <a asp-area="PDP" asp-controller="AdminResreps" asp-action="NpdsView">AdminResreps</a>
</span>

