@*  
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Licensed per the OSI approved MIT License (https://opensource.org/licenses/MIT).
*@

@{
  var prc = ViewBag.PRC;
}

<div><span>
  <a asp-area="PDP" asp-controller="Site" asp-action="Index">Site</a>
| <a asp-area="PDP" asp-controller="ScribeRestApi" asp-action="Index">ScribeRestApi</a>
@if (prc.SiteSets.AppUseDevtestFeature) {
  <span> | </span>
  <a asp-area="PDP" asp-controller="ScribeTestApp" asp-action="Index">ScribeTestApp</a>
}
| <a asp-area="PDP" asp-controller="AnonResreps" asp-action="Index">AnonResreps</a>
</span></div>
