<h3>BHA Nexus Diristries </h3>

<p>Nexus diristries managed by <a href="https://www.brainhealthalliance.net/" target="BHAN">BHA Scribe Registrar</a> include:</p>

<ul>
  <li><a href="http://www.brainwatch.net/PDP/AnonResreps/NpdsView/Nexus/BrainWatch">BrainWatch Diristry</a> for Brain Health</li>
  <li><a href="http://www.bhaconservation.net/PDP/AnonResreps/NpdsView/Nexus/Eywa">Eywa Diristry</a> for Biodiversity and Wildlife Conservation</li>
  <li><a href="http://www.bhaconservation.net/PDP/AnonResreps/NpdsView/Nexus/Gaia">Gaia Diristry</a> for Biosurveillance and Environmental Protection</li>
  <li><a href="http://www.bhahealth.net/PDP/AnonResreps/NpdsView/Nexus/HELPME">HELPME Diristry</a> for Health, Education, Law, Public Policy, and Medical Ethics</li>
  <li><a href="http://www.brainwatch.net/PDP/AnonResreps/NpdsView/Nexus/SOLOMON">SOLOMON Diristry</a> for Sensory-Onset, Language-Onset, Motor-Onset Dementias</li>
</ul>

<h3>GTG Nexus Diristries</h3>

<p>Nexus diristries managed by <a href="https://www.telegenetics.net/" target="GTGN">GTG Scribe Registrar</a> include:</p>

<ul>
  <li><a href="http://www.biomedicalcomputing.net/PDP/AnonResreps/NpdsView/Nexus/BioPORT">BioPORT Diristry</a> for Biomedical Computing</li>
  <li><a href="http://www.clinicaltelegaming.net/PDP/AnonResreps/NpdsView/Nexus/CTGaming">CTGaming Diristry</a> for Clinical TeleGaming</li>
  <li><a href="http://www.genescene.net/PDP/AnonResreps/NpdsView/Nexus/GeneScene/">GeneScene Diristry</a> for Genetic Medicine</li>
  <li><a href="http://www.nucmedlib.net/PDP/AnonResreps/NpdsView/Nexus/ManRay">ManRay Diristry</a> for Nuclear Medicine</li>
  <li><a href="http://www.genescene.net/PDP/AnonResreps/NpdsView/Nexus/Osler">Osler Diristry</a> for Precision Medicine</li>
</ul>


<h3>PDP Nexus Diristries</h3>

<p>Nexus diristries managed by <a href="https://www.portaldoors.net/" target="PDPN">PDP Scribe Registrar</a> include:</p>

<ul>
  <li><a href="https://www.portaldoors.net/PDP/AnonResreps/NpdsView/Nexus/Avicenna">Avicenna Diristry</a> for Clinical Trial Data Analysis</li>
  <li><a href="https://www.portaldoors.net/PDP/AnonResreps/NpdsView/Nexus/Beacon">Beacon Diristry</a> for Biomedical Artificial Intelligence</li>
  <li><a href="https://www.portaldoors.net/PDP/AnonResreps/NpdsView/Nexus/DaVinci">DaVinci Diristry</a> for Biomedical Data Integration</li>
  <li><a href="https://www.portaldoors.net/PDP/AnonResreps/NpdsView/Nexus/Knuth">Knuth Diristry</a> for Computational Sciences and Software Engineering</li>
  <li><a href="https://www.portaldoors.net/PDP/AnonResreps/NpdsView/Nexus/Socrates">Socrates Diristry</a> for Psychometrics, Surveys, and Questionnaires</li>
</ul>
