<div>
  NpdsCoreLibController Actions:
  <a asp-area="PDP" asp-controller="NpdsCoreLib" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="NpdsCoreLib" asp-action="Entities">Entities</a> |
  <a asp-area="PDP" asp-controller="NpdsCoreLib" asp-action="Diristries">Diristries</a>
</div>
