<div>
  NpdsTestLibController Actions:
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="PrcTest">PrcTest</a> |
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="MvcError">MvcError</a> |
   <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="Routes">Routes</a>
</div>