<span>
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="PrcTest">PrcTest</a> |
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="MvcErrors">MvcErrors</a> |
  <a asp-area="PDP" asp-controller="NpdsTestLib" asp-action="MvcRoutes">MvcRoutes</a>
</span>

