<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik Packages" value="D:\NuGetPkgs\Telerik" />
    <add key="Apache Packages" value="D:\NuGetPkgs\Apache" />
    <add key="OtherOrg Packages" value="D:\NuGetPkgs\OtherOrgs" />
    <add key="Microsoft SDK Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
    <add key="Microsoft Offline Packages" value="D:\NuGetPkgs\Microsoft" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>