<span>
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="RestUser">User</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="RestAgent">Agent</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="RestAuthor">Author</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="RestEditor">Editor</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="RestAdmin">Admin</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="Examples">Examples</a>
</span>
