<span>
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="AnonApi">Anon</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="UserApi">User</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="AgentApi">Agent</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="AuthorApi">Author</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="EditorApi">Editor</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="AdminApi">Admin</a> |
  <a asp-area="NPDS" asp-controller="ScribeRestLibTest" asp-action="Examples">Examples</a>
</span>
