@*
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<div>
  <ul>
    <li>CoreDataLibTest <partial name="_MenuCoreDataLibTest" /></li>
    <li>SiaaDataLibTest <partial name="_MenuSiaaDataLibTest" /></li>
    <li>NexusDataLibTest <partial name="_MenuNexusDataLibTest" /></li>
    <li>NexusRestLibTest <partial name="_MenuNexusRestLibTest" /></li>
  </ul>
</div>
