@*  
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  var prc = (PdpRestContext)ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/ScribeEditorResreps/Examples"))
<p><partial name="_MenuScribeEditorResreps" /></p>

<h4>URLs in href attributes</h4>

<ul>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/PDP-Nexus">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/PDP-Nexus</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/PORTAL/PDP-PORTAL">/NPDS/ScribeEditorResreps/ScribeNpdsRead/PORTAL/PDP-PORTAL</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/DOORS/PDP-DOORS">/NPDS/ScribeEditorResreps/ScribeNpdsRead/DOORS/PDP-DOORS</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Scribe/PDP-Scribe">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Scribe/PDP-Scribe</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Ashurbanipal">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Ashurbanipal</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Avicenna">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Avicenna</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Beacon">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Beacon</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/DaVinci">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/DaVinci</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Fidentinus">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Fidentinus</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Knuth">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Knuth</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Martialis">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Martialis</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Socrates">/NPDS/ScribeEditorResreps/ScribeNpdsRead/Nexus/Socrates</a></li>
</ul>

<ul>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/PDP-Nexus">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/PDP-Nexus</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/PORTAL/PDP-PORTAL">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/PORTAL/PDP-PORTAL</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/DOORS/PDP-DOORS">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/DOORS/PDP-DOORS</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Scribe/PDP-Scribe">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Scribe/PDP-Scribe</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Ashurbanipal">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Ashurbanipal</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Avicenna">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Avicenna</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Beacon">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Beacon</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/DaVinci">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/DaVinci</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Fidentinus">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Fidentinus</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Knuth">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Knuth</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Martialis">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Martialis</a></li>
  <li><a href="/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Socrates">/NPDS/ScribeEditorResreps/ScribeNpdsWrite/Nexus/Socrates</a></li>
</ul>
