@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AuthSiaa/UsernameChanged"))

<p>
  Your username has been changed.  You may now
  @Html.ActionLink("login", "LoginUser", "AnonSiaa")
   again with your new username.
</p>
