@model NexusResrepEditModel

<div>
  <div><label>Infoset PORTAL Status:</label>&nbsp;#=InfosetPortalStatusName#&nbsp;</div>
  <div><label>Infoset DOORS Status:</label>&nbsp;#=InfosetDoorsStatusName#&nbsp;</div>
  <div><label>InfosetIsAuthorPrivate:</label>&nbsp;#=InfosetIsAuthorPrivate#&nbsp;</div>
  <div><label>InfosetIsAuthorPrivate:</label>&nbsp;#=InfosetIsAuthorPrivate#&nbsp;</div>
  <div><label>InfosetIsAgentShared:</label>&nbsp;#=InfosetIsAgentShared#&nbsp;</div>
  <div><label>InfosetIsUpdaterLimited:</label>&nbsp;#=InfosetIsUpdaterLimited#&nbsp;</div>
  <div><label>InfosetIsManagerReleased:</label>&nbsp;#=InfosetIsManagerReleased#&nbsp;</div>
  <div><label>RecordManagedByAgent:</label>&nbsp;#=ManagedByAgentName#&nbsp;</div>
  <div><label>RecordCreatedOn:</label>&nbsp;#=CreatedOn#&nbsp;</div>
  <div><label>RecordCreatedByAgent:</label>&nbsp;#=CreatedByAgentName#&nbsp;</div>
  <div><label>RecordUpdatedOn:</label>&nbsp;#=UpdatedOn#&nbsp;</div>
  <div><label>RecordUpdatedByAgent:</label>&nbsp;#=UpdatedByAgentName#&nbsp;</div>
  <div><label>RecordDeletedOn:</label>&nbsp;#=DeletedOn#&nbsp;</div>
  <div><label>RecordDeletedByAgent:</label>&nbsp;#=DeletedByAgentName#&nbsp;</div>
  <div><label>EntityLabels Count:</label>&nbsp;#=EntityLabelsCount#&nbsp;<label>StatusCode:</label>&nbsp;#=EntityLabelsStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=EntityLabelsStatusName#&nbsp;</div>
  <div><label>SupportingTags Count:</label>&nbsp;#=SupportingTagsCount#&nbsp;<label>StatusCode:</label>&nbsp;#=SupportingTagsStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=SupportingTagsStatusName#&nbsp;</div>
  <div><label>SupportingLabels Count:</label>&nbsp;#=SupportingLabelsCount#&nbsp;<label>StatusCode:</label>&nbsp;#=SupportingLabelsStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=SupportingLabelsStatusName#&nbsp;</div>
  <div><label>CrossReferences Count:</label>&nbsp;#=CrossReferencesCount#&nbsp;<label>StatusCode:</label>&nbsp;#=CrossReferencesStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=CrossReferencesStatusName#&nbsp;</div>
  <div><label>OtherTexts Count:</label>&nbsp;#=OtherTextsCount#&nbsp;<label>StatusCode:</label>&nbsp;#=OtherTextsStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=OtherTextsStatusName#&nbsp;</div>
  <div><label>Locations Count:</label>&nbsp;#=LocationsCount#&nbsp;<label>StatusCode:</label>&nbsp;#=LocationsStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=LocationsStatusName#&nbsp;</div>
  <div><label>Descriptions Count:</label>&nbsp;#=DescriptionsCount#&nbsp;<label>StatusCode:</label>&nbsp;#=DescriptionsStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=DescriptionsStatusName#&nbsp;</div>
  <div><label>Provenances Count:</label>&nbsp;#=ProvenancesCount#&nbsp;<label>StatusCode:</label>&nbsp;#=ProvenancesStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=ProvenancesStatusName#&nbsp;</div>
  <div><label>Distributions Count:</label>&nbsp;#=DistributionsCount#&nbsp;<label>StatusCode:</label>&nbsp;#=DistributionsStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=DistributionsStatusName#&nbsp;</div>
  <div><label>FairMetrics Count:</label>&nbsp;#=FairMetricsCount#&nbsp;<label>StatusCode:</label>&nbsp;#=FairMetricsStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=FairMetricsStatusName#&nbsp;</div>
  <div><label>NexusSnapshots Count:</label>&nbsp;#=NexusSnapshotsCount#&nbsp;<label>StatusCode:</label>&nbsp;#=NexusSnapshotsStatusCode#&nbsp;<label>StatusName:</label>&nbsp;#=NexusSnapshotsStatusName#&nbsp;</div>
</div>