@*
  // Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/ScribeWebLibTest/Examples"))
<p><partial name="_MenuScribeWebLibTest" /></p>

<h4>URLs in href attributes</h4>

<ul>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/PDP-Nexus">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/PDP-Nexus</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/PORTAL/PDP-PORTAL">/NPDS/ScribeAdminResreps/ScribeNpdsRead/PORTAL/PDP-PORTAL</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/DOORS/PDP-DOORS">/NPDS/ScribeAdminResreps/ScribeNpdsRead/DOORS/PDP-DOORS</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Scribe/PDP-Scribe">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Scribe/PDP-Scribe</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Ashurbanipal">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Ashurbanipal</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Avicenna">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Avicenna</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Beacon">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Beacon</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/DaVinci">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/DaVinci</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Fidentinus">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Fidentinus</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Knuth">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Knuth</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Martialis">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Martialis</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Socrates">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Socrates</a></li>
</ul>

<ul>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/PDP-Nexus">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/PDP-Nexus</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/PORTAL/PDP-PORTAL">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/PORTAL/PDP-PORTAL</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/DOORS/PDP-DOORS">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/DOORS/PDP-DOORS</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Scribe/PDP-Scribe">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Scribe/PDP-Scribe</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Ashurbanipal">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Ashurbanipal</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Avicenna">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Avicenna</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Beacon">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Beacon</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/DaVinci">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/DaVinci</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Fidentinus">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Fidentinus</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Knuth">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Knuth</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Martialis">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Martialis</a></li>
  <li><a href="/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Socrates">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Socrates</a></li>
</ul>

<h4>Values in anchor tag helper attributes</h4>

<ul>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="PDP-Nexus">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/PDP-Nexus</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="PORTAL" asp-route-serviceTag="PDP-PORTAL">/NPDS/ScribeAdminResreps/ScribeNpdsRead/PORTAL/PDP-PORTAL</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="DOORS" asp-route-serviceTag="PDP-DOORS">/NPDS/ScribeAdminResreps/ScribeNpdsRead/DOORS/PDP-DOORS</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Scribe" asp-route-serviceTag="PDP-Scribe">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Scribe/PDP-Scribe</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Ashurbanipal">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Ashurbanipal</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Avicenna">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Avicenna</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Beacon">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Beacon</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="DaVinci">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/DaVinci</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Fidentinus">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Fidentinus</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Knuth">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Knuth</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Martialis">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Martialis</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Socrates">/NPDS/ScribeAdminResreps/ScribeNpdsRead/Nexus/Socrates</a></li>
</ul>

<ul>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Nexus" asp-route-serviceTag="PDP-Nexus">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/PDP-Nexus</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="PORTAL" asp-route-serviceTag="PDP-PORTAL">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/PORTAL/PDP-PORTAL</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="DOORS" asp-route-serviceTag="PDP-DOORS">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/DOORS/PDP-DOORS</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Scribe" asp-route-serviceTag="PDP-Scribe">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Scribe/PDP-Scribe</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Nexus" asp-route-serviceTag="Ashurbanipal">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Ashurbanipal</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Nexus" asp-route-serviceTag="Avicenna">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Avicenna</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Nexus" asp-route-serviceTag="Beacon">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Beacon</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Nexus" asp-route-serviceTag="DaVinci">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/DaVinci</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Nexus" asp-route-serviceTag="Fidentinus">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Fidentinus</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Nexus" asp-route-serviceTag="Knuth">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Knuth</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Nexus" asp-route-serviceTag="Martialis">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Martialis</a></li>
  <li><a asp-area="NPDS" asp-controller="ScribeAdminResreps" asp-action="ScribeNpdsWrite" asp-route-serviceType="Nexus" asp-route-serviceTag="Socrates">/NPDS/ScribeAdminResreps/ScribeNpdsWrite/Nexus/Socrates</a></li>
</ul>

