@{
  Layout = ViewBag.PRC.PageLayout;
}

@Html.Raw(ViewBag.PRC.FormatPageTitle("PDP/Anon/PasswordRequested"))

<p>
  A security token has been sent to you for resetting your password.
Please check your email and click on the confirmation link to complete the change.
</p>
