@{
  Layout = ViewBag.PRC.PageLayout;
}

@Html.Raw(ViewBag.PRC.FormatPageTitle("PDP/Anon/TokenConfirmed"))

<p>
  Your security token, email address and user account have been confirmed successfully.
</p>
