@{
  Layout = ViewBag.PRC.PageLayout;
}

@Html.Raw(ViewBag.PRC.FormatPageTitle("PDP/Anon/UserRegistered"))

<p>
  Thank you for registering.
  A security token has been sent to you for verification of your email address.
Please check your email and click on the confirmation link to complete
  your registration.
</p>
