@{
  Layout = ViewBag.PRC.PageLayout;
}

@Html.Raw(ViewBag.PRC.FormatPageTitle("PDP/Anon/UsernameRequested"))

<p>
  A security token has been sent to you for resetting your username.
  Please check your email and click on the confirmation link to complete the change.
</p>
