@*  
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/Site/Design"))
<p><partial name="_MenuSite" /></p>

<h4>PORTAL-DOORS Project NPDS Cyberinfrastructure System Design</h4>

<p>
  For comprehensive reports on NPDS, please refer to
  <a href="~/pub/docs/IEEETITB2008v12n2p191-204Taswell.pdf" target="_blank">
    DOORS to the Semantic Web and Grid With a PORTAL for Biomedical Computing
  </a>
  published online 3 August 2007 in the journal IEEE Transactions on Information Technology in Biomedicine
  and
  <a href="http://www.mdpi.com/1999-5903/2/2/156/" target="_blank">
    A Distributed Infrastructure for Metadata about Metadata: The HDMM Architectural Style and PORTAL-DOORS System
  </a>
  published online 1 June 2010 in the journal Future Internet.
  More recent information can be found in the documents available at
  @Html.ActionLink("PDP Papers", "Papers", "Site", new { area = "PDP" }).
  These reports contain explanations of the principles, concepts, models, schemas,
  URL and querystring designs used by PDP for NPDS.
</p>

<h4>Page Contents<a name="pcon">&nbsp;</a></h4>

<ul>
  <li>Abstract from 2006 <a href="#blueprint">Blueprint Paper</a> for the Nexus-PORTAL-DOORS System (NPDS)</li>
  <li>Hierarchically Distributed Mobile Metadata (<a href="#HDMM">HDMM</a>) as an Architectural Style</li>
  <li><a href="#ArchDes">Architectural Design</a> of NPDS Cyberinfrastructure</li>
  <li>Cyberinfrastructure System versus <a href="#CTA">Tools and Applications</a> versus Content</li>
  <li><a href="#GUS">General Usage Scenarios</a> for NPDS</li>
  <li><a href="#SUC">Specific Use Cases</a> for NPDS</li>
  <li><a href="#RoadMap">Development Roadmap</a> for NPDS</li>
</ul>
<p>
  See also other @Html.ActionLink("NPDS related papers and presentations", "Papers", "Site", new { area = "PDP" }).
</p>

<h4>Abstract from the original 2006 Blueprint Paper for the PORTAL-DOORS System<a name="blueprint">&nbsp;</a></h4>

<p>
  Title: <a href="http://www.portaldoors.org/pub/docs/IEEETITB2008v12n2p191-204Taswell_DOORS_to_the_Semantic_Web_and_Grid_with_a_PORTAL_for_Biomedical_Computing.pdf"
            target="other">DOORS to the Semantic Web and Grid with a PORTAL for Biomedical Computing</a>
</p>
<p>
  Abstract: The semantic web remains in the early stages of development. It has not yet achieved the
  goals envisioned by its founders as a pervasive web of distributed knowledge and intelligence. Success
  will be attained when a dynamic synergism can be created between people and a sufficient number of
  infrastructure systems and tools for the semantic web in analogy with those for the original web. The
  domain name system (DNS), web browsers, and the benefits of publishing web pages motivated many people
  to register domain names and publish web sites on the original web. An analogous resource label system,
  semantic search applications, and the benefits of collaborative semantic networks will motivate people
  to register resource labels and publish resource descriptions on the semantic web. The Domain Ontology
  Oriented Resource System (DOORS) and Problem Oriented Registry of Tags And Labels (PORTAL) are proposed
  as infrastructure systems for resource metadata within a paradigm that can serve as a bridge between
  the original web and the semantic web. The Internet Registry Information Service (IRIS) registers domain
  names while the Domain Name System (DNS) publishes domain addresses with mapping of names to addresses
  for the original web. Analogously, PORTAL registers resource labels and tags while DOORS publishes
  resource locations and descriptions with mapping of labels to locations for the semantic web. Beacon
  is proposed as a prototype PORTAL registry specific for the problem domain of biomedical computing.
</p>
<p>
  Citation: Carl Taswell, 2008, IEEE Transactions on Information Technology in Biomedicine Vol 12 No
  2 pages 191-204; manuscript received 31 October 2006, published online 3 August 2007.
</p>

<h4>Hierarchically Distributed Mobile Metadata (HDMM) as an Architectural Style<a name="HDMM">&nbsp;</a></h4>

<p>
  IRIS registries and DNS directories provide the model for the architectural style that inspired the
  design of PORTAL registries and DOORS directories. The most essential characteristics of this architectural
  style can be summarized by the following principles:
</p>
<ul>
  <li>
    Pervasively distributed and shared infrastructure, content, and control of content (including distributed
    and shared control over both the contribution and distribution of the content).
  </li>
  <li>
    A hierarchy of both authoritative and non-authoritative servers (root, primary, secondary, forwarding
    and caching servers, etc) enabling global interoperable communication while permitting local control
    of policies.
  </li>
  <li>A separation of concerns with registries for identification and directories for location.</li>
  <li>
    A freedom of choice in the selection of identifiers with purposeful absence of any requirement to
    use the <em>same</em> top-level root "name" or "label" for <em>all</em> identifiers, thus enabling
    essentially unrestricted choice of naming or labeling schemes for identification and avoiding monopolistic
    control by any single organization.
  </li>
  <li>
    A focus on moving the metadata for "who what where" as fast as possible from servers in response
    to requests from clients (that access non-authoritative local forwarding and caching servers updated
    regularly by the authoritative servers).
  </li>
</ul>
<p>
  Users of today's web browsers may not be familiar with the engineering of the hidden infrastructure
  system that enables them to navigate to any web site around the world. But it is the IRIS-DNS infrastructure
  system, which is responsible for registering domain names and mapping them to numerical IP addresses,
  that makes it possible for the user to browse the web in such an effortless manner almost always without
  ever typing or even seeing the numerical IP addresses.
</p>
<p>
  Moreover, from the user's perspective, what is most important now is that the speed of this conversion
  from domain name to IP address occurs so rapidly that the user does not experience it as a hindrance
  or delay in browsing. Even if the particular web page itself downloads and displays slowly, usually
  at least the web site address is found quickly. And that happens because the small amount of metadata
  (domain name and IP address) moves so quickly across the internet even if the larger amount of data
  (web page text and media) does not. Because of this important point, the phrase <em>
    Hierarchically Distributed
    Mobile Metadata (HDMM)
  </em> is introduced (9 May 2009) here as a name for this architectural style
  that characterizes both IRIS-DNS and PORTAL-DOORS.
</p>
<p>
  Whereas IRIS-DNS implements the HDMM architectural style for the original web, PORTAL-DOORS extends
  and implements this style for the semantic web and grid. Further, PORTAL-DOORS enhances the separation
  of concerns principle to include the additional notion of separately optimising directories for semantic
  services (with use of the RDF/OWL/SPARQL stack of technologies) and the registries for lexical services
  (with use of character string processing and only those XML technologies that do not require use of
  RDF triples). This separation of concerns enables the back-end use of traditional relational database
  stores for PORTAL registries and RDF-triple database stores for DOORS directories. Of course, hybrid
  stores can be used for both PORTAL and DOORS.
</p>

<h4>Architectural Design of PORTAL-DOORS System Infrastructure<a name="ArchDes">&nbsp;</a></h4>

<p>
  In accordance with the <a href="#HDMM">HDMM</a> architectural style, PORTAL-DOORS has been designed
  to serve the semantic web and grid in a manner analogous to the way that IRIS-DNS has served the original
  web. The blueprint paper (see <a href="#blueprint">abstract</a>) specifying the original design for
  PORTAL-DOORS was submitted to IEEE in 2006 by Carl Taswell, published online in 2007 at www.IEEE.org,
  and appeared in print in IEEE Transactions on Information Technology in Biomedicine 2008 Vol 12 No
  2 pages 191-204. The figures and tables below have been adapted from the original paper and updated
  with revisions. Note that the original <em>separate</em> design of PORTAL registries and DOORS directories
  has been supplemented with a new bootstrapping <em>combined</em> design with integrated NEXUS registrars.
  Both can coexist together.
</p>
<div style="text-align: center">
  <table border="1" width="900" cellpadding="9" cellspacing="0" style="margin: auto">
    <caption>
      Hierarchically Distributed Mobile Metadata Systems with Entity Registering and Attribute Publishing<a name="ERAP">&nbsp;</a>
    </caption>
    <thead align="left">
      <tr>
        <th>
          &nbsp;
        </th>
        <th>
          IRIS-DNS
        </th>
        <th>
          PORTAL-DOORS
        </th>
      </tr>
    </thead>
    <tbody align="left">
      <tr>
        <td style="white-space: nowrap">
          Dynamic metaphor
        </td>
        <td colspan="2">
          A distributed communications network brain of nodal neurons continuously updating, exchanging, and
          integrating messages with "who what where" information
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          Static metaphor
        </td>
        <td>
          A simple phonebook
        </td>
        <td>
          A sophisticated library card catalogue
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          Registering system
        </td>
        <td>
          IRIS registries
        </td>
        <td>
          PORTAL registries
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          -- Entity registered
        </td>
        <td>
          domain
        </td>
        <td>
          resource
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          -- Identified by
        </td>
        <td>
          unique name
        </td>
        <td>
          unique label (URI/IRI) with optional tags
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          Publishing system
        </td>
        <td>
          DNS directories
        </td>
        <td>
          DOORS directories
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          -- Attributes published
        </td>
        <td>
          address and aliases
        </td>
        <td>
          location and descriptions
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          -- Specified by
        </td>
        <td>
          IP number
        </td>
        <td>
          URIs/IRIs, URLs/IRLs, RDF triples referencing OWL ontologies
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          Forwards requests
        </td>
        <td>
          Yes
        </td>
        <td>
          Yes
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          Caches responses
        </td>
        <td>
          Yes
        </td>
        <td>
          Yes
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          Serves original web
        </td>
        <td>
          Yes via mapping of character name to numeric address
        </td>
        <td>
          Yes via mapping of character label to URL/IRL for IRIS-DNS
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          Serves semantic web
        </td>
        <td>
          No
        </td>
        <td>
          Yes via mapping of character label to semantic description
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          Crosslinks entities
        </td>
        <td>
          No
        </td>
        <td>
          Yes via mappings within DOORS descriptions to other resources
        </td>
      </tr>
      <tr>
        <td style="white-space: nowrap">
          Crosslinks systems
        </td>
        <td>
          No
        </td>
        <td>
          Yes via mappings with PORTAL crossreferences to other systems
        </td>
      </tr>
    </tbody>
  </table>
</div>
<p>
  &nbsp;
</p>
<div class="textcenter">
  <p style="text-align: center">
    <img alt="PORTAL-DOORS System Data Records" src="/pub/img/PdsAgentUser.png" width="800" />
  </p>
</div>
<p>
  Resource metadata is registered and published by agents for search by users in the PORTAL-DOORS server
  networks. <em>Semantic</em> services here are defined as those using the RDF/OWL/SPARQL stack of technologies,
  whereas <em>lexical</em> services are defined as those using only character string processing. Fields
  within data records are considered required or permitted with respect to the schemas maintained by
  the root servers. The figure above displays only the most important fields; for all fields, see reference
  model implemented with XML Schema.
</p>
<div class="textcenter">
  <p style="text-align: center">
    <img alt="PORTAL-DOORS System Server Network" src="/pub/img/PdsSepComModels.png" width="700" />
  </p>
</div>
<p>
  Resource metadata server networks for PORTAL registering of labels and tags and DOORS publishing of
  locations and descriptions are analogous to domain metadata server networks for IRIS registering of
  names and DNS publishing of addresses. Primary PORTAL registries may be established by any individual
  or organization with or without any local policies governing registration of resources. Examples shown
  here (GeneScene, BrainWatch, ManRay) implement policies with a problem-oriented focus on their respective
  specialty domains. Specific criteria for registration are determined by the local schema of the PORTAL
  primary which must nevertheless comply with the global requirements of the PORTAL root.
</p>
<p>
  Return to <a href="#pcon">Page Contents</a>
</p>

<h4>Infrastructure System versus Tools and Applications versus Content<a name="CTA">&nbsp;</a></h4>

<p>
  PORTAL-DOORS as a lower-level infrastructure system must be distinguished from higher-level tools and
  applications built on the foundation of the infrastructure. PORTAL-DOORS as a metadata management,
  communication, and distribution system must also be distinguished from the actual metadata that the
  infrastructure is designed to send, receive, and exchange throughout the system. Fundamentally, the
  PORTAL-DOORS System establishes an interoperable, platform-independent, application-independent, interface
  standard for information exchange over the internet with a design that is guided by the <a href="#HDMM">HDMM</a>
  architectural style, specified to fulfill additional requirements to serve both the original
  web and semantic web as described in the PORTAL-DOORS <a href="#blueprint">blueprint paper</a>, and
  currently partially detailed in a draft reference implementation written in XML Schema *.xsd files.
</p>
<p>
  Work to complete a reference implementation must clarify not only the structural data model for metadata
  records, but also the functional behavioral model for the PORTAL and DOORS services in response to
  requests from clients. Servers and clients must also communicate over transport protocols. The PORTAL-DOORS
  Project maintains a vision of serving more than one transport protocol as discussed in Section VII.E.
  of the PORTAL-DOORS <a href="#blueprint">blueprint paper</a>. Initial drafts (prior to version 0.5)
  assumed use of the IRIS core protocol. The current draft (version 0.5) addresses only the structural
  data model. The next draft (version 0.6) will re-introduce use of a specific transport protocol but
  replace the IRIS core protocol with an http protocol using a RESTful web services model. At present,
  in a bootstrapping stage of development for PORTAL-DOORS, web services do provide a more favorable
  environment for spreading adoption of the system. However, a fully dedicated and optimized protocol
  specifically for PORTAL-DOORS may ultimately prove necessary to achieve the speed and efficiency comparable
  to that which exists now for IRIS-DNS.
</p>
<p>
  As the PORTAL-DOORS System continues to be developed and implemented, any tool, application, or web
  site that accesses the PORTAL-DOORS System must be distinguished from the system itself. The PORTAL-DOORS
  System should not be considered either a single site or repository any more than the IRIS-DNS System
  of domain name registries and directories could be construed to be a single site or repository. For
  both IRIS-DNS and PORTAL-DOORS infrastructure systems, server data stores and client tools and applications
  can be written in any language on any platform. Client tools are necessary for agents to edit the information
  maintained at an individual server data store. Client tools are also necessary for agents and users
  to navigate, search and query the information stored not only at a particular server but also throughout
  the entire network of servers. These tools include faceted browsers, keyword search utilities, and
  SPARQL query interfaces.
</p>
<p>
  Even more complex applications can be built in which the navigation, search, and query tools may be
  embedded within more sophisticated applications that hide these tools from the user interface. An important
  example would be an application component that provides natural language answers to natural language
  questions in the context of the overall function of the software application. In this example, the
  component converts the user's natural language question to a SPARQL query submitted to the PORTAL-DOORS
  System, and then converts the response from the PORTAL-DOORS System to a natural language answer for
  presentation to the user.
</p>
<p>
  Return to <a href="#pcon">Page Contents</a>
</p>

<h4>General Usage Scenarios for the PORTAL-DOORS System<a name="GUS">&nbsp;</a></h4>

<p>
  PORTAL-DOORS has been designed to be as flexible as possible with both backward and forward compatibility
  from Web 1.0 to Web 3.0. Given the partition with non-semantic services on the PORTAL side and semantic
  services (with the RDF/OWL/SPARQL stack) on the DOORS side, and also the partition with both <em>required</em>
  and <em>permitted</em> elements for each of PORTAL and DOORS, there are many possible scenarios for
  usage of the entire PORTAL-DOORS System. Some examples include:
</p>
<ul>
  <li>
    Minimal use of required elements for both PORTAL and DOORS: This scenario essentially reduces use
    of the system to an alternative equivalent to <a href="http://www.purl.org/" target="other">PURLS</a>
    and other similar services.
  </li>
  <li>
    Maximal use of permitted elements for PORTAL but minimal use of required elements for DOORS: This
    scenario enables exploiting the full metadata management facilities of the PORTAL non-semantic services
    (which include provisions for tags, micro-formats, cross-references, etc) without any obligation to
    use the DOORS semantic services (that necessitate use of the RDF/OWL/SPARQL stack of technologies and
    tools). This scenario enables resource agents to publish metadata now in non-semantic formats and defer
    until later any possible transition to semantic formats which would then be facilitated by the prior
    staging in the non-semantic formats.
  </li>
  <li>
    Minimal use of required elements for PORTAL but maximal use of permitted elements for DOORS: This
    scenario serves those situations where there is no barrier to transition the metadata from original
    web formats to semantic web formats, and the resource owner and agent do not wish to maintain the metadata
    in both semantic and non-semantic formats. This scenario requires that the resource agent registering
    and publishing the metadata already has access to established ontologies that can be referenced by
    semantic tools for describing the resource.
  </li>
  <li>
    Maximal use of permitted elements for both PORTAL and DOORS: This usage scenario provides the significant
    benefit of exposing as much metadata as possible to as many clients as possible including both older
    non-semantic as well as newer semantic tools and applications.
  </li>
</ul>

<h4>Specific Use Cases for the PORTAL-DOORS System<a name="SUC">&nbsp;</a></h4>

<p>
  The original PORTAL-DOORS <a href="#blueprint">blueprint paper</a> discussed the following use cases:
</p>
<ul>
  <li>
    Assisting with organization of the "bioinformatics resourceome" and the description, discovery and
    use of resources for e-science, e-medicine, and e-business in health care and life sciences (see Section
    III).
  </li>
  <li>Cataloguing resources for biomedical computing (see Sections IV and VIII).</li>
  <li>Cataloguing patents and trademarks and relating them to products and services (see Section IX).</li>
  <li>
    Assisting with semantic search, decision support and knowledge management applications in translational
    research and drug discovery for personalized medicine (see Section XI).
  </li>
</ul>
<p>
  More detailed descriptions of examples in the context of translational research include the following
  use cases of PORTAL-DOORS as an information-seeking support system for:
</p>
<ul>
  <li>
    Pharmacogenomic molecular imaging (see AMIA <a href="http://www.portaldoors.org/pub/docs/AMIASTB2008Taswell0304P43_PORTAL-DOORS_Infrastructure_System_for_Translational_Biomedical_Informatics_on_the_Semantic_Web_and_Grid.pdf"
                                                   target="other">STB 2008 poster</a>).
  </li>
  <li>
    PET and SPECT brain imaging (see W3C HCLS <a href="http://www.portaldoors.org/pub/docs/W3CHCLS2009Taswell0430S_Biomedical_Informatics_for_Brain_Imaging_and_Gene-Brain-Behavior_Relationships.pdf"
                                                 target="other">F2F 2009 slides</a>).
  </li>
</ul>
<p>
  Although originally conceived and described in the context of health care and life sciences, the diversity
  of possible use cases for PORTAL-DOORS remains as universal as the diversity of possible use cases
  for IRIS-DNS.
</p>

<h4>Development Roadmap for PORTAL-DOORS System<a name="RoadMap">&nbsp;</a></h4>

<p>
  The PORTAL-DOORS Project maintains the following goals:
</p>
<ul>
  <li>Development of a complete specification model for the PORTAL-DOORS System.</li>
  <li>Development of a reference implementation with XML Schemas for the interoperable communication interfaces.</li>
  <li>
    Development of the software necessary for simple functional servers and clients to demonstrate the
    system.
  </li>
  <li>
    Demonstration of the system for the use cases of pharmacogenomic molecular imaging and brain imaging
    with the support of the prototype registries (BrainWatch, ManRay, GeneScene, etc) for the problem-oriented
    specialty domains relevant to these use cases.
  </li>
</ul>
<p>
  Currently, development plans envision following a roadmap with these milestones:
</p>
<ul>
  <li>
    Version 0.5: Current live implementation with back-end database and front-end web browser client
    for partial PORTAL functionality and partial DOORS functionality
  </li>
  <li>Version 0.6: Implementation as RESTful web services with both ASP.Net desktop and browser clients</li>
  <li>Version 0.7: Implementation of servers and clients for JAVA based environments</li>
  <li>
    Version 0.8: Completion and revision of lexical PORTAL functionality including terminology tools
  </li>
  <li>Version 0.9: Completion and revision of semantic DOORS functionality including ontology tools </li>
  <li>
    Version 1.0: Release of PORTAL-DOORS System model and schemas for an authoritative server
    at a single site
  </li>
  <li>
    Version 2.0: Multi-site functionality including security for distributed interacting authoritative
    servers
  </li>
  <li>
    Version 3.0: Multi-site functionality including provenance for distributed interacting non-authoritative
    servers operating with request forwarding and response caching amongst the distributed servers
  </li>
</ul>
<p>
  Return to <a href="#pcon">Page Contents</a>
</p>
