<span>
  <a asp-area="NPDS" asp-page="/Site/Index">Index</a> |
  <a asp-area="NPDS" asp-page="/Site/Help">Help</a> |
  <a asp-area="NPDS" asp-page="/Site/Info">Info</a> |
  <a asp-area="NPDS" asp-page="/Site/Design">Design</a> |
  <a asp-area="NPDS" asp-page="/Site/Papers">Papers</a> |
  <a asp-area="NPDS" asp-page="/Site/Privacy">Privacy</a>
</span>
