<span>
  <a asp-area="NPDS" asp-page="/CoreDataLibTest/Index">Index</a> |
  <a asp-area="NPDS" asp-page="/CoreDataLibTest/Examples">Examples</a> |
  <a asp-area="NPDS" asp-page="/CoreDataLibTest/PrcTest">PrcTest</a> |
  <a asp-area="NPDS" asp-page="/CoreDataLibTest/MvcRoutes">MvcRoutes</a> |
  <a asp-area="NPDS" asp-page="/CoreDataLibTest/MvcErrors">MvcErrors</a>
</span>
