<span>
  <a asp-area="NPDS" asp-page="/CoreDataLib/Index">Index</a> |
  <a asp-area="NPDS" asp-page="/CoreDataLib/Help">Help</a> |
  <a asp-area="NPDS" asp-page="/CoreDataLib/Diristries">Diristries</a> |
  <a asp-area="NPDS" asp-page="/CoreDataLib/Entities">Entities</a>
</span>
