<div>
    ScribeRestApiController Actions:
    <a asp-area="PDP" asp-controller="ScribeRestApi" asp-action="Index">Index</a> |
    <a asp-area="PDP" asp-controller="ScribeRestApi" asp-action="Help">Help</a>
</div>

