<span>
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="RestUser">User</a> |
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="RestAgent">Agent</a> |
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="RestAuthor">Author</a> |
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="RestEditor">Editor</a> |
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="RestAdmin">Admin</a> |
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="Examples">Examples</a> |
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="MvcRoutes">MvcRoutes</a> |
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="PrcTest">PrcTest</a> |
  <a asp-area="PDP" asp-controller="ScribeTestApi" asp-action="Help">Help</a>
</span>

