@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AuthScribe/UsernameChanged"))

<p>
  Your username has been changed.  You may now
  @Html.ActionLink("login", "LoginUser", "AnonScribe")
   again with your new username.
</p>
