@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
  //
  // Telerik Kendo Grid Page (TKGP acronym or Tkgp prefix/suffix)
*@

@{
  QebiUserRestContext qurc = Model.QURC;
}

<script id="ResrepRecordToolbar" type="text/x-kendo-template">
  @if (qurc.ClientHasScribeEditAccess)
  {
    <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  }
  <span id="ResrepRootStatus" class="pdpResrepStatus"></span>
  <span id="ResrepStemStatus" class="pdpResrepStatus"></span>
  <span id="ResrepLeafStatus" class="pdpResrepStatus"></span>
</script>

<script id="EntityLabelToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="EntityLabelStatus" class="pdpResrepStatus"></span>
</script>

<script id="SupportingTagToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="SupportingTagStatus" class="pdpResrepStatus"></span>
</script>

<script id="SupportingLabelToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="SupportingLabelStatus" class="pdpResrepStatus"></span>
</script>

<script id="CrossReferenceToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="CrossReferenceStatus" class="pdpResrepStatus"></span>
</script>

<script id="OtherTextToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="OtherTextStatus" class="pdpResrepStatus"></span>
</script>

<script id="LocationToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="LocationStatus" class="pdpResrepStatus"></span>
</script>

<script id="DescriptionToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="DescriptionStatus" class="pdpResrepStatus"></span>
</script>

<script id="ProvenanceToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="ProvenanceStatus" class="pdpResrepStatus"></span>
</script>

<script id="DistributionToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="DistributionStatus" class="pdpResrepStatus"></span>
</script>

<script id="FairMetricToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="FairMetricStatus" class="pdpResrepStatus"></span>
</script>

<script id="SnapshotToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="SnapshotStatus" class="pdpResrepStatus"></span>
</script>

<script id="ServiceDefaultToolbar" type="text/x-kendo-template">
  @if (qurc.ClientHasAdminAccess)
  {
    <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  }
  <span id="ServiceDefaultStatus" class="pdpResrepStatus"></span>
</script>
  
<script id="ServiceRestrictionAndToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="ServiceRestrictionAndStatus" class="pdpResrepStatus"></span>
</script>

<script id="ServiceRestrictionOrToolbar" type="text/x-kendo-template">
  <a class="k-button k-grid-add" role="button"><span class="k-icon k-i-plus" />Add new record</a>
  <span id="ServiceRestrictionOrStatus" class="pdpResrepStatus"></span>
</script>
