@{ Layout = ViewBag.PRC.PageLayout; }
@Html.Raw(ViewBag.PRC.FormatPageTitle("PDP/Auth/UsernameChanged"))

<p>
  Your username has been changed.  You may now
  @Html.ActionLink("login", "LoginUser", "Anon")
   again with your new username.
</p>
