@{
  var prc = ViewBag.PRC; Layout = prc.PageLayout;
}

@Html.Raw(prc.FormatPageTitle("PDP/ScribeRestApi/Examples"))

<p>Forwarding/caching only partially implemented at <a href="http://www.portaldoors.org/" target="PDPO">www.portaldoors.org</a>, not yet implemented at other sites, so currently not all requests should return records on all sites.</p>


<h4>BioPORT Nexus Diristry (GTG)</h4>
  Should return records:
  <ul>
    <li><a href="/Nexus/BioPORT/Ellitron">/Nexus/BioPORT/Ellitron</a></li>
    <li><a href="/Nexus/BioPORT/Ellitron?ef=0&vf=1">/Nexus/BioPORT/Ellitron?ef=0&vf=1</a></li>
    <li><a href="/Nexus/BioPORT/Ellitron?ef=1&vf=0">/Nexus/BioPORT/Ellitron?ef=1&vf=0</a></li>
    <li><a href="/Nexus/BioPORT/Ellitron?ef=1&vf=1">/Nexus/BioPORT/Ellitron?ef=1&vf=1</a></li>
    <li><a href="/Nexus/BioPORT/Ellitron?ef=1&vf=1&cf=1">/Nexus/BioPORT/Ellitron?ef=1&vf=1&cf=1</a></li>
    <li><a href="/Nexus/BioPORT/ELIDA?ef=1&vf=1&cf=1">/Nexus/BioPORT/ELIDA?ef=1&vf=1&cf=1</a></li>
    <li><a href="/Nexus/BioPORT/Organization/AnyAndAll?lc=5&ef=1&vf=1">/Nexus/BioPORT/Organization/AnyAndAll?lc=5&ef=1&vf=1</a></li>
    <li><a href="/Nexus/BioPORT/ComputingTool/AnyAndAll?lc=5&ef=1&vf=1">/Nexus/BioPORT/ComputingTool/AnyAndAll?lc=5&ef=1&vf=1</a></li>
    <li><a href="/Nexus/BioPORT/?lc=10&ef=1&vf=1">/Nexus/BioPORT/?lc=10&ef=1&vf=1</a></li>
    <li><a href="/Nexus/BioPORT/?tagany=ELIDA&qf=1&ef=1&vf=1">/Nexus/BioPORT/?tagany=ELIDA&qf=1&ef=1&vf=1</a></li>
    <li><a href="/Nexus/BioPORT/?tagsup=assay&qf=0&ef=1&vf=1">/Nexus/BioPORT/?tagsup=assay&qf=0&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/Ellitron">http://npds.portaldoors.org/Nexus/BioPORT/Ellitron</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/Ellitron?ef=0&vf=1">http://npds.portaldoors.org/Nexus/BioPORT/Ellitron?ef=0&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/Ellitron?ef=1&vf=0">http://npds.portaldoors.org/Nexus/BioPORT/Ellitron?ef=1&vf=0</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/Ellitron?ef=1&vf=1">http://npds.portaldoors.org/Nexus/BioPORT/Ellitron?ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/Organization/AnyAndAll?lc=5&ef=1&vf=1">http://npds.portaldoors.org/Nexus/BioPORT/Organization/AnyAndAll?lc=5&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/ComputingTool/AnyAndAll?lc=5&ef=1&vf=1">http://npds.portaldoors.org/Nexus/BioPORT/ComputingTool/AnyAndAll?lc=5&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/?lc=10&ef=1&vf=1">http://npds.portaldoors.org/Nexus/BioPORT/?lc=10&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/?tagany=ELIDA&qf=1&ef=1&vf=1">http://npds.portaldoors.org/Nexus/BioPORT/?tagany=ELIDA&qf=1&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/?tagsup=assay&qf=0&ef=1&vf=1">http://npds.portaldoors.org/Nexus/BioPORT/?tagsup=assay&qf=0&ef=1&vf=1</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/BioPORT/Ellitron?ef=0&vf=1">http://npds.biomedicalcomputing.net/Nexus/BioPORT/Ellitron?ef=0&vf=1</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/BioPORT/Ellitron?ef=1&vf=0">http://npds.biomedicalcomputing.net/Nexus/BioPORT/Ellitron?ef=1&vf=0</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/BioPORT/Ellitron?ef=1&vf=1">http://npds.biomedicalcomputing.net/Nexus/BioPORT/Ellitron?ef=1&vf=1</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/BioPORT/Organization/AnyAndAll?lc=5&ef=1&vf=1">http://npds.biomedicalcomputing.net/Nexus/BioPORT/Organization/AnyAndAll?lc=5&ef=1&vf=1</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/BioPORT/ComputingTool/AnyAndAll?lc=5&ef=1&vf=1">http://npds.biomedicalcomputing.net/Nexus/BioPORT/ComputingTool/AnyAndAll?lc=5&ef=1&vf=1</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/BioPORT/?lc=10&ef=1&vf=1">http://npds.biomedicalcomputing.net/Nexus/BioPORT/?lc=10&ef=1&vf=1</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/BioPORT/?tagany=ELIDA&qf=1&ef=1&vf=1">http://npds.biomedicalcomputing.net/Nexus/BioPORT/?tagany=ELIDA&qf=1&ef=1&vf=1</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/BioPORT/?tagsup=assay&qf=0&ef=1&vf=1">http://npds.biomedicalcomputing.net/Nexus/BioPORT/?tagsup=assay&qf=0&ef=1&vf=1</a></li>
  </ul>
  Should NOT return any records:
  <ul>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/BrainWatch/ABA">http://npds.biomedicalcomputing.net/Nexus/BrainWatch/ABA</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/GeneScene/ACMG">http://npds.biomedicalcomputing.net/Nexus/GeneScene/ACMG</a></li>
    <li><a href="http://npds.biomedicalcomputing.net/Nexus/ManRay/ABNM">http://npds.biomedicalcomputing.net/Nexus/ManRay/ABNM</a></li>
  </ul>
<h4>BrainWatch Nexus Diristry (BHA)</h4>
  Should return records:
  <ul>
    <li><a href="/Nexus/BrainWatch/ABA">/Nexus/BrainWatch/ABA</a></li>
    <li><a href="/Nexus/BrainWatch/?lc=50&ef=1&vf=1">/Nexus/BrainWatch/?lc=50&ef=1&vf=1</a></li>
    <li><a href="/Nexus/BrainWatch/Organization/AnyAndAll?lc=5&ef=1&vf=1">/Nexus/BrainWatch/Organization/AnyAndAll?lc=5&ef=1&vf=1</a></li>
    <li><a href="/Nexus/BrainWatch/?tagany=PDF&qf=1&ef=1&vf=1">/Nexus/BrainWatch/?tagany=PDF&qf=1&ef=1&vf=1</a></li>
    <li><a href="/Nexus/BrainWatch/?tagsup=psych&qf=0&ef=1&vf=1">/Nexus/BrainWatch/?tagsup=psych&qf=0&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BrainWatch/ABA">http://npds.portaldoors.org/Nexus/BrainWatch/ABA</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BrainWatch/?lc=50&ef=1&vf=1">http://npds.portaldoors.org/Nexus/BrainWatch/?lc=50&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BrainWatch/Organization/AnyAndAll?lc=5&ef=1&vf=1">http://npds.portaldoors.org/Nexus/BrainWatch/Organization/AnyAndAll?lc=5&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BrainWatch/?tagany=PDF&qf=1&ef=1&vf=1">http://npds.portaldoors.org/Nexus/BrainWatch/?tagany=PDF&qf=1&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BrainWatch/?tagsup=psych&qf=0&ef=1&vf=1">http://npds.portaldoors.org/Nexus/BrainWatch/?tagsup=psych&qf=0&ef=1&vf=1</a></li>
    <li><a href="http://npds.brainwatch.net/Nexus/BrainWatch/ABA">http://npds.brainwatch.net/Nexus/BrainWatch/ABA</a></li>
    <li><a href="http://npds.brainwatch.net/Nexus/BrainWatch/?lc=50&ef=1&vf=1">http://npds.brainwatch.net/Nexus/BrainWatch/?lc=50&ef=1&vf=1</a></li>
    <li><a href="http://npds.brainwatch.net/Nexus/BrainWatch/Organization/AnyAndAll?lc=5&ef=1&vf=1">http://npds.brainwatch.net/Nexus/BrainWatch/Organization/AnyAndAll?lc=5&ef=1&vf=1</a></li>
    <li><a href="http://npds.brainwatch.net/Nexus/BrainWatch/?tagany=PDF&qf=1&ef=1&vf=1">http://npds.brainwatch.net/Nexus/BrainWatch/?tagany=PDF&qf=1&ef=1&vf=1</a></li>
    <li><a href="http://npds.brainwatch.net/Nexus/BrainWatch/?tagsup=psych&qf=0&ef=1&vf=1">http://npds.brainwatch.net/Nexus/BrainWatch/?tagsup=psych&qf=0&ef=1&vf=1</a></li>
  </ul>
  Should NOT return any records:
  <ul>
    <li><a href="http://npds.brainwatch.net/Nexus/BioPORT/Ellitron">http://npds.brainwatch.net/Nexus/BioPORT/Ellitron</a></li>
    <li><a href="http://npds.brainwatch.net/Nexus/GeneScene/ACMG">http://npds.brainwatch.net/Nexus/GeneScene/ACMG</a></li>
    <li><a href="http://npds.brainwatch.net/Nexus/ManRay/ABNM">http://npds.brainwatch.net/Nexus/ManRay/ABNM</a></li>
  </ul>
<h4>CTGaming Nexus Diristry (GTG)</h4>
  Should return records:
  <ul>
    <li><a href="/Nexus/CTGaming/wattgaming">/Nexus/CTGaming/wattgaming</a></li>
    <li><a href="/Nexus/CTGaming/?lc=20&ef=1&vf=1">/Nexus/CTGaming/?lc=20&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/CTGaming/wattgaming">http://npds.portaldoors.org/Nexus/CTGaming/wattgaming</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/CTGaming/?lc=20&ef=1&vf=1">http://npds.portaldoors.org/Nexus/CTGaming/?lc=20&ef=1&vf=1</a></li>
    <li><a href="http://npds.clinicaltelegaming.net/Nexus/CTGaming/wattgaming">http://npds.clinicaltelegaming.net/Nexus/CTGaming/wattgaming</a></li>
    <li><a href="http://npds.clinicaltelegaming.net/Nexus/CTGaming/?lc=20&ef=1&vf=1">http://npds.clinicaltelegaming.net/Nexus/CTGaming/?lc=20&ef=1&vf=1</a></li>
  </ul>
  Should NOT return any records:
  <ul>
    <li><a href="http://npds.clinicaltelegaming.net/Nexus/BioPORT/Ellitron">http://npds.clinicaltelegaming.net/Nexus/BioPORT/Ellitron</a></li>
    <li><a href="http://npds.clinicaltelegaming.net/Nexus/BrainWatch/ABA">http://npds.clinicaltelegaming.net/Nexus/BrainWatch/ABA</a></li>
    <li><a href="http://npds.clinicaltelegaming.net/Nexus/GeneScene/ACMG">http://npds.clinicaltelegaming.net/Nexus/GeneScene/ACMG</a></li>
    <li><a href="http://npds.clinicaltelegaming.net/Nexus/ManRay/ABNM">http://npds.clinicaltelegaming.net/Nexus/ManRay/ABNM</a></li>
  </ul>

<h4>Eywa Nexus Diristry (BHA)</h4>
  Should return records:
  <ul>
    <li><a href="/Nexus/Eywa/ibc-et">/Nexus/Eywa/ibc-et</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/Eywa/ibc-et">http://npds.portaldoors.org/Nexus/Eywa/ibc-et</a></li>
    <li><a href="http://npds.bhaconservation.net/Nexus/Eywa/ibc-et">http://npds.bhaconservation.net/Nexus/Eywa/ibc-et</a></li>
  </ul>
  Should NOT return any records:
  <ul></ul>

<h4>Gaia Nexus Diristry (BHA)</h4>
  Should return records:
  <ul>
    <li><a href="/Nexus/Gaia/tnc">/Nexus/Gaia/tnc</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/Gaia/tnc">http://npds.portaldoors.org/Nexus/Gaia/tnc</a></li>
    <li><a href="http://npds.bhaconservation.net/Nexus/Gaia/tnc">http://npds.bhaconservation.net/Nexus/Gaia/tnc</a></li>
  </ul>
  Should NOT return any records:
  <ul></ul>

<h4>GeneScene Nexus Diristry (GTG)</h4>
  Should return records:
  <ul>
    <li><a href="/Nexus/GeneScene/ACMG?ef=1&vf=1">/Nexus/GeneScene/ACMG?ef=1&vf=1</a></li>
    <li><a href="/Nexus/GeneScene/?lc=30&ef=1&vf=1">/Nexus/GeneScene/?lc=30&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/GeneScene/ACMG?ef=1&vf=1">http://npds.portaldoors.org/Nexus/GeneScene/ACMG?ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/GeneScene/?lc=30&ef=1&vf=1">http://npds.portaldoors.org/Nexus/GeneScene/?lc=30&ef=1&vf=1</a></li>
    <li><a href="http://npds.genescene.net/Nexus/GeneScene/ACMG?ef=1&vf=1">http://npds.genescene.net/Nexus/GeneScene/ACMG?ef=1&vf=1</a></li>
    <li><a href="http://npds.genescene.net/Nexus/GeneScene/?lc=30&ef=1&vf=1">http://npds.genescene.net/Nexus/GeneScene/?lc=30&ef=1&vf=1</a></li>
  </ul>
  Should NOT return any records:
  <ul>
    <li><a href="http://npds.genescene.net/Nexus/BioPORT/Ellitron">http://npds.genescene.net/Nexus/BioPORT/Ellitron</a></li>
    <li><a href="http://npds.genescene.net/Nexus/BrainWatch/ABA">http://npds.genescene.net/Nexus/BrainWatch/ABA</a></li>
    <li><a href="http://npds.genescene.net/Nexus/ManRay/ABNM">http://npds.genescene.net/Nexus/ManRay/ABNM</a></li>
  </ul>
<h4>HELPME Nexus Diristry (BHA)</h4>
  Should return records:
  <ul>
    <li><a href="/Nexus/HELPME/AHRQ">/Nexus/HELPME/AHRQ</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/HELPME/AHRQ">http://npds.portaldoors.org/Nexus/HELPME/AHRQ</a></li>
    <li><a href="http://npds.bhahealth.net/Nexus/HELPME/AHRQ">http://npds.bhahealth.net/Nexus/HELPME/AHRQ</a></li>
  </ul>
  Should NOT return any records:
  <ul></ul>

<h4>ManRay Nexus Diristry (GTG)</h4>
  Should return records:
  <ul>
    <li><a href="/Nexus/ManRay/ABNM?ef=1&vf=1">/Nexus/ManRay/ABNM?ef=1&vf=1</a></li>
    <li><a href="/Nexus/ManRay/?lc=30&ef=1&vf=1">/Nexus/ManRay/?lc=30&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/ManRay/ABNM?ef=1&vf=1">http://npds.portaldoors.org/Nexus/ManRay/ABNM?ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/ManRay/?lc=30&ef=1&vf=1">http://npds.portaldoors.org/Nexus/ManRay/?lc=30&ef=1&vf=1</a></li>
    <li><a href="http://npds.nucmedlib.net/Nexus/ManRay/ABNM?ef=1&vf=1">http://npds.nucmedlib.net/Nexus/ManRay/ABNM?ef=1&vf=1</a></li>
    <li><a href="http://npds.nucmedlib.net/Nexus/ManRay/?lc=30&ef=1&vf=1">http://npds.nucmedlib.net/Nexus/ManRay/?lc=30&ef=1&vf=1</a></li>
  </ul>
  Should NOT return any records:
  <ul>
    <li><a href="http://npds.nucmedlib.net/Nexus/BioPORT/Ellitron">http://npds.nucmedlib.net/Nexus/BioPORT/Ellitron</a></li>
    <li><a href="http://npds.nucmedlib.net/Nexus/BrainWatch/ABA">http://npds.nucmedlib.net/Nexus/BrainWatch/ABA</a></li>
    <li><a href="http://npds.nucmedlib.net/Nexus/GeneScene/ACMG">http://npds.nucmedlib.net/Nexus/GeneScene/ACMG</a></li>
  </ul>
  <h4>
    NLM MeSH Nexus Diristry
  </h4>
  Should return records:
  <ul>
    <li><a href="http://npds.portaldoors.org/Nexus/nlmmesh/d000001">http://npds.portaldoors.org/Nexus/nlmmesh/d000001</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/nlmmesh/?tagany=d000001&qf=0&vf=1">http://npds.portaldoors.org/Nexus/nlmmesh/?tagany=d000001&qf=0&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/nlmmesh/?enam=informatics&qf=1&vf=1">http://npds.portaldoors.org/Nexus/nlmmesh/?enam=informatics&qf=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/nlmmesh/?lc=11&vf=1&ef=1">http://npds.portaldoors.org/Nexus/nlmmesh/?lc=11&vf=1&ef=1</a></li>
  </ul>
  Should NOT return any records:
  <ul>
    <li><a href="http://npds.portaldoors.org/Nexus/BioPORT/d000001">http://npds.portaldoors.org/Nexus/BioPORT/d000001</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/BrainWatch/d000001">http://npds.portaldoors.org/Nexus/BrainWatch/d000001</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/GeneScene/d000001">http://npds.portaldoors.org/Nexus/GeneScene/d000001</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/ManRay/d000001">http://npds.portaldoors.org/Nexus/ManRay/d000001</a></li>
  </ul>
<h4>Osler Nexus Diristry (GTG)</h4>
  Should return records:
  <ul>
    <li><a href="/Nexus/Osler/AHIC?ef=1&vf=1">/Nexus/Osler/AHIC?ef=1&vf=1</a></li>
    <li><a href="/Nexus/Osler/?lc=30&ef=1&vf=1">/Nexus/Osler/?lc=30&ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/Osler/AHIC?ef=1&vf=1">http://npds.portaldoors.org/Nexus/Osler/AHIC?ef=1&vf=1</a></li>
    <li><a href="http://npds.portaldoors.org/Nexus/Osler/?lc=30&ef=1&vf=1">http://npds.portaldoors.org/Nexus/Osler/?lc=30&ef=1&vf=1</a></li>
    <li><a href="http://npds.genescene.net/Nexus/Osler/AHIC?ef=1&vf=1">http://npds.genescene.net/Nexus/Osler/AHIC?ef=1&vf=1</a></li>
    <li><a href="http://npds.genescene.net/Nexus/Osler/?lc=30&ef=1&vf=1">http://npds.genescene.net/Nexus/Osler/?lc=30&ef=1&vf=1</a></li>

  </ul>
  Should NOT return any records:
  <ul></ul>

<h4>SOLOMON Nexus Diristry (BHA)</h4>
<ul>
  <li>@Html.RouteLink("~/Nexus/SOLOMON?ef=1&vf=1&lc=11", "NpdsResrepsByQuerystr", new { serverType = "Nexus", serviceTag = "SOLOMON", ef = "1", vf = "1", lc = "11" })</li>
  <li>@Html.RouteLink("~/Nexus/SOLOMON/NIF?ef=1&vf=1", "NpdsResrepsByEntityTag", new { serverType = "Nexus", serviceTag = "SOLOMON", entityTag = "NIF", ef = "1", vf = "1" })</li>
</ul>
  <hr />
  <h4>
    Nexus Diristries for BHA, GTG, PDP Scribe Registrars
  </h4>
  <ul>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/BioPORT">http://npds.portaldoors.org/npds/Nexus/BioPORT</a></li>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/BrainWatch">http://npds.portaldoors.org/npds/Nexus/BrainWatch</a></li>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/CTGaming">http://npds.portaldoors.org/npds/Nexus/CTGaming</a></li>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/Eywa">http://npds.portaldoors.org/npds/Nexus/Eywa</a></li>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/Gaia">http://npds.portaldoors.org/npds/Nexus/Gaia</a></li>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/GeneScene">http://npds.portaldoors.org/npds/Nexus/GeneScene</a></li>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/HELPME">http://npds.portaldoors.org/npds/Nexus/HELPME</a></li>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/ManRay">http://npds.portaldoors.org/npds/Nexus/ManRay</a></li>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/Osler">http://npds.portaldoors.org/npds/Nexus/Osler</a></li>
    <li><a href="http://npds.portaldoors.org/npds/Nexus/Solomon">http://npds.portaldoors.org/npds/Nexus/Solomon</a></li>
  </ul>
