@{
  var prc = ViewBag.PRC; Layout = prc.PageLayout;
}

@Html.Raw(prc.FormatPageTitle())

<p>
  You are registered as a Resource Record Agent
  and may request and/or release resource metadata records on this server.
</p>
