@*
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@model PdpDreamIndex
@{
  var prc = Model.PRC;
  Layout = prc.RazorMvcLayoutPage;
}

@Html.Raw(prc.FormatPageTitle("PDP/DREAM/Index"))
<p><partial name="_MenuPdpDream" /></p>
