@*
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@model PdpDreamPapers
@{
  var prc = Model.PRC;
  Layout = prc.RazorMvcLayoutPage;
}

@Html.Raw(prc.FormatPageTitle("PDP/DREAM/Papers"))
<p><partial name="_MenuPdpDream" /></p>

<h4>PORTAL-DOORS Project NPDS Cyberinfrastructure System Papers</h4>

<ul>
  <li>
    Anousha Athreya, S Koby Taswell, Sohyb Mashkoor, and Carl Taswell, 2020,
    <a name="TransAI2020EEE" target="_blank" href="~/pub/docs/TransAI2020EQEEE0923.pdf">
      Essential Question: 'Equal or Equivalent Entities?' About Two Things as Same, Similar, or Different
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/TransAI49837.2020.00028">10.1109/TransAI49837.2020.00028</a>
    presented September 2020 at the
    <a target="_blank" href="https://www.transai.org/">2nd International Conference on Transdisciplinary Artificial Intelligence (TransAI)</a>
    <blockquote>
      We discuss definitions of entities, equality, and equivalence as used by a transdisciplinary diversity of research fields including mathematics, statistics, computational linguistics, computer programming, knowledge engineering, and music theory. Declaring definitions for these concepts in the situational context of each domain specific field supports the essential question 'Equal or equivalent entities?' about two things as same, similar, related, or different for that field. Pattern recognition performed by artificial intelligence applications can be described as the automated process of answering this fundamental question about the similarity or difference between two things.
    </blockquote>
  </li>
  <li>
    Shreya Choksi, Peter Hong, Sohyb Mashkoor, and Carl Taswell, 2020,
    <a name="TransAI2020LINKS" target="_blank" href="~/pub/docs/TransAI2020LINKS0923.pdf">
      NPDSLINKS: Nexus-PORTAL-DOORS-Scribe Learning Intelligence aNd Knowledge System
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/TransAI49837.2020.00027">10.1109/TransAI49837.2020.00027</a>
    presented September 2020 at the
    <a target="_blank" href="https://www.transai.org/">2nd International Conference on Transdisciplinary Artificial Intelligence (TransAI)</a>
    <blockquote>
      With the continuing growth in use of large complex data sets for artificial intelligence applications (AIA), unbiased methods should be established for assuring the validity and reliability of both input data and output results. Advancing such standards will help to reduce problems described with the aphorism 'Garbage In, Garbage Out' (GIGO). This concern remains especially important for AIA tools that execute within the environment of interoperable systems which share, exchange, convert, and/or interchange data and metadata such as the Nexus-PORTAL-DOORS-Scribe (NPDS) cyberinfrastructure and its associated Learning Intelligence aNd Knowledge System (LINKS) applications. The PORTAL-DOORS Project (PDP) has developed the NPDS cyberinfrastructure with lexical PORTAL registries, semantic DOORS directories, hybrid Nexus diristries, and Scribe registrars. As a self-referencing and self-describing system, the NPDS cyberinfrastructure has been designed to operate as a pervasive distributed network of data repositories compliant with the Hierarchically Distributed Mobile Metadata (HDMM) architectural style. Building on the foundation of the NPDS cyberinfrastructure with its focus on data, PDP has now introduced LINKS applications with their focus on algorithms and analysis of the data. In addition, PDP has launched a pair of new websites at NPDSLINKS.net and NPDSLINKS.org which will serve respectively as the root of the NPDS cyberinfrastructure and the home for definitions and standards on quality descriptors and quantitative measures to evaluate the data contained within NPDS records. Prototypes of these descriptors and measures for use with NPDS and LINKS are introduced in this report. PDP envisions building better AIA and preventing the unwanted phenomenon of GIGO by using the combination of metrics to detect and reduce bias from data, the NPDS cyberinfrastructure for the data, and LINKS applications for the algorithms.
    </blockquote>
  </li>
  <li>
    S. Koby Taswell, Kelechi Uhegbu, Sohyb Mashkoor, Shiladitya Dutta, and Carl Taswell, 2020,
    <a name="ASIST2020SBDMF" target="_blank" href="~/pub/docs/ASIST2020SBDMF1022.pdf">
      Storing Bibliographic Data in Multiple Formats with the NPDS Cyberinfrastructure
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1002/pra2.428">10.1002/pra2.428</a>
    presented with poster October 2020 at the
    <a target="_blank" href="https://www.asist.org/am20/">83rd ASIS&amp;T Annual Meeting of the Association for Information Science and Technology</a>
    <blockquote>
      The PORTAL-DOORS Project (PDP) aims to develop
      the Nexus-PORTAL-DOORS-Scribe (NPDS) Cyberinfrastructure
      as a distributed network of data repositories that
      communicate with each other using a common message exchange
      standard. These data repositories include a collection of servers
      with a system of registries, directories, and diristries for diverse
      resources including bibliographic information records. Examples
      of resource metadata representations can be viewed at PDP participating
      websites. Until now, PDP has not supported convenient
      import or export of bibliographic records to or from any of the
      common bibliographic standards. In this report, we describe our
      progress on our new PDP utilities for interoperability between
      the format for NPDS records and various bibliographic formats
      such as BIBFRAME, MARC, RIS, and BibLaTeX. We will detail
      the import process when using a converter that transforms
      bibliographic citations in other formats and stores them in an
      NPDS diristry. Improved interoperability for conversion between
      bibliographic records in other traditional formats with the NPDS
      format will support a variety of use cases that require either
      lexical and/or semantic parsing of cited references.
    </blockquote>
  </li>
  <li>
    S. Koby Taswell, Christopher Triggle, June Vayo, Shiladitya Dutta, and Carl Taswell, 2020,
    <a name="ASIST2020HHGuide" target="_blank" href="~/pub/docs/ASIST2020HHGuide1022.pdf">
      The Hitchhiker's Guide to Scholarly Research Integrity
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1002/pra2.223">10.1002/pra2.223</a>
    presented with <a target="_blank" href="~/pub/docs/BHA202042HHG0610.pdf">hyperlinked version</a> and
    <a target="_blank" href="~/pub/docs/ASIST2020HHGSlides0902.pdf">slides</a>
    October 2020 at the
    <a target="_blank" href="https://www.asist.org/am20/">83rd ASIS&amp;T Annual Meeting of the Association for Information Science and Technology</a>
    <blockquote>
      The pursuit of truth in research should be both an
      ideal in aspiration and also a reality in practice. The PORTAL-DOORS
      Project (PDP) strives to promote creative authenticity,
      fair citation, and adherence to integrity and ethics in scholarly
      research publishing using the FAIR family of quantitative metrics
      with acronym FAIR for the phrases Fair Attribution to Indexed
      Reports and Fair Acknowledgment of Information Records, and the
      DREAM principles with acronym DREAM for the phrase Discoverable
      Data with Reproducible Results for Equivalent Entities
      with Accessible Attributes and Manageable Metadata. This report
      presents formalized definitions for idea-laundering plagiarism
      by authors, idea-bleaching censorship by editors, and proposed
      assertion claims for authors, reviewers, editors, and publishers in
      ethical peer-reviewed publishing to support integrity in research.
      All of these principles have been implemented in version 2 of the
      PDP-DREAM ontology written in OWL 2. This PDP-DREAM
      ontology will serve as the model foundation for development of a
      software-guided workflow process intended to manage the ethical
      peer-reviewed publishing of web-enabled open access journals
      operated online with PDP software.
    </blockquote>
  </li>
  <li>
    Shiladitya Dutta, Kelechi Uhegbu, Sathvik Nori, Sohyb Mashkoor, S. Koby Taswell, and Carl Taswell, 2020,
    <a name="ICSC2020PDPDREAM" target="_blank" href="~/pub/docs/ICSC2020PDPDREAM191222.pdf">
      DREAM Principles from the PORTAL-DOORS Project and NPDS Cyberinfrastructure
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/ICSC.2020.00044">10.1109/ICSC.2020.00044</a>
    presented February 2020 at the
    <a target="_blank" href="https://www.ieee-icsc.org/">14th IEEE International Conference on Semantic Computing</a>
    in San Diego, California.
    <blockquote>
      The PORTAL-DOORS Project (PDP) has been
      pursued to develop the Nexus-PORTAL-DOORS-Scribe (NPDS)
      cyberinfrastructure as a distributed network system of data
      repositories to manage lexical and semantic data and metadata
      from and/or about online and offline resources. Designed
      with the Hierarchically Distributed Mobile Metadata (HDMM)
      architectural style in a manner analogous to IRIS-DNS, the
      NPDS cyberinfrastructure provides distributed multilevel metadata
      management as an open, flexible, and extensible networked
      system of independent community customizable who-what-where
      registries, directories, and diristries for identifying, describing,
      locating, and linking things on the internet, web and grid.
      In the current work reported here, we combined our original
      principles from PDP, HDMM, and NPDS together with additional
      principles for scientific reproducibility and social engineering
      related to our family of quantitative metrics with acronym FAIR
      for Fair Attribution to Indexed Reports and Fair Acknowledgment
      of Information Records.We call this new consolidated collection of
      principles the DREAM principles with acronym DREAM for the
      phrase Discoverable Data with Reproducible Results for Equivalent
      Entities with Accessible Attributes and Manageable Metadata. To
      codify these DREAM principles as a concrete artifact for the
      semantic web, and thus to operationalize their use, we developed
      an OWL 2.0 ontology that we named the PDP-DREAM ontology.
    </blockquote>
  </li>
  <li>
    Adam Craig, Adarsh Ambati, Shiladitya Dutta, Arush Mehrotra, S. Koby Taswell, and Carl Taswell, 2019,
    <a name="ASIST2019Craig" target="_blank" href="~/pub/docs/ASIST2019FairMetrics0611.pdf">
      Definitions, Formulas, and Simulated Examples for Plagiarism Detection with FAIR Metrics
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1002/pra2.6">10.1002/pra2.6</a>
    presented with <a target="_blank" href="~/pub/docs/ASIST2019TaswellSlides1020c.pdf">slides</a>  October 2019 at the
    <a target="_blank" href="https://www.asist.org/am19/">82nd Annual Meeting of the Association for Information Science &amp; Technology</a>
    in Melbourne, Australia.
    <blockquote>
      In prior work, we proposed a family of metrics as a tool to quantify adherence to or deviation from good citation practices
      in scholarly research and publishing. We called this family of metrics FAIR as an acronym for Fair Attribution  to Indexed Reports and
      Fair Acknowledgment of Information Records, and introduced definitions for these metrics with counts of instances of correct or incorrect attribution or nonattribution
      in primary research articles with citations for previously published references. In the present work, we extend our FAIR family of metrics by introducing a collection
      of ratio-based metrics to accompany the count-based metrics described previously. We illustrate the mathematical properties of the ratio-based metrics with various simulated
      examples in order to assess their suitability as a means of identifying papers under peer review as more or less likely to be suspicious for plagiarism. These FAIR metrics would
      alert peer reviewers to prioritize low-scoring manuscripts for closer scrutiny. Finally, we outline our planned strategy for future validation of the FAIR metrics with an approach
      using both expert human analysts and automated algorithms for computerized analysis.
    </blockquote>
  </li>
  <li>
    Shiladitya Dutta, Pooja Kowshik, Adarsh Ambati, Sathvik Nori, S. Koby Taswell, and Carl Taswell, 2019,
    <a name="eScience2019Dutta" target="_blank" href="~/pub/docs/BCDC2019PdpDemo0817.pdf">
      Managing Scientific Literature with Software from the PORTAL-DOORS Project
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/eScience.2019.00081">10.1109/eScience.2019.00081</a>
    presented with <a target="_blank" href="~/pub/docs/BCDC2019SlidesDutta0923.pdf">slides</a>
    and <a target="otherzip" href="~/pub/mp4/PdpDemoVideo20190924.zip">demo video</a> September 2019 at the
    <a target="_blank" href="https://bc2dc.github.io">Bridging from Concepts to Data and Computation for eScience (BC2DC'19) Workshop</a>
    of the
    <a target="_blank" href="https://escience2019.sdsc.edu">IEEE 15th International Conference on eScience</a>
    in San Diego, California.  See also IEEE Xplore
    <a target="_blank" href="https://ieeexplore.ieee.org/xpl/conhome/1001511/all-proceedings">eScience conference series proceedings</a>.
    <blockquote>
      Scholarly research associated with finding and citing scientific literature in the 21st century
      requires new approaches to address the continuing problems that occur with the provenance of content
      in the literature as well as the peer and editorial review process for publishing this literature.
      The PORTAL-DOORS Project (PDP) has developed software for the Nexus-PORTAL-DOORS-Scribe (NPDS) cyberinfrastructure
      in support of identifying, describing, locating and linking things on the internet, web and grid with both
      lexical and semantic tools and applications.
      This presentation of our PDP software will highlight Discoverable Data with Reproducible Results for Equivalent Entities
      with Accessible Attributes and Manageable Metadata with the DREAM principles, and the
      Fair Acknowledgment of Information Records also called the Fair Attribution to Indexed Reports with the FAIR metrics.
      This software demonstration will explain use of the network of metadata repositories for scientific literature accessible
      from <a target="_blank" href="http://www.portaldoors.org">www.portaldoors.org</a>,
      and use of the open source software that powers the NPDS cyberinfrastructure, PDP web sites and PDP web services.
      Our PDP software for the NPDS cyberinfrastructure will be released publicly at this presentation of the software
      where we will also discuss challenges in the peer review process that include plagiarism detection.
    </blockquote>
  </li>
  <li>
    Adam Craig, Adarsh Ambati, Shiladitya Dutta, Pooja Kowshik, Sathvik Nori, S. Koby Taswell, Qiyuan Wu, and Carl Taswell, 2019,
    <a name="ECAI2019Craig" target="_blank" href="~/pub/docs/ECAI2019DREAMFAIR0618.pdf">
      DREAM Principles and FAIR Metrics from the PORTAL-DOORS Project for the Semantic Web
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/ECAI46879.2019.9042003">10.1109/ECAI46879.2019.9042003</a>
    presented with <a target="_blank" href="~/pub/docs/ECAI2019TaswellSlides0628.pdf">slides</a>  June 2019 at the
    <a target="_blank" href="http://www.ecai.ro/">11th Annual IEEE International Conference on Electronics, Computers and Artificial Intelligence</a>
    in Pitesti, Romania.
    <blockquote>
      Articles published in <i>Scientific Data</i> by Wilkinson <i>et al.</i> argued for the adoption of the Findable, Accessible, Interoperable,
      and Reusable (FAIR) principles of data management without citing any of the prior work published by Taswell.
      However, these principles were first proposed and described by Taswell in 2006 as the foundation for work on the PORTAL-DOORS
      Project (PDP) and the Nexus-PORTAL-DOORS-Scribe (NPDS) cyberinfrastructure, and have been published in numerous
      conference presentations, journal articles, and patents.
      This work on PDP and NPDS has been continuously available since
      2007 from a publicly accessible web site at <a target="_blank" href="http://www.portaldoors.org">www.portaldoors.org</a>, and discussed in person at conferences with several key authors
      of the Wilkinson <i>et al.</i> papers.
      Paraphrasing without citing the PDP and NPDS principles while renaming them as the FAIR
      principles raises questions about both the ‘FAIRness’ and the fairness of the authors of the Wilkinson <i>et al.</i> papers.
      Promoting these principles with the use of the term ‘metrics’, which are not metrics by definition of the term metric as used in most
      fields of science, also raises questions about their commitment to maintaining consistency of usage for basic terminology across
      different fields of science as should be expected for terms in ontology mapping with knowledge engineering for the semantic
      web. Therefore, in the present report, we clarify the origin of their FAIR principles by identifying our PDP and NPDS principles
      that constitute the historical precedent for their FAIR principles.
      Moreover, as the comprehensively summarizing phrase for all of our PDP and NPDS principles, we rename them the DREAM
      principles with the acronym DREAM for
      <i>Discoverable Data with Reproducible Results for Equivalent Entities with Accessible Attributes and Manageable Metadata.</i>
      Finally, we define numerically valid quantitative FAIR metrics to monitor and measure the
      DREAM principles from the perspective of the most important principle, ie, the <i>Fair Acknowledgment of Information Records</i> and
      <i>Fair Attribution to Indexed Reports</i>, for maintaining fair standards of citation in scholarly research and publishing.
    </blockquote>
  </li>
  <li>
    Shiladitya Dutta and Carl Taswell, 2018,
    <a name="ICBI2018Dutta" target="_blank" href="~/pub/docs/ICBI2018B277SDCT1209.pdf">
      SPARQL-Based Search Engine and Agent for Finding Brain Literature and Converting References to NPDS Metadata Records
    </a>
    presented December 2018 as Abstract B277 at the
    <a target="_blank" href="https://uta.engineering/conferences/bi-2018/">11th International Conference on Brain Informatics</a>
    in Arlington, Texas.
    <blockquote>
      We describe CoVaSEA (Concept-Validating Search Engine Agent): an automated web crawler/query engine that is
      interoperable with the Nexus-PORTAL-DOORS System. The Nexus-PORTAL-DOORS System (NPDS) is a data management system that
      organizes repositories of lexical metadata (in PORTAL servers) and semantic representations (in DOORS servers) of resources. Due to
      the purpose built hybridized nature of NPDS, it is well placed to perform a variety of data analysis tasks. However, many of these tasks
      require records of semantic descriptions which are labor intensive to create and maintain due to the substantial and rapidly increasing
      quantities of brain related literature available on the open web. To remedy this, we created CoVaSEA with the intention of providing an
      automated method for users to navigate and expand the semantic records of brain literature in the NPDS directories. To this end,
      CoVaSEA integrates multiple features which benefit NPDS including: (A) An implementation of SPARQL query based search to allow
      retrieval and manipulation of RDF descriptions, (B) Targeted web-crawling for relevant articles from external biomedical literature
      databases to broaden NPDS records, and (C) Translation of free-form text into RDF triples to derive the semantic portrayals of lexical data.
      CoVaSEA consists of three principal components: the web-crawler, the lexical to semantic converter, and the SPARQL query engine. The
      web crawler retrieves articles along with their basic metadata (title, abstract, author(s), etc.) from several of biomedical literature databases
      via REST API. However, in order to capture a full semantic description of the data in each article, key RDF triples which describe the
      abstract are constructed. First, each of the unique nouns in the passage are registered via coreference resolution and pronomial
      anaphora. Then the sentences are parsed into constituency tree format so that the subject(s), verb(s), and object(s) can be extracted.
      Once the SVO triples are extracted, they are transformed into valid RDF by assigning unique resource identifiers (URI) to each part of the
      triples. This is accomplished by using various databases (i.e. MeSH) for terminology and select named entities, word sense
      disambiguation for standard words, and literals for any other sections. These triples are stored via the Scribe API in either a DOORS
      directory or a localized triplestore where they can be retrieved via the SPARQL query engine. In order to create a more conducive user
      experience, the query engine supports the capability to construct SPARQL queries from expressions in conjunctive normal form, thus
      circumventing the need to know SPARQL syntax. With the distinct advantage that the system is automated, CoVaSEA presents the
      capability to search “externally” to furnish large numbers of brain-related literature descriptions on a regular basis and search “internally” to
      provide a method of retrieving those descriptions, thus laying the groundwork for a variety of future NPDS applications for which semantic
      metadata stores of brain literature are a functional necessity.
    </blockquote>
  </li>
  <li>
    Adam Craig and Carl Taswell, 2018,
    <a name="SEPDA2018Craig" target="_blank" href="~/pub/docs/SEPDA2018ACCT1114.pdf">
      Formulation of FAIR Metrics for Primary Research Articles
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/BIBM.2018.8621399">10.1109/BIBM.2018.8621399</a>
    presented December 2018 at the
    <a target="_blank" href="http://semantics-powered.org/">SEPDA Workshop</a> held at the
    <a target="_blank" href="http://orienta.ugr.es/bibm2018/">IEEE 2018 BIBM Conference</a>
    in Madrid, Spain.
    <blockquote>
      Measuring the merits of a scholarly article
      only by how often other articles or social media posts
      cite it creates a perverse incentive for authors to avoid
      citing potential rivals. To uphold established standards of
      scholarship, institutions should also consider one or more
      metrics of how appropriately an article cites relevant prior
      work. This paper describes the general characteristics of
      the FAIR Attribution to Indexed Reports (FAIR) family of
      metrics, which we have designed for this purpose. We
      formulate five FAIR metrics suitable for use with primary research
      articles. Two measure adherence to best practices:
      number of correctly attributed background statements
      and number of genuinely original claims. Three measure
      specific deviations from best practices: number of misattributed
      background statements, number of background
      statements with missing references, and number of claims
      falsely indicated as original. We conclude with a discussion
      of plans to implement a web application for calculating
      metric values of scholarly works described by records in
      Nexus-PORTAL-DOORS System (NPDS) servers.
    </blockquote>
  </li>
  <li>
    Adam Craig and Carl Taswell, 2018,
    <a name="SigMet2018Craig" target="_blank" href="~/pub/docs/SigMet2018ACCT0813paper.pdf">
      The FAIR Metrics of Adherence to Citation Best Practices
    </a>
    with <a target="_blank" href="~/pub/docs/SigMet2018ACCT1108poster.pdf">poster</a>
    presented November 2018 at the SIGMET Workshop
    <a target="_blank" href="https://www.asist.org/SIG/SIGMET/workshop/metrics-2018/">Metrics 2018</a> held at the
    <a target="_blank" href="https://www.asist.org/am18/">2018 ASIS&T Annual Meeting</a>
    of the Association for Information Science &amp; Technology
    in Vancouver, British Columbia.
    <blockquote>
      Measuring the merits of scholarly research articles only by citation counts and how often other
      research articles or social media messages cite a particular publication creates a perverse incentive
      for some authors to refrain from citing potential rivals. This dilemma has developed despite
      the historical publishing standard expected in peer review for citing and discussing related prior
      work. To encourage and support a countervailing incentive, research organizations should also
      consider metrics for how well and appropriately a scholarly article cites relevant prior work in
      the spirit of the classic phrase and metaphor standing on the shoulders of giants. We present a
      proposal for a family of such article-level metrics called the FAIR metrics and described as the
      FAIR Attribution to Indexed Reports or the FAIR Acknowledgment of Information Records.
    </blockquote>
  </li>
  <li>
    Adam G Craig, Seung-Ho Bae, Carl Taswell, 2017,
    <a target="_blank" href="~/pub/docs/SWAT4LS2017ACSBCT1204.pdf">
      Message Exchange between Independent Implementations of Servers in the Nexus-PORTAL-DOORS System
    </a>
    presented December 2017 at the
    <a target="_blank" href="http://www.swat4ls.org/workshops/rome2017/">10th International SWAT4HCLS Conference</a> in Rome, Italy; published as
    <a target="_blank" href="http://ceur-ws.org/Vol-2042/paper6.pdf">CEUR Workshop Proceedings Vol 2042 Paper 6</a>.
    <blockquote>
      To search and summarize research on biomedical questions, reasoning agents require access to high-quality semantic markup. The Nexus-PORTAL-DOORS v1.0 API and message exchange format empower organizations to manage and share their own collections of lexical
      metadata and RDF descriptions of knowledge resources. In this systems demonstration, NPDS servers built on Microsoft’s .NET framework distribute records to NPDS servers built on the MEAN solution stack for caching and distribution to clients.
    </blockquote>
  </li>
  <li>
    Adam G Craig, Seung-Ho Bae, Carl Taswell, 2017,
    <a target="_blank" href="~/pub/docs/BMIC2017ACSBCT0611.pdf">
      Bridging the Semantic and Lexical Webs: Concept-Validating and Hypothesis-Exploring Ontologies for the Nexus-PORTAL-DOORS System
    </a>
    presented July 2017 at the
    <a target="_blank" href="http://www.iiis2017.org/BMIC/">Special Track on Bio- and Medical Informatics and Cybernetics: BMIC 2017</a>
    in the context of the 21st Multi-conference on Systemics, Cybernetics and Informatics: WMSCI 2017 Orlando, Florida;
    published as <a target="_blank" href="http://www.iiisci.org/journal/sci/Abstract.asp?var=&id=BA947YN17">JSCI 2017 Vol 15 Num 5 pages 8-13</a>;
    see also XML and RDF files for
    <a target="otherzip" href="~/pub/code/NPDS09/NpdsXmlRdfV093-20170731.zip">NPDS v0.9.3 schemas and ontologies</a>.
    <blockquote>
      The Nexus-PORTAL-DOORS System (NPDS) has
      been designed with the Hierarchically Distributed Mobile
      Metadata (HDMM) architectural style to provide
      an infrastructure system for managing both lexical
      and semantic metadata about both virtual and
      physical entities. We describe here how compatibility
      between version 0.9 of the NPDS schema, the new
      NPDS-interfacing ontologies, and the domain-specific
      concept-validating hypothesis-exploring ontologies allows
      NPDS to bootstrap the semantic web onto the
      more developed lexical web. We then describe how
      this system will serve as the foundation of a planned
      platform for automated meta-analysis.
    </blockquote>
  </li>
  <li>
    Seung-Ho Bae, Adam G Craig, Carl Taswell, 2017,
    <a target="_blank" href="~/pub/docs/EMBC2017FI2451.pdf">
      Expanding Nexus Diristries of Dementia Literature with the NPDS Concept-Validating Search Engine Agent
    </a>
    with <a target="_blank" href="~/pub/docs/EMBC2017SBACCT0705.pdf">poster</a>
    presented July 2017 at the
    <a target="_blank" href="https://embc.embs.org/2017/">39th Annual International Conference of the IEEE Engineering in Medicine and Biology Society</a>
    in Jeju Island, South Korea;
    see also a <a target="otherzip" href="~/pub/mp4/CoVaSEADemoVideo20170727.zip">video demo</a> of CoVaSEA Software.
    <blockquote>
      Even though online databases make it easier than
      ever to access the biomedical and scientific literature about
      dementia, accelerating growth in the size of these databases
      has made it more difficult for humans to gather and analyze
      manually all articles relevant to any given topic. We document
      a Nexus-PORTAL-DOORS System (NPDS) Concept-Validating
      Search Engine Agent that can populate Nexus diristries with
      concept-validated metadata records for citations of journal
      articles found in literature databases.
    </blockquote>
  </li>
  <li>
    Adam Craig, Seung-Ho Bae, Teja Veeramacheneni, S Koby Taswell, Carl Taswell, 2016,
    <a target="_blank" href="~/pub/docs/SWAT4LS2016ACSBCT1117.pdf">
      Web Service APIs for Scribe Registrars, Nexus Diristries, PORTAL Registries and DOORS Directories in the NPD System
    </a>
    presented December 2016 at the
    <a target="_blank" href="http://www.swat4ls.org/">9th International SWAT4LS Conference</a>
    in Amsterdam, Netherlands.
    <blockquote>
      The Nexus-PORTAL-DOORS System (NPDS) has been designed
      with the Hierarchically Distributed Mobile Metadata (HDMM)
      architectural style to provide an infrastructure system for managing both
      lexical and semantic metadata about both virtual and physical entities.
      We describe version 0.8 of NPDS, including the separation of concerns
      between the original Problem-Oriented Registry of Tags And Labels
      (PORTAL) registries and the Domain Ontology Oriented Resource System
      (DOORS) directories, the combined registry and directory functionality
      of Nexus diristries, and the RESTful read-only web service API through
      which resource representation metadata records can be retrieved from
      these NPDS servers. We also introduce Scribe registrars with a
      corresponding RESTful read-write web service API for management of
      metadata records by both software agents accessing the web services directly
      and human users accessing them indirectly via web applications.
    </blockquote>
  </li>
  <li>
    Martin Skarzynski, Adam Craig, Carl Taswell, 2015,
    <a target="_blank" href="~/pub/docs/BIBM2015MSACCT4p1017.pdf">
      SOLOMON: An Ontology for Sensory-Onset, Language-Onset and Motor-Onset Dementias
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/BIBM.2015.7359814">10.1109/BIBM.2015.7359814</a>
    presented November 2015 at the
    <a target="_blank" href="https://cci.drexel.edu/ieeebibm/bibm2015/">IEEE International Conference on Bioinformatics and Biomedicine</a>
    in Washington DC.
    <blockquote>
      The PORTAL-DOORS system (PDS) has been designed
      as a resource metadata management system intended to
      support applications such as automated searches of online resources
      and meta-analyses of published literature. PDS comprises
      a network of Problem Oriented Registry of Tags and Labels
      (PORTAL) lexical registries and Domain Ontology Oriented Resource
      System (DOORS) semantic directories. Here we introduce
      a PDS-compliant concept-validating registry and hypothesisexploring
      ontology that organizes focal-onset dementias including
      Sensory-Onset, Language-Onset and Motor-ONset (SOLOMON)
      dementias with novel classifying and relating concepts. This
      approach facilitates semantic search of resources and exploration
      of hypotheses related to neurodegeneration. SOLOMON
      interoperates with other PDS registries and ontologies including
      BrainWatch, ManRay and GeneScene.
    </blockquote>
  </li>
  <li>
    S Koby Taswell, Adam Craig, Diana Leung, Stephan Loh, Martin Skarzynski, Sara Gharabaghi, Bohan Zhou, Carl Taswell, 2015,
    <a target="_blank" href="~/pub/docs/WRSNM2015TnT1p1020.pdf">
      Hypothesis-Exploring Methods for Automated Meta-Analyses of Brain Imaging Literature
    </a>
    presented October 2015 at the
    <a target="_blank" href="http://www.wrsnm.org/event/2015-western-region-snm-annual-meeting/">Annual Meeting of the Western Region Society of Nuclear Medicine</a>
    in Monterey, California.
    <blockquote>
      The PORTAL-DOORS system (PDS) has been designed as a resource metadata management system
      intended to support applications such as automated searches of online resources and meta-analyses of
      published literature. We present a methodological approach with a PDS-compliant concept-validating registry
      and hypothesis-exploring ontology that organizes focal-onset dementias including
      Sensory-Onset, Language-Onset and Motor-ONset(SOLOMON) dementias with novel classifying and relating concepts.
      This approach facilitates semantic search of resources and exploration of hypotheses related to neurodegeneration.
      SOLOMON interoperates with other PDS registries and ontologies including BrainWatch, ManRayand GeneScene.
    </blockquote>
  </li>
  <li>
    Daniel Lockery, James Peters, Carl Taswell, 2011,
    <a target="_blank" href="~/pub/docs/JETWI2011v3n1p28-37LockeryPetersTaswell_4131-10145-1-PB.pdf">
      CTGaming: A Problem-Oriented Registry for Clinical TeleGaming Rehabilitation and Intervention
    </a>
    published in February 2011 Journal of Emerging Technologies in Web Intelligence 3(1):28-37.
    <blockquote>
      A clinical telegaming registry, called CTGaming, has been added as a new Problem-Oriented Registry
      of Tags And Labels (PORTAL) to the collection of prototype PORTAL registries for ongoing development
      of the PORTAL-DOORS System (PDS). As a distributed system of interacting PORTAL registries and DOORS
      directories, PDS provides metadata management services for who-what-where metadata about both online
      and offline resources. For the CTGaming PORTAL, the scope of the problem-oriented specialty domain
      for the registry encompasses gaming in physiotherapy, rehabilitation and intervention via telecare,
      and in general, diagnostic and therapeutic telegaming. This new PORTAL registry has also been incorporated
      into the design of an existing clinical telegaming system (CTGS). Operating as an adaptive gaming application
      for telerehabilitation, the CTGS functions either locally in a clinical care setting or remotely in
      a telecare setting in patients' homes. Operating in concert with the CTGS, the CTGaming PORTAL has
      been established as a host for metadata representations of resources in the field of clinical telegaming
      with metadata representations for resources relevant to the CTGS served upon request. These resources
      may include external resources from the public web as well as internal resources such as telegaming
      session data from the private medical records associated with the CTGS.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2010,
    <a target="_blank" href="~/pub/docs/BIBM2010Taswell1107_05703953.pdf">
      A New PDS PORTAL for Clinical TeleGaming Rehabilitation and Intervention
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/BIBMW.2010.5703953">10.1109/BIBMW.2010.5703953</a>
    presented December 2010 at the IEEE BIBM Conference, Hong Kong, China.
    <blockquote>
      A registry for resources relevant to Clinical TeleGaming, called CTGaming, has been added as a new
      Problem Oriented Registry of Tags And Labels (PORTAL) to the collection of prototype PORTAL registries
      for ongoing development of the PORTAL-DOORS System (PDS). As a distributed system of interacting PORTAL
      registries and DOORS directories, PDS provides management services for who-what-where metadata about
      both online and offline resources. For the CTGaming PORTAL, the scope of the problem-oriented specialty
      domain for the registry encompasses gaming in physiotherapy, rehabilitation and intervention via telecare,
      and in general, diagnostic and therapeutic telegaming.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2010,
    <a target="_blank" href="~/pub/docs/IDAMAP2010p78-79Taswell0830.pdf">
      Concept Validating Methods for Maintaining the Integrity of Problem Oriented Domains in the PORTAL-DOORS System
    </a>
    presented November 2010 at the AMIA IDAMAP Conference, Washington DC.
    <blockquote>
      As a distributed system of interacting PORTAL registries and DOORS directories, the PORTAL-DOORS System
      (PDS) provides management services for who-what-where metadata about both online and offline resources.
      PDS has been designed to facilitate search of varying scope both within and across registries and directories
      focused on different problem oriented domains. Maintaining the integrity of these problem oriented
      domains remains an essential requirement for maintaining the efficiency of search throughout the system.
      This report describes the new methods used in PDS to distinguish different specialty domains and demonstrates
      the approach for several registries including GeneScene and ManRay with concepts such as genes and
      radiopharmaceuticals. Metadata records are now tested by concept validating methods for the presence
      of any concepts required for each problem oriented domain. Invalid records are moved to a more appropriate
      registry or else deleted.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2010,
    <a target="_blank" href="~/pub/docs/WRSNM2010Taswell1019.pdf">
      The ManRay Project in Biomedical Informatics for Nuclear Medicine and PharmacoGenomic Molecular Imaging
    </a>
    presented October 2010 at the WRSNM Conference, Garden Grove, California.
    <blockquote>
      The ManRay Ontology for Nuclear Medicine has been updated for OWL 2 and incorporated with the ManRay
      Registry in the PORTAL-DOORS System (PDS) for management of resource metadata on the semantic web.
      Use of this ontology and registry will facilitate exchange of data for basic research or clinical trials
      involving nuclear medicine and pharmacogenomic molecular imaging for personalized medicine.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2010,
    <a target="_blank" href="~/pub/docs/FutInt2010v2n2p156-189Taswell.pdf">
      A Distributed Infrastructure for Metadata about Metadata: The HDMM Architectural Style and PORTAL-DOORS System
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.3390/fi2020156">10.3390/fi2020156</a>
    submitted 30 December 2009, published online 1 June 2010 Future Internet 2(2):156-189.
    <blockquote>
      Both the IRIS-DNS System and the PORTAL-DOORS System share a common
      architectural style for pervasive metadata networks that operate as distributed metadata management
      systems with hierarchical authorities for entity registering and attribute publishing.
      Hierarchical control of metadata redistribution throughout the registry-directory networks
      constitutes an essential characteristic of this architectural style called Hierarchically Distributed
      Mobile Metadata (HDMM) with its focus on moving the metadata for <i>who what where</i> 
      as fast as possible from servers in response to requests from clients. The novel concept
      of multilevel <i>metadata about metadata</i> has also been defined for the PORTAL-DOORS
      System with the use of entity, record, infoset, representation and message metadata. Other
      new features implemented include the use of aliases, priorities and metaresources.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2010,
    <a target="_blank" href="~/pub/docs/HealthGrid2010Taswell0423A.pdf">
      Use of NLM Medical Subject Headings with the MeSH2010 Thesaurus in the PORTAL-DOORS System
    </a>
    presented June 2010 at the IMIA 8th HealthGrid Conference, Paris, France.
    <blockquote>
      The NLM MeSH Thesaurus has been incorporated for use in the PORTAL-DOORS System (PDS) for resource
      metadata management on the semantic web. All 25588 descriptor records from the NLM 2010 MeSH Thesaurus
      have been exposed as web accessible resources by the PDS MeSH2010 Thesaurus implemented as a PDS PORTAL
      Registry operating as a RESTful web service. Examples of records from the PDS MeSH2010 PORTAL are demonstrated
      along with their use by records in other PDS PORTAL Registries that reference the concepts from the
      MeSH2010 Thesaurus. Use of this important biomedical terminology will greatly enhance the quality of
      metadata content of other PDS records thus improving cross-domain searches between different problem
      oriented domains and amongst different clinical specialty fields.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2010,
    <a target="_blank" href="~/pub/docs/US8886628B1.pdf">
      Management of Multilevel Metadata in the PORTAL-DOORS System with Bootstrapping
    </a>
    published in USPTO provisional application filed 25 May 2010, application filed 19 May 2011, patent issued 11 Nov 2014, with USPTO patent number US 8,886,628 B1.
    <blockquote>
      The PORTAL-DOORS System has been designed as a distributed network system with hierarchical authorities
      for entity registering and attribute publishing of mobile metadata. An alternate bootstrapping
      design with self-referencing and self-describing features has been implemented with an integrated model
      for the combined registry-directories that co-exists with the independent model for the separate registries
      and directories. The concept of multilevel metadata about metadata has been implemented with the use
      of entity, record, infoset, representation and message metadata. This multilevel metadata about metadata
      improves the efficiency of search and analysis of the metadata content within the networked system. The
      methods facilitate search of varying scope both within and across the registries, directories and registrydirectories
      focused on different problem oriented domains. Maintaining the integrity of these problem
      oriented domains serves to improve the efficiency of search throughout the system.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2010,
    <a target="_blank" href="~/pub/docs/AMIACRI2010Taswell0312P33.pdf">
      Use of the MeSH Thesaurus in the PORTAL-DOORS System
    </a>
    presented March 2010 at the AMIA Summit on Clinical Research Informatics, San Francisco.
    <blockquote>
      The NLM MeSH Thesaurus has been
      incorporated for use in the PORTAL-DOORS
      System (PDS) for resource metadata
      management on the semantic web. Use of
      this important biomedical terminology will
      greatly enhance the quality of metadata
      content of the PDS records thus improving
      cross-registry searches between different
      clinical specialty fields.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2009,
    <a target="_blank" href="~/pub/docs/ISPAN2009Taswell0914A3908a315.pdf">
      The Hierarchically Distributed Mobile Metadata (HDMM) Style of Architecture for Pervasive Metadata Networks
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/I-SPAN.2009.73">10.1109/I-SPAN.2009.73</a>
    presented December 2009 at the
    IEEE 10th International Symposium on Pervasive Systems, Algorithms and Networks (ISPAN), Kiaosiung, Taiwan.
    <blockquote>
      The Internet Registry Information Service (IRIS) registers domain names while the Domain Name System
      (DNS) publishes domain addresses with mapping of names to addresses for the original web. Analogously,
      the Problem Oriented Registry of Tags And Labels (PORTAL) registers resource labels and tags while
      the Domain Ontology Oriented Resource System (DOORS) publishes resource locations and descriptions
      with mapping of labels to locations for the semantic web. Both the IRIS-DNS System and the PORTAL-DOORS
      System share a common architectural style for pervasive metadata networks that operate as distributed
      metadata management systems with hierarchical authorities for entity registering and attribute publishing.
      Hierarchical control of metadata redistribution throughout the registry-directory networks constitutes
      an essential characteristic of this architectural style called Hierarchically Distributed Mobile Metadata
      (HDMM) with its focus on moving the metadata for who what where as fast as possible from servers in
      response to requests from clients.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2009,
    <a target="_blank" href="~/pub/docs/SKG2009Taswell0808A3810a026.pdf">
      Knowledge Engineering for PharmacoGenomic Molecular Imaging of the Brain
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/SKG.2009.101">10.1109/SKG.2009.101</a>
    presented October 2009 at the IEEE 5th International Conference on Semantics Knowledge Grid (SKG), Zhuhai, China.
    <blockquote>
      Schizophrenia, Alzheimer's disease, Parkinson's disease, and other neuropsychiatric degenerative disorders
      and dementias impose an enormous economic and psychosocial burden on society, communities, and families.
      In order to gain a better understanding of gene-brain-behavior relationships, improve treatment, and
      find cures for these diseases, translational research must be conducted with clinical trials of new
      drugs and other interventions followed by genotyping and imaging biomarkers for patients with these
      neuropyschiatric degenerative disorders. This research, involving pharmacogenomic molecular imaging
      of the brain, will be extremely costly in many ways. Therefore, knowledge engineering with effective
      software tools and applications built upon a semantic-enabled informatics infrastructure remains a
      necessary prerequisite to facilitate a reduction of those research costs by maximizing the benefit
      obtained from existing data and minimizing the cost of generating new data. A knowledge engineering
      framework that serves this goal must operate in a cross-disciplinary manner that integrates data from
      diverse biomedical fields while at the same time incorporating the relevant computational mathematics,
      statistics, and informatics analyses for productive data mining.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2009,
    <a target="_blank" href="~/pub/docs/W3CHCLS2009Taswell0430S.pdf">
      Biomedical Informatics for Brain Imaging and Gene-Brain-Behavior Relationships
    </a>
    presented April 2009 at the <a target="_blank" href="~/pub/docs/W3CHCLS-F2FMeeting20090430.pdf">W3C HCLS F2F Meeting</a>, Cambridge, Massachusetts.
    <blockquote>
      Slides from a talk with Q&amp;A discussion on the PORTAL-DOORS Project for the semantic web and grid with
      brain imaging informatics as the motivating context and application.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2009,
    <a target="_blank" href="~/pub/docs/ITSemWeb2009Taswell0422B.pdf">
      Alternative Bootstrapping Design for the PORTAL-DOORS Cyberinfrastructure with Self-Referencing and Self-Describing Features
    </a>
    published in 2009 as a book chapter in Semantic Web, IN-TECH Publishing, Vienna, Austria.
    <blockquote>
      A new bootstrapping combined design for PDS, together with the original separate design
      for PDS, has been implemented for NEXUS registrars, PORTAL registries, and DOORS
      directories and demonstrated with the problem-oriented domains declared for the
      GeneScene, ManRay, BioPORT, and BrainWatch prototype registries. The combined design
      has many important advantages during early stages of PDS adoption and use. However, the
      separate design will become useful when concerns about performance, efficiency, and
      scalability become more significant.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2009,
    <a target="_blank" href="~/pub/docs/AMIASTB2009Taswell0315S2.pdf">
      Application of the PORTAL-DOORS System for Use by Clinical Trials Registries
    </a>
    presented March 2009 at the AMIA 2009 Summit on Translational Bioinformatics, San Francisco, California.
    <blockquote></blockquote>
  </li>
  <li>
    Carl Taswell, 2009,
    <a target="_blank" href="~/pub/docs/AMIASTB2009Taswell0315P1.pdf">
      Implementation of Prototype Biomedical Registries for PORTAL-DOORS
    </a>
    presented March 2009 at the AMIA 2009 Summit on Translational Bioinformatics, San Francisco, California.
    <blockquote>
      Software implementation of the architectural design
      for the PORTAL-DOORS cyberinfrastructure
      system for resource metadata management on the
      semantic web has resulted in code for prototype
      registries in various problem-oriented domains: the
      GeneScene registry for genetics, ManRay for
      nuclear medicine, BrainWatch for brain imaging
      and neuropsychiatry, and BioPORT for biomedical
      computing. These registries facilitate translational
      bioinformatics by assuring globally unique
      identification of resources while promoting
      interoperability and enabling cross registry
      searches between different specialty fields.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2008,
    <a target="_blank" href="~/pub/docs/AMIASTB2008Taswell0304P43.pdf">
      PORTAL-DOORS Infrastructure System for Translational Biomedical Informatics on the Semantic Web and Grid
    </a>
    presented March 2008 at the AMIA 2008 Summit on Translational Bioinformatics, San Francisco, California.
    <blockquote>
      The PORTAL-DOORS infrastructure system of networked registries and directories has been designed
      for the semantic web and grid as an extended analogue of the IRIS-DNS system for the original web.
      Within the PORTAL-DOORS system, BioPORT and ManRay have been developed as prototype registries specific
      for the problem domains of biomedical computing and nuclear medicine.
      Potential applications in translational biomedical research are described with examples of study designs
      involving pharmacogenomics and molecular imaging.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2008,
    <a target="_blank" href="~/pub/docs/IEEETITB2008v12n3p411Taswell.pdf">
      Corrections to "DOORS to the Semantic Web and Grid With a PORTAL for Biomedical Computing"
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/TITB.2008.923764">10.1109/TITB.2008.923764</a>
    published in 2008 IEEE TITB 12(3):411.
    <blockquote>
      Errata for the paper entitled "DOORS to the Semantic Web and Grid With a PORTAL for Biomedical Computing"
      that was published in 2008 IEEE TITB 12(2):191-204.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2008,
    <a target="_blank" href="~/pub/docs/IEEETITB2008v12n2p191-204Taswell.pdf">
      DOORS to the Semantic Web and Grid With a PORTAL for Biomedical Computing
    </a>
    also available at DOI <a target="_blank" href="https://doi.org/10.1109/TITB.2007.905861">10.1109/TITB.2007.905861</a>
    submitted 31 October 2006, published online 3 August 2007, published in print
    2008 IEEE Transactions on Information Technology in Biomedicine 12(2):191-204.
    <blockquote>
      The semantic web remains in the early stages of development. It has not yet achieved the goals envisioned
      by its founders as a pervasive web of distributed knowledge and intelligence. Success will be attained
      when a dynamic synergism can be created between people and a sufficient number of infrastructure systems
      and tools for the semantic web in analogy with those for the original web. The domain name system (DNS),
      web browsers, and the benefits of publishing web pages motivated many people to register domain names
      and publish web sites on the original web. An analogous resource label system, semantic search applications,
      and the benefits of collaborative semantic networks will motivate people to register resource labels
      and publish resource descriptions on the semantic web. The Domain Ontology Oriented Resource System
      (DOORS) and Problem Oriented Registry of Tags and Labels (PORTAL) are proposed as infrastructure systems
      for resource metadata within a paradigm that can serve as a bridge between the original web and the
      semantic web. The Internet Registry Information Service (IRIS) registers domain names while DNS publishes
      domain addresses with mapping of names to addresses for the original web.
      Analogously, PORTAL registers resource labels and tags while DOORS
      publishes resource locations and descriptions with mapping of labels to locations for the semantic
      web. BioPORT is proposed as a prototype PORTAL registry specific for the problem domain of biomedical
      computing.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2007,
    <a target="_blank" href="~/pub/docs/US7792836B2.pdf">
      PORTALS and DOORS for the Semantic Web and Grid
    </a>
    published in USPTO provisional application filed 17 Jun 2007, application filed 21 Sep 2007, patent issued 7 Sep 2010, with USPTO patent number US 7,792,836 B2.
    <blockquote>
      A Domain Ontology Oriented Resource System (DOORS) and a Problem Oriented Registry of Tags And Labels (PORTAL) are infrastructure systems for resource metadata within a paradigm serving as a bridge between the original web and the semantic web. IRIS registers domain names while DNS publishes domain addresses with mapping of names to addresses for the original web. Analogously, PORTAL registers resource labels and tags while DOORS publishes resource locations and descriptions with mapping of labels to locations for the semantic web. They provide an analogous resource label system, semantic search applications, and the benefits of collaborative semantic networks. Advertising is supported in several ways. Businesses purchase the right to display their products or services in association with searches. Also, content providers accept placement of advertising. Ads are then selected for display based on the content displayed utilizing the invention to match service providers with advertisers.
    </blockquote>
  </li>
  <li>
    Carl Taswell, 2006,
    <a target="_blank" href="http://jnm.snmjournals.org/content/47/suppl_1/371P.1.abstract">
      The ManRay Project: Initial Development of a Web-Enabled Ontology for Nuclear Medicine
    </a>
    with <a target="_blank" href="~/pub/docs/SNM2006Taswell0605P1431.pdf">poster</a>
    presented June 2006 at the SNMMI 2006 Annual Meeting, San Diego, California.
    <blockquote>
      Objectives: The semantic web extends the original web with technologies that provide syntactic structure (XML) and
      semantic meaning (RDF) permitting the development of taxonomies and inference rules (Berners-Lee et al, 2001).
      These technologies together with the Web Ontology Language (OWL) enable the compilation of knowledge
      representations or collections of information known as ontologies. Biomedical ontologies have benefited from significant
      development in the bioinformatics and clinical informatics communities (Pinciroli et al, 2005). In contrast, there appears
      to be a relative dearth of progress in the specialty fields of nuclear medicine and radiopharmaceutics. With the
      exception of some work on a radiopharmaceutical information database (Blaine et al, 1999) which did not involve any
      semantic web technologies nor any internet technologies, extensive literature searches have not found any other
      nuclear medicine informatics projects. The ManRay project attempts to fill this gap.
      Methods: Ontologies for the ManRay project are constructed adhering to (1) the specifications for XML, RDF, and
      OWL recommended by the World Wide Web Consortium (www.w3.org), (2) the usage paradigm advocated by Lacy
      (see diagram on page 144 of his 2005 book on OWL), and (3) general software engineering principles of hierarchical
      modularity, flexibility, and extensibility. Development is guided by the “ontology steward” paradigm in which the steward
      hosts and manages the ontology standard but does not necessarily provide a database distributing data compliant with
      the standard. Thus, the steward’s web server publishes the ontology as a *.owl file while other publishers distribute their
      data as compliant *.rdf files that reference the ontology steward’s *.owl file.
      Results: The ManRay project implements an ontology for nuclear medicine, radiopharmaceutics, and molecular
      imaging structured as a hierarchy of *.owl files with manray.owl as the top level and separate *.owl files for imaging
      protocols, pharmaceuticals, and radionuclides as the lower levels. The website www.nucmedlib.org hosts the ManRay
      project and its ontology.
      Conclusions: Development and promotion of a nuclear medicine ontology as an open standard for the exchange of
      data constitutes the most important goal of the ManRay project. Establishment of this ontology will enable the
      subsequent development of informatics applications capable of performing inference, such as automated metaanalyses,
      on data published according to the standard. Individuals and/or organizations interested in contributing to the
      ManRay project are encouraged to contact the authors.
    </blockquote>
  </li>

</ul>
