@*
// PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
// Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@attribute [PdpRazorPageRoute(DepCoreWebLib, DepAdminModeEditSiaaRoles)]
@model AdminModeEditSiaaRoles
@{
  PdpSiteRazorModel psr = Model.PSR;
  QebUserRestContext qurc = Model.QURC;
}

@Html.Raw(psr.FormatBodyTitle())

<p><partial name="@psr.RazorBodyMenu" /></p>

<div id="SiaaGrid">
@(Html.Kendo()
.Grid<QebiRoleUxm>()
.Name("PdpAppRoleGrid")
.HtmlAttributes(new { style = "float:left;" })
.DataSource(ds => ds.Ajax().PageSize(5)
.Model(m => {
m.Id(p => p.RoleGuid);
m.Field(p => p.AppGuid).Editable(false).DefaultValue(Guid.Empty);
m.Field(p => p.RoleGuid).Editable(false).DefaultValue(Guid.Empty);
m.Field(p => p.RoleName).Editable(true).DefaultValue(String.Empty);
m.Field(p => p.RoleDescription).Editable(true).DefaultValue(String.Empty);
}) // end Model
.Read(post => post.Url(psr.RazorPagePath + "?handler=ReadSiaaRoles").Data("kendoToken"))
.Create(post => post.Url(psr.RazorPagePath + "?handler=WriteSiaaRole").Data("kendoToken"))
.Update(post => post.Url(psr.RazorPagePath + "?handler=WriteSiaaRole").Data("kendoToken"))
.Destroy(post => post.Url(psr.RazorPagePath + "?handler=DeleteSiaaRole").Data("kendoToken"))
.Events(e => e.Error("HandleAjaxErrors"))
) // end DataSource
.Columns(col => {
col.Bound(row => row.AppGuid).Hidden(true);
col.Bound(row => row.RoleGuid).Hidden(true);
col.Bound(row => row.RoleName).Title("Name");
col.Bound(row => row.RoleDescription).Title("Description");
col.Command(com => {
com.Edit();
com.Destroy();
}).Title(""); // end Command
}) // end Columns
.ToolBar(tb => tb.ClientTemplateId("SiaaToolbar"))
.Editable(ed => ed.Mode(GridEditMode.InLine))
.Pageable(pg => pg.AlwaysVisible(true).Responsive(false).Info(true).Refresh(true)
.Position(GridPagerPosition.Top).ButtonCount(3).PageSizes(new[] { 5, 15, 25, 50, 100 }))
.Sortable(st => st.SortMode(GridSortMode.SingleColumn).ShowIndexes(false).AllowUnsort(false))
.Filterable().Resizable(rs => rs.Columns(true))
)
</div>

<script id="SiaaToolbar" type="text/x-kendo-template">
<a class="k-button k-button-icontext k-grid-add" role="button">
<span class="k-icon k-i-plus"></span>Add new record</a>
</script>

<script type="text/javascript">
$(document).ready(function () {
$("#SiaaGrid").show();
$("#PdpAppRoleGrid").data("kendoGrid").resize();
})
</script>

