@model NexusResrepEditModel

<div>
  <ul>
    <li><label>Infoset PORTAL Status:</label>&nbsp;#=InfosetPortalStatusName#&nbsp;</li>
    <li><label>Infoset DOORS Status:</label>&nbsp;#=InfosetDoorsStatusName#&nbsp;</li>
    <li><label>InfosetIsAuthorPrivate:</label>&nbsp;#=InfosetIsAuthorPrivate#&nbsp;</li>
    <li><label>InfosetIsAuthorPrivate:</label>&nbsp;#=InfosetIsAuthorPrivate#&nbsp;</li>
    <li><label>InfosetIsAgentShared:</label>&nbsp;#=InfosetIsAgentShared#&nbsp;</li>
    <li><label>InfosetIsUpdaterLimited:</label>&nbsp;#=InfosetIsUpdaterLimited#&nbsp;</li>
    <li><label>InfosetIsManagerReleased:</label>&nbsp;#=InfosetIsManagerReleased#&nbsp;</li>
    <li><label>RecordManagedByAgent:</label>&nbsp;#=ManagedByAgentName#&nbsp;</li>
    <li><label>RecordCreatedOn:</label>&nbsp;#=CreatedOn#&nbsp;</li>
    <li><label>RecordCreatedByAgent:</label>&nbsp;#=CreatedByAgentName#&nbsp;</li>
    <li><label>RecordUpdatedOn:</label>&nbsp;#=UpdatedOn#&nbsp;</li>
    <li><label>RecordUpdatedByAgent:</label>&nbsp;#=UpdatedByAgentName#&nbsp;</li>
    <li><label>RecordDeletedOn:</label>&nbsp;#=DeletedOn#&nbsp;</li>
    <li><label>RecordDeletedByAgent:</label>&nbsp;#=DeletedByAgentName#&nbsp;</li>
  </ul>
</div>