@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  PdpSiteRazorModel psr = Model.PSR;
  // QebUserRestContext qurc = Model.QURC;
}

@Html.Raw(psr.FormatBodyTitle("NwlHome Index Menu"))
<p><partial name="_NexusWebLibSpanPageMenu" /></p>

@if (userAuth && PDPSS.AppUseDevtestFeature)
{
  @Html.Raw(psr.FormatBodyTitle("NexusWebLib Project Menus"))
  <partial name="_NexusWebLibListPageMenu" />  
}
