@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
}

<span>
  NexusRestApi:
  <a asp-page="/NPDS/PdpSite/Index">PdpSite</a>
  <span> | </span>
  @if (userAuth)
  {
    <a asp-page="/NPDS/AuthMode/Index">AuthMode</a>
  }
  else
  {
    <a asp-page="/NPDS/AnonMode/Index">AnonMode</a>
  }
  <span> | </span>
  <a asp-page="/NPDS/NwlHome/Index">NexusWebLib</a>
  <span> | </span>
  <a asp-page="/NraHome/Index">NexusRestApi</a>
</span>

