@*  
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@attribute [PdpRazorPageRoute(DepScribeWebLib, DepSwlHomeAgentHelp)]
@model SwlHomeAgentHelp
@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  PdpSiteRazorModel psrm = Model.PSRM;
  PdpSiteInfoModel psim = psrm.PdpSiteInfo;
  QebiUserRestContext qurc = Model.QURC;
}
@if (!string.IsNullOrEmpty(psrm.RazorBodyMenu))
{
   <p><partial name="@psrm.RazorBodyMenu" /></p>
}
@Html.Raw(psrm.FormatBodyTitle())

<p>
  You are registered as an NPDS Record Agent
  and may request and/or release resource metadata records on this server.
</p>

<h5>
  Resource Metadata Records
</h5>
<p>
  Record Requests/Releases:
  You may request authorship for the resource record from the current author;
  or if you are the current author for the record, then you may release authorship for transfer to another agent;
  all requests/releases are mediated by the registry editor.
</p>

<h5>URLs in href attributes</h5>

<ul>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/NPDS-Root">/NPDS/ScribeServer/AgentResreps/Diristry/NPDS-Root</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/PDP-Nexus">/NPDS/ScribeServer/AgentResreps/Diristry/PDP-Nexus</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Registry/PDP-PORTAL">/NPDS/ScribeServer/AgentResreps/Registry/PDP-PORTAL</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Directory/PDP-DOORS">/NPDS/ScribeServer/AgentResreps/Directory/PDP-DOORS</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Registrar/PDP-Scribe">/NPDS/ScribeServer/AgentResreps/Registrar/PDP-Scribe</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/PDP-DREAM">/NPDS/ScribeServer/AgentResreps/Diristry/PDP-DREAM</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Ashurbanipal">/NPDS/ScribeServer/AgentResreps/Diristry/Ashurbanipal</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Avicenna">/NPDS/ScribeServer/AgentResreps/Diristry/Avicenna</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Beacon">/NPDS/ScribeServer/AgentResreps/Diristry/Beacon</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/BioPORT">/NPDS/ScribeServer/AgentResreps/Diristry/BioPORT</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/BrainIACS">/NPDS/ScribeServer/AgentResreps/Diristry/BrainIACS</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/BrainWatch">/NPDS/ScribeServer/AgentResreps/Diristry/BrainWatch</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/CTGaming">/NPDS/ScribeServer/AgentResreps/Diristry/CTGaming</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/DaVinci">/NPDS/ScribeServer/AgentResreps/Diristry/DaVinci</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Eywa">/NPDS/ScribeServer/AgentResreps/Diristry/Eywa</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Fidentinus">/NPDS/ScribeServer/AgentResreps/Diristry/Fidentinus</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Gaia">/NPDS/ScribeServer/AgentResreps/Diristry/Gaia</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/GeneScene">/NPDS/ScribeServer/AgentResreps/Diristry/GeneScene</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/HELPME">/NPDS/ScribeServer/AgentResreps/Diristry/HELPME</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Jubatus">/NPDS/ScribeServer/AgentResreps/Diristry/Jubatus</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Knuth">/NPDS/ScribeServer/AgentResreps/Diristry/Knuth</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Martialis">/NPDS/ScribeServer/AgentResreps/Diristry/Martialis</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/ManRay">/NPDS/ScribeServer/AgentResreps/Diristry/ManRay</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Osler">/NPDS/ScribeServer/AgentResreps/Diristry/Osler</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/Socrates">/NPDS/ScribeServer/AgentResreps/Diristry/Socrates</a></li>
  <li><a href="/NPDS/ScribeServer/AgentResreps/Diristry/SOLOMON">/NPDS/ScribeServer/AgentResreps/Diristry/SOLOMON</a></li>
</ul>

<partial name="_CuratorHelp" />
