@*  
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@attribute [PdpRazorPageRoute(DepScribeWebLib, DepSwlHomeAuthorHelp)]
@model SwlHomeAuthorHelp
@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  PdpSiteRazorModel psrm = Model.PSRM;
  PdpSiteInfoModel psim = psrm.PdpSiteInfo;
  QebiUserRestContext qurc = Model.QURC;
}
@if (!string.IsNullOrEmpty(psrm.RazorBodyMenu))
{
   <p><partial name="@psrm.RazorBodyMenu" /></p>
}
@Html.Raw(psrm.FormatBodyTitle())

<p>
  You are registered as an NPDS Record Author
  and may edit your own resource metadata records on this server for any records
  for which you have been granted privileges as the current ManagedByAgent.
</p>

<h5>NPDS Author Manage Records</h5>

<ul>
  <li><a asp-page="/NPDS/ScribeServer/AuthorAccess/Author">Request Author Access to Resrep</a></li>
  <li><a asp-page="/NPDS/ScribeServer/EditorAccess/Author">Request Editor Access to Service</a></li>
</ul>

<h5>URLs in href attributes</h5>

<ul>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/NPDS-Root">/NPDS/ScribeServer/AuthorResreps/Diristry/NPDS-Root</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/PDP-Nexus">/NPDS/ScribeServer/AuthorResreps/Diristry/PDP-Nexus</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Registry/PDP-PORTAL">/NPDS/ScribeServer/AuthorResreps/Registry/PDP-PORTAL</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Directory/PDP-DOORS">/NPDS/ScribeServer/AuthorResreps/Directory/PDP-DOORS</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Registrar/PDP-Scribe">/NPDS/ScribeServer/AuthorResreps/Registrar/PDP-Scribe</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/PDP-DREAM">/NPDS/ScribeServer/AuthorResreps/Diristry/PDP-DREAM</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Ashurbanipal">/NPDS/ScribeServer/AuthorResreps/Diristry/Ashurbanipal</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Avicenna">/NPDS/ScribeServer/AuthorResreps/Diristry/Avicenna</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Beacon">/NPDS/ScribeServer/AuthorResreps/Diristry/Beacon</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/BioPORT">/NPDS/ScribeServer/AuthorResreps/Diristry/BioPORT</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/BrainIACS">/NPDS/ScribeServer/AuthorResreps/Diristry/BrainIACS</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/BrainWatch">/NPDS/ScribeServer/AuthorResreps/Diristry/BrainWatch</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/CTGaming">/NPDS/ScribeServer/AuthorResreps/Diristry/CTGaming</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/DaVinci">/NPDS/ScribeServer/AuthorResreps/Diristry/DaVinci</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Eywa">/NPDS/ScribeServer/AuthorResreps/Diristry/Eywa</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Fidentinus">/NPDS/ScribeServer/AuthorResreps/Diristry/Fidentinus</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Gaia">/NPDS/ScribeServer/AuthorResreps/Diristry/Gaia</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/GeneScene">/NPDS/ScribeServer/AuthorResreps/Diristry/GeneScene</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/HELPME">/NPDS/ScribeServer/AuthorResreps/Diristry/HELPME</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Jubatus">/NPDS/ScribeServer/AuthorResreps/Diristry/Jubatus</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Knuth">/NPDS/ScribeServer/AuthorResreps/Diristry/Knuth</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Martialis">/NPDS/ScribeServer/AuthorResreps/Diristry/Martialis</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/ManRay">/NPDS/ScribeServer/AuthorResreps/Diristry/ManRay</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Osler">/NPDS/ScribeServer/AuthorResreps/Diristry/Osler</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/Socrates">/NPDS/ScribeServer/AuthorResreps/Diristry/Socrates</a></li>
  <li><a href="/NPDS/ScribeServer/AuthorResreps/Diristry/SOLOMON">/NPDS/ScribeServer/AuthorResreps/Diristry/SOLOMON</a></li>
</ul>

<partial name="_CuratorHelp" />
