@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@attribute [PdpRazorPageRoute(DepScribeWebLib, DepSwlHomeEditorHelp)]
@model SwlHomeEditorHelp
@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  PdpSiteRazorModel psrm = Model.PSRM;
  PdpSiteInfoModel psim = psrm.PdpSiteInfo;
  QebiUserRestContext qurc = Model.QURC;
}
@if (!string.IsNullOrEmpty(psrm.RazorBodyMenu))
{
   <p><partial name="@psrm.RazorBodyMenu" /></p>
}
@Html.Raw(psrm.FormatBodyTitle())

<p>
  You are registered as an NPDS Record Editor
  and may edit resource metadata records on this server for any services
  for which you have been granted Editor privileges.
</p>

<h5>NPDS Editor Manage Records</h5>

<ul>
  <li> <a asp-page="/NPDS/ScribeServer/AuthorAccess/Editor">Request Author Access to Resrep</a> </li>
  <li> <a asp-page="/NPDS/ScribeServer/EditorAccess/Editor">Request Editor Access to Service</a> </li>
  <li> <a asp-page="/NPDS/ScribeServer/ServiceDefaults/Editor">NPDS Service Defaults</a> </li>
  <li> <a asp-page="/NPDS/ScribeServer/ServiceRestrictions/Editor">NPDS Service Restrictions</a> </li>
  <li> <a asp-page="/NPDS/ScribeServer/ServiceStatus/Editor">NPDS Service Status</a> </li>
</ul>

<h5>URLs in href attributes</h5>

<ul>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/NPDS-Root">/NPDS/ScribeServer/EditorResreps/Diristry/NPDS-Root</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/PDP-Nexus">/NPDS/ScribeServer/EditorResreps/Diristry/PDP-Nexus</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Registry/PDP-PORTAL">/NPDS/ScribeServer/EditorResreps/Registry/PDP-PORTAL</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Directory/PDP-DOORS">/NPDS/ScribeServer/EditorResreps/Directory/PDP-DOORS</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Registrar/PDP-Scribe">/NPDS/ScribeServer/EditorResreps/Registrar/PDP-Scribe</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/PDP-DREAM">/NPDS/ScribeServer/EditorResreps/Diristry/PDP-DREAM</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Ashurbanipal">/NPDS/ScribeServer/EditorResreps/Diristry/Ashurbanipal</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Avicenna">/NPDS/ScribeServer/EditorResreps/Diristry/Avicenna</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Beacon">/NPDS/ScribeServer/EditorResreps/Diristry/Beacon</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/BioPORT">/NPDS/ScribeServer/EditorResreps/Diristry/BioPORT</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/BrainIACS">/NPDS/ScribeServer/EditorResreps/Diristry/BrainIACS</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/BrainWatch">/NPDS/ScribeServer/EditorResreps/Diristry/BrainWatch</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/CTGaming">/NPDS/ScribeServer/EditorResreps/Diristry/CTGaming</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/DaVinci">/NPDS/ScribeServer/EditorResreps/Diristry/DaVinci</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Eywa">/NPDS/ScribeServer/EditorResreps/Diristry/Eywa</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Fidentinus">/NPDS/ScribeServer/EditorResreps/Diristry/Fidentinus</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Gaia">/NPDS/ScribeServer/EditorResreps/Diristry/Gaia</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/GeneScene">/NPDS/ScribeServer/EditorResreps/Diristry/GeneScene</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/HELPME">/NPDS/ScribeServer/EditorResreps/Diristry/HELPME</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Jubatus">/NPDS/ScribeServer/EditorResreps/Diristry/Jubatus</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Knuth">/NPDS/ScribeServer/EditorResreps/Diristry/Knuth</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Martialis">/NPDS/ScribeServer/EditorResreps/Diristry/Martialis</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/ManRay">/NPDS/ScribeServer/EditorResreps/Diristry/ManRay</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Osler">/NPDS/ScribeServer/EditorResreps/Diristry/Osler</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/Socrates">/NPDS/ScribeServer/EditorResreps/Diristry/Socrates</a></li>
  <li><a href="/NPDS/ScribeServer/EditorResreps/Diristry/SOLOMON">/NPDS/ScribeServer/EditorResreps/Diristry/SOLOMON</a></li>
</ul>

<partial name="_CuratorHelp" />
