@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<span>
  AnonMode:
  <a asp-page="/NPDS/AnonMode/Index">Index</a>
  <span> | </span>
  <a asp-page="/NPDS/AnonMode/ContactSite">Contact Site</a>
  <span> | </span>
  <a asp-page="/NPDS/AnonMode/DonateGift">Donate Gift</a>
  <span> | </span>
  <a asp-page="/NPDS/AnonMode/RegisterUser">Register User</a>
  <span> | </span>
  <a asp-page="/NPDS/AnonMode/LoginUser">Login User</a>
</span>
