@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<ul>
  <li><partial name="_PdpSiteSpanPageMenu" /></li>
  <li><partial name="_AnonCoreSpanPageMenu" /></li>
  <li><partial name="_AuthCoreSpanPageMenu" /></li>
  <li><partial name="_AgentCoreSpanPageMenu" /></li>
  <li><partial name="_AdminCoreSpanPageMenu" /></li>
  <li><partial name="_CoreWebLibSpanPageMenu" /></li>
</ul>
