@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<span>
  CwlHome:
  <a asp-page="/NPDS/CwlHome/Index">Index</a>
  <span> | </span>
  <a asp-page="/NPDS/CwlHome/CodeConfig">CodeConfig</a>
  <span> | </span>
  <a asp-page="/NPDS/CwlHome/SiteSettings">SiteSettings</a>
  <span> | </span>
  <a asp-page="/NPDS/CwlHome/ServerDefaults">ServerDefaults</a>
  <span> | </span>
  <a asp-page="/NPDS/CwlHome/QurcProperties">QurcProperties</a>
  <span> | </span>
  <a asp-page="/NPDS/CwlHome/RazorFormats">RazorFormats</a>
  <span> | </span>
  <a asp-page="/NPDS/CwlHome/RazorRoutes">RazorRoutes</a>
  <span> | </span>
  <a asp-page="/NPDS/CwlHome/RazorEndpoints">RazorEndpoints</a>
  <span> | </span>
  <a asp-page="/NPDS/CwlHome/DotnetErrors">DotnetErrors</a>
</span>
