@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<span>
  PdpSite:
  <a asp-page="/NPDS/PdpSite/Index">Index</a> |
  <a asp-page="/NPDS/PdpSite/Info">Info</a> |
  <a asp-page="/NPDS/PdpSite/Design">Design</a> |
  <a asp-page="/NPDS/PdpSite/Diristries">Diristries</a> |
  <a asp-page="/NPDS/PdpSite/Entities">Entities</a> |
  <a asp-page="/NPDS/PdpSite/Papers">Papers</a> |
  <a asp-page="/NPDS/PdpSite/Privacy">Privacy</a>
</span>
