@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  bool userAuth = (User?.Identity?.IsAuthenticated ?? false);
  string userName = (User?.Identity?.Name ?? string.Empty);
  if (userAuth)
  {
    <span>
      AuthUser:
      <a asp-page="/AuthCore/LogoutUser">Logout User</a>
      <span> | </span>
      <a asp-page="/AuthCore/DisplayProfile">userName</a>
      <span> | </span>
      <a asp-page="/AuthCore/ChangeProfile">Change Profile</a>
      <span> | </span>
      <a asp-page="/AuthCore/ChangeEmail">Change Email</a>
      <span> | </span>
      <a asp-page="/AuthCore/ChangePassword">Change Password</a>
      <span> | </span>
      <a asp-page="/AuthCore/ChangeUsername">Change Username</a>
    </span>
  }
  else
  {
    <span>
      AnonUser:
      <a asp-page="/AnonCore/Index">Index</a>
      <span> | </span>
      <a asp-page="/AnonCore/ContactSite">Contact Site</a>
      <span> | </span>
      <a asp-page="/AnonCore/RegisterUser">Register User</a>
      <span> | </span>
      <a asp-page="/AnonCore/LoginUser">Login User</a>
    </span>
  }
}
