@*  
  // Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@model CoreDataLibTestExamples
@{
  var prc = (PdpRestContext) Model.PRC; 
  Layout = prc.RazorMvcLayoutPage;
}

@Html.Raw(prc.FormatPageTitle("NPDS/CoreDataLibTest/Examples"))
<p><partial name="_MenuCoreDataLibTest" /></p>

