@*  
  // Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page
@model CoreDataLibTestIndex
@{
  var prc =  (PdpRestContext) Model.PRC; 
  Layout = prc.RazorMvcLayoutPage;
}

@Html.Raw(prc.FormatPageTitle("NPDS/CoreDataLibTest/Index"))
<p><partial name="_MenuCoreDataLibTest" /></p>

@Html.Raw(prc.FormatSectionTitle("CoreDataLib Project Menus"))
<partial name="_CoreDataLibDefaultListProj" />

@if (prc.PDPSS.AppUseDevtestFeature)
{
  @Html.Raw(prc.FormatSectionTitle("CoreDataLib Test Menus"))
  <partial name="_CoreDataLibDefaultListTest" />
}

