<span>
  <a asp-area="NPDS" asp-controller="AdminNexus" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="AdminNexus" asp-action="ViewSiaaRoles">View Roles</a> |
  <a asp-area="NPDS" asp-controller="AdminNexus" asp-action="EditSiaaRoles">Edit Roles</a> |
  <a asp-area="NPDS" asp-controller="AdminNexus" asp-action="ViewSiaaUsers">View Users</a> |
  <a asp-area="NPDS" asp-controller="AdminNexus" asp-action="EditSiaaUsers">Edit Users</a>
</span>
