<span>
  <a asp-area="NPDS" asp-controller="AuthSiaa" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="AuthSiaa" asp-action="DisplayProfile">Display Profile</a> |
  <a asp-area="NPDS" asp-controller="AuthSiaa" asp-action="ChangeProfile">Change Profile</a> |
  <a asp-area="NPDS" asp-controller="AuthSiaa" asp-action="ChangeEmail">Change Email</a> |
  <a asp-area="NPDS" asp-controller="AuthSiaa" asp-action="ChangePassword">Change Password</a> |
  <a asp-area="NPDS" asp-controller="AuthSiaa" asp-action="ChangeUsername">Change Username</a> |
  <a asp-area="NPDS" asp-controller="AuthSiaa" asp-action="LogoutUser">Logout User</a>
</span>
