<span>
  <a asp-area="NPDS" asp-controller="AnonSiaa" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="AnonSiaa" asp-action="RegisterUser">Register User</a> |
  <a asp-area="NPDS" asp-controller="AnonSiaa" asp-action="LoginUser">Login User</a>
</span>