@*
  // Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<div>
  <ul>
    <li>CoreDataLibTest <partial name="_MenuCoreDataLibTest" /></li>
    <li>NexusDataLibTest <partial name="_MenuNexusDataLibTest" /></li>
    <li>AnonScribe <partial name="_MenuAnonNexus" /></li>
    <li>UserScribe <partial name="_MenuUserNexus" /></li>
  </ul>
</div>
