@*
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  var prc = (PdpRestContext)ViewData["PRC"];
}

<div>
  <span>
    <a asp-area="NPDS" asp-controller="Site" asp-action="Index">Site</a>
    | <a asp-area="NPDS" asp-controller="NexusRestLib" asp-action="Index">NexusRestLib</a>
    | <a asp-area="NPDS" asp-controller="NexusWebLib" asp-action="Index">NexusWebLib</a>
    @if (prc.PDPSS.AppUseDevtestFeature)
    {
      <span> | </span>
      <a asp-area="NPDS" asp-controller="NexusWebLibTest" asp-action="Index">NexusWebLibTest</a>
    }
  </span>
</div>
