@*
  // Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<div>
  <ul>
    <li>Site <partial name="_MenuSite" /></li>
    <li>CoreDataLib <partial name="_MenuCoreDataLib" /></li>
    <li>NexusDataLib <partial name="_MenuNexusDataLib" /></li>
    <li>NexusRestLib <partial name="_MenuNexusRestLib" /></li>
    <li>NexusWebLib <partial name="_MenuNexusWebLib" /></li>
  </ul>
</div>
