@*  
  // Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
  var propList = prc.GetType().GetProperties().OrderBy(p => p.Name);
}

@Html.Raw(prc.FormatPageTitle("NPDS/CoreDataLibTest/PrcTest"))
<p><partial name="_MenuCoreDataLibTest" /></p>

<p>PDP REST Context (PRC) table of names, values, types for PRC object properties.</p>

<table class="pdpTable">
  <tr><td>Name</td><td>Value</td><td>Type</td></tr>
  @foreach (PropertyInfo item in propList)
  {
    <tr><td>@item?.Name</td><td>@item?.GetValue(prc)?.ToString()</td><td>@item?.PropertyType</td></tr>
  }
</table>