@{
  var prc = ViewBag.PRC; Layout = prc.PageLayout;
}

@Html.Raw(prc.FormatPageTitle())

<p>
  Edit PDP-DREAM document examples at
  @Html.ActionLink("PDP-DREAM diristry records", "NpdsEdit", "AdminResreps",
  new { area = "PDP", serviceType = "Nexus", serviceTag = "PDP-DREAM", entityType = "Example" })
</p>
