<span>
  <a asp-area="PDP" asp-controller="NexusDataLib" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="NexusDataLib" asp-action="Help">Help</a> |
  <a asp-area="PDP" asp-controller="NexusDataLib" asp-action="Privacy">Privacy</a>
</span>
