@*  
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Licensed per the OSI approved MIT License (https://opensource.org/licenses/MIT).
*@

@{
  var prc = ViewBag.PRC;
}

<div><ul>
  <li>PDP/Site <partial name="_MenuAcavPdpSite" /></li>
  <li>PDP/NpdsCoreLib <partial name="_MenuAcavNexusDataLib" /></li>
@if (prc.SiteSets.AppUseDevtestFeature) {
  <li>PDP/NpdsTestLib <partial name="_MenuAcavNexusTestLib" /></li>
}
</ul></div>