@{
  Layout = ViewBag.PRC.PageLayout;
}

@Html.Raw(ViewBag.PRC.FormatPageTitle("PDP/Agent/RoleAgentAdded"))

<p>
  NPDS Resource Agent role has been added to your account.
  Please logout then login for the changes to update the menu bar.
</p>
