@*
  // Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  var prc = (PdpRestContext) ViewData["PRC"]; 
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/NexusWebLibTest/Examples"))
<p><partial name="_MenuNexusWebLibTest" /></p>

<h4>URLs in href attributes</h4>

<ul>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/PDP-Nexus">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/PDP-Nexus</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/PORTAL/PDP-PORTAL">/NPDS/NexusAnonResreps/NexusNpdsRead/PORTAL/PDP-PORTAL</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/DOORS/PDP-DOORS">/NPDS/NexusAnonResreps/NexusNpdsRead/DOORS/PDP-DOORS</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Scribe/PDP-Scribe">/NPDS/NexusAnonResreps/NexusNpdsRead/Scribe/PDP-Scribe</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Ashurbanipal">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Ashurbanipal</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Avicenna">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Avicenna</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Beacon">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Beacon</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/DaVinci">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/DaVinci</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Fidentinus">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Fidentinus</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Knuth">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Knuth</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Martialis">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Martialis</a></li>
  <li><a href="/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Socrates">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Socrates</a></li>
</ul>

<h4>Values in anchor tag helper attributes</h4>

<ul>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="PDP-Nexus">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/PDP-Nexus</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="PORTAL" asp-route-serviceTag="PDP-PORTAL">/NPDS/NexusAnonResreps/NexusNpdsRead/PORTAL/PDP-PORTAL</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="DOORS" asp-route-serviceTag="PDP-DOORS">/NPDS/NexusAnonResreps/NexusNpdsRead/DOORS/PDP-DOORS</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Scribe" asp-route-serviceTag="PDP-Scribe">/NPDS/NexusAnonResreps/NexusNpdsRead/Scribe/PDP-Scribe</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Ashurbanipal">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Ashurbanipal</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Avicenna">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Avicenna</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Beacon">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Beacon</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="DaVinci">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/DaVinci</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Fidentinus">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Fidentinus</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Knuth">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Knuth</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Martialis">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Martialis</a></li>
  <li><a asp-area="NPDS" asp-controller="NexusAnonResreps" asp-action="NexusNpdsRead" asp-route-serviceType="Nexus" asp-route-serviceTag="Socrates">/NPDS/NexusAnonResreps/NexusNpdsRead/Nexus/Socrates</a></li>
</ul>
