USE [PdpCiaam11Tahtali]
GO
/****** Object:  Table [dbo].[CiaamNetUser]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetUser](
	[AppGuidRef] [uniqueidentifier] NOT NULL,
	[UserGuidKey] [uniqueidentifier] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[DateEmailConfirmed] [datetime2](7) NULL,
	[DateLastEdit] [datetime2](7) NULL,
	[DateLastLockout] [datetime2](7) NULL,
	[DateLastLogin] [datetime2](7) NULL,
	[DatePasswordChanged] [datetime2](7) NULL,
	[DateProfileChanged] [datetime2](7) NULL,
	[DateTokenExpired] [datetime2](7) NULL,
	[DateUserCreated] [datetime2](7) NULL,
	[DateUserNameChanged] [datetime2](7) NULL,
	[EmailAddress] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[EmailAlternate] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[FirstName] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[LastName] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEndDateUtc] [datetime2](7) NULL,
	[Organization] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[WebsiteAddress] [nvarchar](256) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[PasswordHash] [nvarchar](1024) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[PhoneNumber] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[PhoneAlternate] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[PhoneConfirmed] [bit] NOT NULL,
	[SecurityAnswer] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[SecurityQuestion] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[SecurityStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[SecurityToken] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[RandAlias] [nvarchar](16) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[UserAlias] [nvarchar](32) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[UserName] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[UserIsApproved] [bit] NOT NULL,
	[UserIsNpdsUser] [bit] NOT NULL,
	[UserIsNpdsPerson] [bit] NOT NULL,
	[UserIsNpdsAgent] [bit] NOT NULL,
 CONSTRAINT [PK_CiaamNetUser_UserGuidKey] PRIMARY KEY CLUSTERED 
(
	[UserGuidKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CiaamNetUser_UserAlias] UNIQUE NONCLUSTERED 
(
	[UserAlias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CiaamNetUser_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CiaamNetApp]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetApp](
	[AppGuidKey] [uniqueidentifier] NOT NULL,
	[AppName] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[AppDescription] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[ConcurrencyStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
 CONSTRAINT [PK_CiaamNetApp_AppGuidKey] PRIMARY KEY CLUSTERED 
(
	[AppGuidKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[QebiUser]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE   VIEW [dbo].[QebiUser]
AS SELECT 
A.AppGuidKey AS AppGuid, A.AppName, A.AppDescription,
U.UserGuidKey AS UserGuid, U.UserName, U.UserAlias, U.RandAlias, U.FirstName, U.LastName, 
U.UserIsNpdsUser, U.UserIsNpdsPerson, U.UserIsNpdsAgent,
U.DateEmailConfirmed, U.DateLastEdit, U.DateLastLockout, U.DateLastLogin, U.DatePasswordChanged, 
U.DateProfileChanged, U.DateTokenExpired, U.DateUserCreated, U.DateUserNameChanged, 
U.EmailAddress, U.EmailAlternate, U.EmailConfirmed, U.WebsiteAddress,
U.Organization, U.PasswordHash, U.PhoneNumber, U.PhoneAlternate, U.PhoneConfirmed, 
U.LockoutEnabled, U.LockoutEnd, U.LockoutEndDateUtc, U.AccessFailedCount, U.ConcurrencyStamp, 
U.SecurityAnswer, U.SecurityQuestion, U.SecurityStamp, U.SecurityToken, U.TwoFactorEnabled, U.UserIsApproved 
FROM dbo.CiaamNetUser AS U
INNER JOIN dbo.CiaamNetApp AS A ON (A.AppGuidKey = U.AppGuidRef)
GO
/****** Object:  Table [dbo].[CiaamNetUserSession]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetUserSession](
	[AppGuidRef] [uniqueidentifier] NOT NULL,
	[UserGuidRef] [uniqueidentifier] NOT NULL,
	[SessionDateCreated] [datetime2](7) NULL,
	[SessionDateAccessed] [datetime2](7) NULL,
	[SessionDateExpired] [datetime2](7) NULL,
	[RandAlias] [nvarchar](16) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[UserAlias] [nvarchar](32) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[UserIsNpdsUser] [bit] NOT NULL,
	[UserIsNpdsPerson] [bit] NOT NULL,
	[UserIsNpdsAgent] [bit] NOT NULL,
	[ConcurrencyStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
 CONSTRAINT [PK_CiaamNetUserSessions] PRIMARY KEY CLUSTERED 
(
	[UserGuidRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[QebiUserSession]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   VIEW [dbo].[QebiUserSession]
AS SELECT
A.AppGuidKey AS AppGuid, A.AppName, A.AppDescription,
S.UserGuidRef AS UserGuid, S.UserAlias, S.RandAlias,
S.UserIsNpdsUser, S.UserIsNpdsPerson, S.UserIsNpdsAgent, 
S.SessionDateCreated, S.SessionDateAccessed, S.SessionDateExpired, 
S.ConcurrencyStamp
FROM dbo.CiaamNetUserSession AS S 
INNER JOIN dbo.CiaamNetApp AS A ON (A.AppGuidKey = S.AppGuidRef)
GO
/****** Object:  Table [dbo].[CiaamNetRoleTypeEnum]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetRoleTypeEnum](
	[CodeKey] [tinyint] NOT NULL,
	[TypeName] [nvarchar](32) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[TypeDescription] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[TypeForQebi] [bit] NOT NULL,
	[TypeForNpds] [bit] NOT NULL,
	[TypeForAcms] [bit] NOT NULL,
	[TypeForSrdb] [bit] NOT NULL,
 CONSTRAINT [PK_CiaamNetRoleTypeEnum_CodeKey] PRIMARY KEY CLUSTERED 
(
	[CodeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CiaamNetRoleTypeEnum_TypeName] UNIQUE NONCLUSTERED 
(
	[TypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CiaamNetRole]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetRole](
	[AppGuidRef] [uniqueidentifier] NOT NULL,
	[RoleTypeCodeRef] [tinyint] NOT NULL,
	[RoleGuidKey] [uniqueidentifier] NOT NULL,
	[RoleComment] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[ConcurrencyStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
 CONSTRAINT [PK_CiaamNetRole_RoleGuidKey] PRIMARY KEY CLUSTERED 
(
	[RoleGuidKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CiaamNetUserRoleLink]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetUserRoleLink](
	[LinkGuidKey] [uniqueidentifier] NOT NULL,
	[UserGuidRef] [uniqueidentifier] NOT NULL,
	[RoleGuidRef] [uniqueidentifier] NOT NULL,
	[AppGuidRef] [uniqueidentifier] NOT NULL,
	[ConcurrencyStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NULL,
 CONSTRAINT [PK_CiaamNetUserRole_LinkGuidKey] PRIMARY KEY CLUSTERED 
(
	[LinkGuidKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[QebiUserRole]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[QebiUserRole]
AS SELECT --- App, User, Role, Agent Session (AURAS)
L.LinkGuidKey AS LinkGuid, 
L.AppGuidRef AS AppGuid, A.AppName, A.AppDescription,
L.UserGuidRef AS UserGuid, U.UserName, U.UserAlias,
L.RoleGuidRef AS RoleGuid, 
RT.CodeKey AS RoleCode, RT.TypeName AS RoleName, RT.TypeDescription AS RoleDescription,
RT.TypeForQebi AS RoleForQebi, RT.TypeForNpds AS RoleForNpds, 
RT.TypeForAcms AS RoleForAcms, RT.TypeForSrdb AS RoleForSrdb, 
L.ConcurrencyStamp
FROM dbo.CiaamNetUserRoleLink AS L INNER 
JOIN dbo.CiaamNetRole AS R ON (R.RoleGuidKey = L.RoleGuidRef) INNER 
JOIN dbo.CiaamNetRoleTypeEnum AS RT ON (RT.CodeKey = R.RoleTypeCodeRef) INNER
JOIN dbo.CiaamNetUser AS U ON (U.UserGuidKey = L.UserGuidRef)
INNER JOIN dbo.CiaamNetApp AS A ON (A.AppGuidKey = L.AppGuidRef)
GO
/****** Object:  View [dbo].[QebiAppRoleTypeItem]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[QebiAppRoleTypeItem]
AS SELECT --- App, User, Role, Agent Session (AURAS)
RT.CodeKey, RT.TypeName, RT.TypeDescription,
RT.TypeForQebi, RT.TypeForNpds, RT.TypeForAcms, RT.TypeForSrdb
FROM dbo.CiaamNetRoleTypeEnum AS RT 
GO
/****** Object:  View [dbo].[QebiAppRole]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[QebiAppRole]
AS SELECT --- App, User, Role, Agent Session (AURAS)
A.AppGuidKey AS AppGuid, A.AppName, A.AppDescription,
R.RoleGuidKey AS RoleGuid, R.RoleComment AS AppRoleComment,
RT.CodeKey AS RoleCode, RT.TypeName AS RoleName, RT.TypeDescription AS RoleDescription,
RT.TypeForQebi AS RoleForQebi, RT.TypeForNpds AS RoleForNpds, 
RT.TypeForAcms AS RoleForAcms, RT.TypeForSrdb AS RoleForSrdb,
R.ConcurrencyStamp
FROM dbo.CiaamNetRole AS R INNER 
JOIN dbo.CiaamNetRoleTypeEnum AS RT ON (RT.CodeKey = R.RoleTypeCodeRef) INNER
JOIN dbo.CiaamNetApp AS A ON (A.AppGuidKey = R.AppGuidRef)
GO
/****** Object:  View [dbo].[QebiApp]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   VIEW [dbo].[QebiApp]
AS SELECT --- App, Session, User, Role, Agent (ASURA)
AppGuidKey AS AppGuid, 
AppName, AppDescription, ConcurrencyStamp
FROM dbo.CiaamNetApp
GO
/****** Object:  Table [dbo].[CiaamNetRoleClaim]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetRoleClaim](
	[RoleGuidRef] [uniqueidentifier] NOT NULL,
	[ClaimGuidKey] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[ClaimValue] [nvarchar](1048) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[ConcurrencyStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
 CONSTRAINT [PK_SiaaNetRoleClaims_ClaimGuidKey] PRIMARY KEY CLUSTERED 
(
	[ClaimGuidKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CiaamNetUserClaim]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetUserClaim](
	[UserGuidRef] [uniqueidentifier] NOT NULL,
	[ClaimGuidKey] [uniqueidentifier] NOT NULL,
	[ClaimType] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[ClaimValue] [nvarchar](1024) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[ConcurrencyStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
 CONSTRAINT [PK_CiaamNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[ClaimGuidKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CiaamNetUserLogin]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetUserLogin](
	[UserGuidRef] [uniqueidentifier] NOT NULL,
	[LoginGuidKey] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[ProviderKey] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[ProviderAlias] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[ConcurrencyStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
 CONSTRAINT [PK_CiaamNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginGuidKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CiaamNetUserToken]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CiaamNetUserToken](
	[TokenGuidKey] [uniqueidentifier] NOT NULL,
	[LoginProvider] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[Name] [nvarchar](128) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[Value] [nvarchar](1028) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[UserGuidRef] [uniqueidentifier] NOT NULL,
	[ConcurrencyStamp] [nvarchar](64) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
 CONSTRAINT [PK_CiaaNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[TokenGuidKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [BhaBridgeEpsms]
GO
/****** Object:  Table [dbo].[SilkRoadPerson]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SilkRoadPerson](
	[SessionPersonGuidKey] [uniqueidentifier] NOT NULL,
	[SessionDateCreated] [datetime2](7) NULL,
	[SessionDateAccessed] [datetime2](7) NULL,
	[SessionDateExpired] [datetime2](7) NULL,
	[PersonUserGuidRef] [uniqueidentifier] NOT NULL,
	[PersonRsrchGuidRef] [uniqueidentifier] NOT NULL,
	[PersonUserAlias] [nvarchar](32) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[PersonRsrchAlias] [nvarchar](16) COLLATE Latin1_General_100_BIN2_UTF8 NOT NULL,
	[PersonIsMember] [bit] NOT NULL,
	[PersonIsParticipant] [bit] NOT NULL,
	[PersonIsPtPartner] [bit] NOT NULL,
	[PersonIsStaff] [bit] NOT NULL,
	[PersonIsScientist] [bit] NOT NULL,
	[PersonIsImager] [bit] NOT NULL,
	[PersonIsCounselor] [bit] NOT NULL,
	[PersonIsClinician] [bit] NOT NULL,
	[DateCreatedOn] [datetime2](7) NOT NULL,
	[DateCreatedBy] [uniqueidentifier] NULL,
	[DateUpdatedOn] [datetime2](7) NOT NULL,
	[DateUpdatedBy] [uniqueidentifier] NULL,
	[Version] [timestamp] NOT NULL,
 CONSTRAINT [PK_EpsmsctSessionPersonGuidKey] PRIMARY KEY CLUSTERED 
(
	[SessionPersonGuidKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EpsmsctPersonRsrchAlias]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EpsmsctPersonRsrchAlias] ON [dbo].[SilkRoadPerson]
(
	[PersonRsrchAlias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EpsmsctPersonRsrchGuid]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EpsmsctPersonRsrchGuid] ON [dbo].[SilkRoadPerson]
(
	[PersonRsrchGuidRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_EpsmsctPersonUserAlias]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EpsmsctPersonUserAlias] ON [dbo].[SilkRoadPerson]
(
	[PersonUserAlias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EpsmsctPersonUserGuid]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EpsmsctPersonUserGuid] ON [dbo].[SilkRoadPerson]
(
	[PersonUserGuidRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [PdpCiaam11Tahtali]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CiaamNetApps_AppName]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CiaamNetApps_AppName] ON [dbo].[CiaamNetApp]
(
	[AppName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CiaamNetRole]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_CiaamNetRole] ON [dbo].[CiaamNetRole]
(
	[AppGuidRef] ASC,
	[RoleTypeCodeRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SiaaNetRoleClaims_RoleGuidRef]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SiaaNetRoleClaims_RoleGuidRef] ON [dbo].[CiaamNetRoleClaim]
(
	[RoleGuidRef] ASC,
	[ClaimType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CiaamNetUser_EmailAddress]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE NONCLUSTERED INDEX [IX_CiaamNetUser_EmailAddress] ON [dbo].[CiaamNetUser]
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CiaamNetUser_RandAlias]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CiaamNetUser_RandAlias] ON [dbo].[CiaamNetUser]
(
	[RandAlias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserGuid_ClaimType]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UserGuid_ClaimType] ON [dbo].[CiaamNetUserClaim]
(
	[UserGuidRef] ASC,
	[ClaimType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SiaaNetUserLogins]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SiaaNetUserLogins] ON [dbo].[CiaamNetUserLogin]
(
	[UserGuidRef] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CiaamNetUserRoles]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CiaamNetUserRoles] ON [dbo].[CiaamNetUserRoleLink]
(
	[UserGuidRef] ASC,
	[RoleGuidRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SiaaNetUserTokens_UserLoginName]    Script Date: 4/26/2025 1:21:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SiaaNetUserTokens_UserLoginName] ON [dbo].[CiaamNetUserToken]
(
	[UserGuidRef] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [BhaBridgeEpsms]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonGuidKey]  DEFAULT (newid()) FOR [SessionPersonGuidKey]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonRsrchGuid]  DEFAULT (newid()) FOR [PersonRsrchGuidRef]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonUserAlias]  DEFAULT ('') FOR [PersonUserAlias]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonRsrchAlias]  DEFAULT ('') FOR [PersonRsrchAlias]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonIsMember]  DEFAULT ((0)) FOR [PersonIsMember]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonIsParticipant]  DEFAULT ((0)) FOR [PersonIsParticipant]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonIsPtPartner]  DEFAULT ((0)) FOR [PersonIsPtPartner]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonIsStaff]  DEFAULT ((0)) FOR [PersonIsStaff]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonIsScientist]  DEFAULT ((0)) FOR [PersonIsScientist]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonIsImager]  DEFAULT ((0)) FOR [PersonIsImager]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonIsCounselor]  DEFAULT ((0)) FOR [PersonIsCounselor]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_PersonIsClinician]  DEFAULT ((0)) FOR [PersonIsClinician]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_DateCreatedOn]  DEFAULT (getutcdate()) FOR [DateCreatedOn]
GO
ALTER TABLE [dbo].[SilkRoadPerson] ADD  CONSTRAINT [DF_EpsmsctPerson_DateUpdatedOn]  DEFAULT (getutcdate()) FOR [DateUpdatedOn]
GO
USE [PdpCiaam11Tahtali]
GO
ALTER TABLE [dbo].[CiaamNetApp] ADD  CONSTRAINT [DF_CiaamNetApp_AppGuidKey]  DEFAULT (newid()) FOR [AppGuidKey]
GO
ALTER TABLE [dbo].[CiaamNetApp] ADD  CONSTRAINT [DF_CiaamNetApp_AppName]  DEFAULT ('') FOR [AppName]
GO
ALTER TABLE [dbo].[CiaamNetApp] ADD  CONSTRAINT [DF_CiaamNetApp_AppDescription]  DEFAULT ('') FOR [AppDescription]
GO
ALTER TABLE [dbo].[CiaamNetApp] ADD  CONSTRAINT [DF_CiaamNetApp_ConcurrencyStamp]  DEFAULT ('') FOR [ConcurrencyStamp]
GO
ALTER TABLE [dbo].[CiaamNetRole] ADD  CONSTRAINT [DF_CiaamNetRole_RoleTypeCodeRef]  DEFAULT ((0)) FOR [RoleTypeCodeRef]
GO
ALTER TABLE [dbo].[CiaamNetRole] ADD  CONSTRAINT [DF_SiaaNetRoles_RoleGuidKey]  DEFAULT (newid()) FOR [RoleGuidKey]
GO
ALTER TABLE [dbo].[CiaamNetRole] ADD  CONSTRAINT [DF_SiaaNetRole_RoleDescription]  DEFAULT ('') FOR [RoleComment]
GO
ALTER TABLE [dbo].[CiaamNetRole] ADD  CONSTRAINT [DF_SiaaNetRole_ConcurrencyStamp]  DEFAULT ('') FOR [ConcurrencyStamp]
GO
ALTER TABLE [dbo].[CiaamNetRoleClaim] ADD  CONSTRAINT [DF_SiaaNetRoleClaims_ClaimGuidKey]  DEFAULT (newid()) FOR [ClaimGuidKey]
GO
ALTER TABLE [dbo].[CiaamNetRoleClaim] ADD  CONSTRAINT [DF_SiaaNetRoleClaim_ClaimType]  DEFAULT ('') FOR [ClaimType]
GO
ALTER TABLE [dbo].[CiaamNetRoleClaim] ADD  CONSTRAINT [DF_SiaaNetRoleClaim_ClaimValue]  DEFAULT ('') FOR [ClaimValue]
GO
ALTER TABLE [dbo].[CiaamNetRoleClaim] ADD  CONSTRAINT [DF_SiaaNetRoleClaim_ConcurrencyStamp]  DEFAULT ('') FOR [ConcurrencyStamp]
GO
ALTER TABLE [dbo].[CiaamNetRoleTypeEnum] ADD  CONSTRAINT [DF_CiaamNetRoleTypeEnum_TypeDescription]  DEFAULT ('') FOR [TypeDescription]
GO
ALTER TABLE [dbo].[CiaamNetRoleTypeEnum] ADD  CONSTRAINT [DF_CiaamNetRoleTypeEnum_TypeForQebi]  DEFAULT ((0)) FOR [TypeForQebi]
GO
ALTER TABLE [dbo].[CiaamNetRoleTypeEnum] ADD  CONSTRAINT [DF_CiaamNetRoleTypeEnum_TypeForNpds]  DEFAULT ((0)) FOR [TypeForNpds]
GO
ALTER TABLE [dbo].[CiaamNetRoleTypeEnum] ADD  CONSTRAINT [DF_CiaamNetRoleTypeEnum_TypeForAcms]  DEFAULT ((0)) FOR [TypeForAcms]
GO
ALTER TABLE [dbo].[CiaamNetRoleTypeEnum] ADD  CONSTRAINT [DF_CiaamNetRoleTypeEnum_TypeForSrdb]  DEFAULT ((0)) FOR [TypeForSrdb]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_UserGuidKey]  DEFAULT (newid()) FOR [UserGuidKey]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_AccessFailedCount]  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_ConcurrencyStamp]  DEFAULT ('') FOR [ConcurrencyStamp]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_EmailAddress]  DEFAULT ('') FOR [EmailAddress]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_EmailAlternate]  DEFAULT ('') FOR [EmailAlternate]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_EmailConfirmed]  DEFAULT ((0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_FirstName]  DEFAULT ('') FOR [FirstName]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_LastName]  DEFAULT ('') FOR [LastName]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_LockoutEnabled]  DEFAULT ((0)) FOR [LockoutEnabled]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_Organization]  DEFAULT ('') FOR [Organization]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_WebsiteAddress]  DEFAULT ('') FOR [WebsiteAddress]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_PasswordHash]  DEFAULT ('') FOR [PasswordHash]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_PhoneNumber]  DEFAULT ('') FOR [PhoneNumber]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_PhoneAlternate]  DEFAULT ('') FOR [PhoneAlternate]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_PhoneNumberConfirmed]  DEFAULT ((0)) FOR [PhoneConfirmed]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_SecurityAnswer]  DEFAULT ('') FOR [SecurityAnswer]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_SecurityQuestion]  DEFAULT ('') FOR [SecurityQuestion]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_SecurityStamp]  DEFAULT ('') FOR [SecurityStamp]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_SecurityToken]  DEFAULT ('') FOR [SecurityToken]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_TwoFactorEnabled]  DEFAULT ((0)) FOR [TwoFactorEnabled]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_RandAlias]  DEFAULT ('') FOR [RandAlias]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_UserAlias]  DEFAULT ('') FOR [UserAlias]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_UserIsApproved]  DEFAULT ((0)) FOR [UserIsApproved]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_UserIsNpdsUser]  DEFAULT ((0)) FOR [UserIsNpdsUser]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_UserIsBridgePerson]  DEFAULT ((0)) FOR [UserIsNpdsPerson]
GO
ALTER TABLE [dbo].[CiaamNetUser] ADD  CONSTRAINT [DF_CiaamNetUser_UserIsNpdsAgent]  DEFAULT ((0)) FOR [UserIsNpdsAgent]
GO
ALTER TABLE [dbo].[CiaamNetUserClaim] ADD  CONSTRAINT [DF_SiaaNetUserClaims_ClaimGuidKey]  DEFAULT (newid()) FOR [ClaimGuidKey]
GO
ALTER TABLE [dbo].[CiaamNetUserClaim] ADD  CONSTRAINT [DF_SiaaNetUserClaim_ClaimType]  DEFAULT ('') FOR [ClaimType]
GO
ALTER TABLE [dbo].[CiaamNetUserClaim] ADD  CONSTRAINT [DF_SiaaNetUserClaim_ClaimValue]  DEFAULT ('') FOR [ClaimValue]
GO
ALTER TABLE [dbo].[CiaamNetUserClaim] ADD  CONSTRAINT [DF_SiaaNetUserClaim_ConcurrencyStamp]  DEFAULT ('') FOR [ConcurrencyStamp]
GO
ALTER TABLE [dbo].[CiaamNetUserLogin] ADD  CONSTRAINT [DF_SiaaNetUserLogins_LoginGuidKey]  DEFAULT (newid()) FOR [LoginGuidKey]
GO
ALTER TABLE [dbo].[CiaamNetUserLogin] ADD  CONSTRAINT [DF_SiaaNetUserLogin_LoginProvider]  DEFAULT ('') FOR [LoginProvider]
GO
ALTER TABLE [dbo].[CiaamNetUserLogin] ADD  CONSTRAINT [DF_SiaaNetUserLogin_ProviderKey]  DEFAULT ('') FOR [ProviderKey]
GO
ALTER TABLE [dbo].[CiaamNetUserLogin] ADD  CONSTRAINT [DF_SiaaNetUserLogin_ProviderDisplayName]  DEFAULT ('') FOR [ProviderAlias]
GO
ALTER TABLE [dbo].[CiaamNetUserLogin] ADD  CONSTRAINT [DF_SiaaNetUserLogin_ConcurrencyStamp]  DEFAULT ('') FOR [ConcurrencyStamp]
GO
ALTER TABLE [dbo].[CiaamNetUserRoleLink] ADD  CONSTRAINT [DF_CiaamNetUserRole_LinkGuidKey]  DEFAULT (newid()) FOR [LinkGuidKey]
GO
ALTER TABLE [dbo].[CiaamNetUserSession] ADD  CONSTRAINT [DF_CiaamNetUserSession_RandAlias]  DEFAULT ('') FOR [RandAlias]
GO
ALTER TABLE [dbo].[CiaamNetUserSession] ADD  CONSTRAINT [DF_CiaamNetUserSession_UserAlias]  DEFAULT ('') FOR [UserAlias]
GO
ALTER TABLE [dbo].[CiaamNetUserSession] ADD  CONSTRAINT [DF_CiaamNetUserSession_UserIsNpdsUser]  DEFAULT ((0)) FOR [UserIsNpdsUser]
GO
ALTER TABLE [dbo].[CiaamNetUserSession] ADD  CONSTRAINT [DF_CiaamNetUserSession_UserIsBridgePerson]  DEFAULT ((0)) FOR [UserIsNpdsPerson]
GO
ALTER TABLE [dbo].[CiaamNetUserSession] ADD  CONSTRAINT [DF_CiaamNetUserSession_UserIsNpdsAgent]  DEFAULT ((0)) FOR [UserIsNpdsAgent]
GO
ALTER TABLE [dbo].[CiaamNetUserSession] ADD  CONSTRAINT [DF_CiaamNetUserSession_ConcurrencyStamp]  DEFAULT ('') FOR [ConcurrencyStamp]
GO
ALTER TABLE [dbo].[CiaamNetUserToken] ADD  CONSTRAINT [DF_SiaaNetUserTokens_TokenGuidKey]  DEFAULT (newid()) FOR [TokenGuidKey]
GO
ALTER TABLE [dbo].[CiaamNetUserToken] ADD  CONSTRAINT [DF_SiaaNetUserToken_LoginProvider]  DEFAULT ('') FOR [LoginProvider]
GO
ALTER TABLE [dbo].[CiaamNetUserToken] ADD  CONSTRAINT [DF_SiaaNetUserToken_Name]  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[CiaamNetUserToken] ADD  CONSTRAINT [DF_SiaaNetUserToken_Value]  DEFAULT ('') FOR [Value]
GO
ALTER TABLE [dbo].[CiaamNetUserToken] ADD  CONSTRAINT [DF_SiaaNetUserToken_ConcurrencyStamp]  DEFAULT ('') FOR [ConcurrencyStamp]
GO
ALTER TABLE [dbo].[CiaamNetRole]  WITH CHECK ADD  CONSTRAINT [FK_CiaamNetRole_AppGuidRef] FOREIGN KEY([AppGuidRef])
REFERENCES [dbo].[CiaamNetApp] ([AppGuidKey])
GO
ALTER TABLE [dbo].[CiaamNetRole] CHECK CONSTRAINT [FK_CiaamNetRole_AppGuidRef]
GO
ALTER TABLE [dbo].[CiaamNetRoleClaim]  WITH CHECK ADD  CONSTRAINT [FK_CiaamNetRoleClaims_CiaamNetRoles] FOREIGN KEY([RoleGuidRef])
REFERENCES [dbo].[CiaamNetRole] ([RoleGuidKey])
GO
ALTER TABLE [dbo].[CiaamNetRoleClaim] CHECK CONSTRAINT [FK_CiaamNetRoleClaims_CiaamNetRoles]
GO
ALTER TABLE [dbo].[CiaamNetUserClaim]  WITH NOCHECK ADD  CONSTRAINT [FK_CiaamNetUserClaims] FOREIGN KEY([UserGuidRef])
REFERENCES [dbo].[CiaamNetUser] ([UserGuidKey])
GO
ALTER TABLE [dbo].[CiaamNetUserClaim] CHECK CONSTRAINT [FK_CiaamNetUserClaims]
GO
ALTER TABLE [dbo].[CiaamNetUserLogin]  WITH NOCHECK ADD  CONSTRAINT [FK_CiaaNetUserLogins] FOREIGN KEY([UserGuidRef])
REFERENCES [dbo].[CiaamNetUser] ([UserGuidKey])
GO
ALTER TABLE [dbo].[CiaamNetUserLogin] CHECK CONSTRAINT [FK_CiaaNetUserLogins]
GO
ALTER TABLE [dbo].[CiaamNetUserRoleLink]  WITH NOCHECK ADD  CONSTRAINT [FK_CiaamNetUserRole_RoleGuidRef] FOREIGN KEY([RoleGuidRef])
REFERENCES [dbo].[CiaamNetRole] ([RoleGuidKey])
GO
ALTER TABLE [dbo].[CiaamNetUserRoleLink] CHECK CONSTRAINT [FK_CiaamNetUserRole_RoleGuidRef]
GO
ALTER TABLE [dbo].[CiaamNetUserRoleLink]  WITH NOCHECK ADD  CONSTRAINT [FK_CiaamNetUserRole_UserGuidRef] FOREIGN KEY([UserGuidRef])
REFERENCES [dbo].[CiaamNetUser] ([UserGuidKey])
GO
ALTER TABLE [dbo].[CiaamNetUserRoleLink] CHECK CONSTRAINT [FK_CiaamNetUserRole_UserGuidRef]
GO
ALTER TABLE [dbo].[CiaamNetUserSession]  WITH NOCHECK ADD  CONSTRAINT [FK_CiaamNetUserSessions] FOREIGN KEY([UserGuidRef])
REFERENCES [dbo].[CiaamNetUser] ([UserGuidKey])
GO
ALTER TABLE [dbo].[CiaamNetUserSession] CHECK CONSTRAINT [FK_CiaamNetUserSessions]
GO
ALTER TABLE [dbo].[CiaamNetUserToken]  WITH NOCHECK ADD  CONSTRAINT [FK_CiaaNetUserTokens] FOREIGN KEY([UserGuidRef])
REFERENCES [dbo].[CiaamNetUser] ([UserGuidKey])
GO
ALTER TABLE [dbo].[CiaamNetUserToken] CHECK CONSTRAINT [FK_CiaaNetUserTokens]
GO
/****** Object:  StoredProcedure [dbo].[CiaamCursorUpdateLink]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CiaamCursorUpdateLink]
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @EmptyGuid uniqueidentifier = '00000000-0000-0000-0000-000000000000';

	DECLARE @updated int, @LinkGuidKey uniqueidentifier,
		@UserGuidRef uniqueidentifier, @RoleGuidRef uniqueidentifier,  @AppGuidRef uniqueidentifier;

	DECLARE records CURSOR FOR
		SELECT LinkGuidKey, UserGuidRef, RoleGuidRef, AppGuidRef FROM dbo.CiaamNetUserRoleLink;

	SET @updated = 0;
	OPEN records;
	FETCH records INTO @LinkGuidKey, @UserGuidRef, @RoleGuidRef, @AppGuidRef;

	WHILE (@@FETCH_STATUS=0) BEGIN
		
		IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) BEGIN

			SELECT @AppGuidRef = AppGuidRef
			FROM dbo.CiaamNetRole WHERE (RoleGuidKey = @RoleGuidRef);

			UPDATE dbo.CiaamNetUserRoleLink 
			SET AppGuidRef = @AppGuidRef WHERE (LinkGuidKey = @LinkGuidKey);	
			
			SET @updated = @updated + 1;
			IF ((SELECT @updated % 1000 AS Remainder) = 0) PRINT 'updated = ' + STR(@updated); 
		END;

		FETCH records INTO @LinkGuidKey, @UserGuidRef, @RoleGuidRef, @AppGuidRef;
	
	END;

	CLOSE records;
	DEALLOCATE records;
	
	RETURN @updated;

END
GO
/****** Object:  StoredProcedure [dbo].[CiaamCursorUpdateRandAlias]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CiaamCursorUpdateRandAlias]
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @EmptyGuid uniqueidentifier = 0x0;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE(), @ccyStamp NVARCHAR(64);

	DECLARE @updated int, @UserGuidKey uniqueidentifier, @RandAlias nvarchar(16),  @RndChrAlias NCHAR(6);

	DECLARE records CURSOR FOR
		SELECT UserGuidKey, RandAlias FROM dbo.CiaamNetUser;

	SET @updated = 0;
	OPEN records;
	FETCH records INTO @UserGuidKey, @RandAlias;

	WHILE (@@FETCH_STATUS=0) BEGIN

    IF (@RandAlias IS NULL) OR (@RandAlias = '') BEGIN

	    	EXECUTE @errorCode = dbo.QebiRandomCharAliasGenerate @RndChrAlias OUTPUT;
    		IF (@errorCode <> 0) RETURN -21;

			UPDATE dbo.CiaamNetUser
			  SET RandAlias = @RndChrAlias, DateLastEdit = @utcDate
        WHERE (UserGuidKey = @UserGuidKey);	
			SET @updated = @updated + 1;

   END;
			
	 IF ((SELECT @updated % 100 AS Remainder) = 0) PRINT 'updated = ' + STR(@updated); 

		FETCH records INTO @UserGuidKey, @RandAlias;
	
	END;

	CLOSE records;
	DEALLOCATE records;
	
	RETURN @updated;

END;
GO
/****** Object:  StoredProcedure [dbo].[CiaamCursorUpdateRsrchAlias]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[CiaamCursorUpdateRsrchAlias]
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @EmptyGuid uniqueidentifier = 0x0;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE(), @ccyStamp NVARCHAR(64);

	DECLARE @updated int, @SessionGuidKey uniqueidentifier, @UserGuidKey uniqueidentifier,  @RsrchAlias NCHAR(6);

	DECLARE records CURSOR FOR
		SELECT SessionPersonGuidKey, PersonUserGuidRef, PersonRsrchAlias FROM BhaBridgeEpsms.dbo.SilkRoadPerson;

	SET @updated = 0;
	OPEN records;
	FETCH records INTO @SessionGuidKey, @UserGuidKey, @RsrchAlias;

	WHILE (@@FETCH_STATUS=0) BEGIN

			UPDATE dbo.CiaamNetUser
			  SET RandAlias = @RsrchAlias, DateLastEdit = @utcDate
        WHERE (UserGuidKey = @UserGuidKey);	
			
			SET @updated = @updated + 1;
			IF ((SELECT @updated % 100 AS Remainder) = 0) PRINT 'updated = ' + STR(@updated); 

	    FETCH records INTO @SessionGuidKey, @UserGuidKey, @RsrchAlias;
	
	END;

	CLOSE records;
	DEALLOCATE records;
	
	RETURN @updated;

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiAdminApproveUser]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QebiAdminApproveUser](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@UserIsApproved BIT = 0,
@UserIsNpdsUser BIT = 0,
@UserIsNpdsPerson BIT = 0,
@UserIsNpdsAgent BIT = 0)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@UserIsApproved IS NULL) SET @UserIsApproved = 0;
	IF (@UserIsNpdsUser IS NULL) SET @UserIsNpdsUser = 0;
	IF (@UserIsNpdsPerson IS NULL) SET @UserIsNpdsPerson = 0;
	IF (@UserIsNpdsAgent IS NULL) SET @UserIsNpdsAgent = 0;

	-- use update-only pattern without an insert 

  UPDATE dbo.CiaamNetUser SET DateLastEdit = @utcDate, UserIsApproved = @UserIsApproved, 
    UserIsNpdsUser= @UserIsNpdsUser, UserIsNpdsPerson = @UserIsNpdsPerson, UserIsNpdsAgent= @UserIsNpdsAgent 
	  WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

  RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiAdminEditUser]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[QebiAdminEditUser](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@FirstName NVARCHAR(64) = '',
@LastName NVARCHAR(64) = '',
@UserName NVARCHAR(64) = '',
@UserAlias NVARCHAR(32) = '',
@EmailAddress NVARCHAR(64) = '',
@EmailAlternate NVARCHAR(64) = '')

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) SELECT @UserGuidKey = NEWID();

	-- TODO: error checking on nvarchar values for nonempty string requirements

  UPDATE dbo.CiaamNetUser
	  SET AppGuidRef = @AppGuidRef, DateLastEdit = @utcDate,
	  FirstName = @FirstName, LastName = @LastName, UserName = @UserName, UserAlias = @UserAlias, 
    EmailAddress = @EmailAddress, EmailAlternate = @EmailAlternate
		WHERE (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);

	IF (@rowCount = 0) OR (@errorCode <> 0) BEGIN	 
		INSERT INTO dbo.CiaamNetUser
			(AppGuidRef, UserGuidKey, DateUserCreated, DateLastEdit,
			FirstName, LastName, UserName, UserAlias, EmailAddress, EmailAlternate) 
		VALUES 
			(@AppGuidRef, @UserGuidKey, @utcDate, @utcDate,
			@FirstName, @LastName, @UserName, @UserAlias, @EmailAddress, @EmailAlternate);
		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;
	END;

    RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiAppDelete]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiAppDelete](
@AppGuidKey UNIQUEIDENTIFIER = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidKey IS NULL) OR (@AppGuidKey = @EmptyGuid) RETURN -11;
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();

    DELETE FROM dbo.CiaamNetApp
		WHERE (AppGuidKey = @AppGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

    RETURN 0; -- no errors

END
GO
/****** Object:  StoredProcedure [dbo].[QebiAppEdit]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiAppEdit](
@AppGuidKey UNIQUEIDENTIFIER = NULL,
@AppName NVARCHAR(64) = NULL,
@AppDescription NVARCHAR(128) = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@AppGuidKey IS NULL) OR (@AppGuidKey = @EmptyGuid) SELECT @AppGuidKey = NEWID();

    UPDATE dbo.CiaamNetApp
	    SET AppName = @AppName, AppDescription = @AppDescription
		WHERE (AppGuidKey = @AppGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);

	IF (@rowCount = 0) OR (@errorCode <> 0) BEGIN	 
		INSERT INTO dbo.CiaamNetApp
			(AppGuidKey, AppName, AppDescription) 
		VALUES 
			(@AppGuidKey, @AppName, @AppDescription);
		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;
	END;

    RETURN 0; -- no errors

END
GO
/****** Object:  StoredProcedure [dbo].[QebiAppRoleDelete]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiAppRoleDelete](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@RoleGuidKey UNIQUEIDENTIFIER = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@RoleGuidKey IS NULL) OR (@RoleGuidKey = @EmptyGuid) RETURN -12;
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();

	-- first delete role users in link table
    DELETE FROM dbo.CiaamNetUserRoleLink
		WHERE (RoleGuidRef = @RoleGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@errorCode <> 0) RETURN -21;

	-- then delete role	 
	DELETE FROM dbo.CiaamNetRole
		WHERE (RoleGuidKey = @RoleGuidKey) AND (AppGuidRef = @AppGuidRef);
	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -22;

    RETURN 0; -- no errors

END
GO
/****** Object:  StoredProcedure [dbo].[QebiAppRoleEdit]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QebiAppRoleEdit](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@RoleGuidKey UNIQUEIDENTIFIER = NULL,
@RoleCodeRef TINYINT = NULL,
@RoleComment NVARCHAR(128) = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();

	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@RoleGuidKey IS NULL) OR (@RoleGuidKey = @EmptyGuid) SELECT @RoleGuidKey = NEWID();

    SELECT @RoleGuidKey = RoleGuidKey FROM dbo.CiaamNetRole
		WHERE (AppGuidRef = @AppGuidRef) AND (RoleGuidKey = @RoleGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount > 1) OR (@errorCode <> 0) RETURN -21;

	IF (@rowCount = 0) BEGIN	 
		INSERT INTO dbo.CiaamNetRole
			(AppGuidRef, RoleGuidKey, RoleTypeCodeRef, RoleComment) 
		VALUES 
			(@AppGuidRef, @RoleGuidKey, @RoleCodeRef, @RoleComment);
		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -22;
	END ELSE BEGIN
		UPDATE dbo.CiaamNetRole
	    SET RoleTypeCodeRef = @RoleCodeRef, RoleComment = @RoleComment
		WHERE (AppGuidRef = @AppGuidRef) AND (RoleGuidKey = @RoleGuidKey);
		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -23;
	END;

    RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiAppRoleSeedNpdsRoles]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QebiAppRoleSeedNpdsRoles](
@AppName NVARCHAR(64) = NULL
) AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	DECLARE @AppGuidKey UNIQUEIDENTIFIER = NULL, @RoleName NVARCHAR(64) = '', @RoleDescription NVARCHAR(128) = '';

	SELECT @AppGuidKey = AppGuidKey FROM dbo.CiaamNetApp WHERE (AppName = @AppName);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -11;

	SELECT @RoleName = 'NpdsAgent', @RoleDescription = 'NPDS Agent on ' + @AppName;
	EXECUTE @errorCode = dbo.QebiAppRoleEdit @AppGuidKey, @RoleName, @RoleDescription;
	IF (@errorCode <> 0) RETURN -21;

	SELECT @RoleName = 'NpdsAuthor', @RoleDescription = 'NPDS Author on ' + @AppName;
	EXECUTE @errorCode = dbo.QebiAppRoleEdit @AppGuidKey, @RoleName, @RoleDescription;
	IF (@errorCode <> 0) RETURN -22;

	SELECT @RoleName = 'NpdsReviewer', @RoleDescription = 'NPDS Reviewer on ' + @AppName;
	EXECUTE @errorCode = dbo.QebiAppRoleEdit @AppGuidKey, @RoleName, @RoleDescription;
	IF (@errorCode <> 0) RETURN -23;

	SELECT @RoleName = 'NpdsEditor', @RoleDescription = 'NPDS Editor on ' + @AppName;
	EXECUTE @errorCode = dbo.QebiAppRoleEdit @AppGuidKey, @RoleName, @RoleDescription;
	IF (@errorCode <> 0) RETURN -24;

	SELECT @RoleName = 'NpdsAdmin', @RoleDescription = 'NPDS Admin on ' + @AppName;
	EXECUTE @errorCode = dbo.QebiAppRoleEdit @AppGuidKey, @RoleName, @RoleDescription;
	IF (@errorCode <> 0) RETURN -25;

    RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiLinkDelete]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[QebiLinkDelete](
@LinkGuidKey UNIQUEIDENTIFIER = NULL,
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidRef UNIQUEIDENTIFIER = NULL,
@RoleGuidRef UNIQUEIDENTIFIER = NULL
) AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@LinkGuidKey IS NULL) OR (@LinkGuidKey = @EmptyGuid) RETURN -11;
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -12;
	IF (@UserGuidRef IS NULL) OR (@UserGuidRef = @EmptyGuid) RETURN -13;
	IF (@RoleGuidRef IS NULL) OR (@RoleGuidRef = @EmptyGuid) RETURN -14;  	
    DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();

    DELETE FROM dbo.CiaamNetUserRoleLink
		WHERE (LinkGuidKey = @LinkGuidKey) AND (AppGuidRef = @AppGuidRef) AND (UserGuidRef = @UserGuidRef);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

    DECLARE @RoleComment NVARCHAR(128) = '';
    SELECT @RoleComment = RoleComment FROM dbo.CiaamNetRole WHERE (RoleGuidKey = @RoleGuidRef);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -22;

  RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiLinkEdit]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QebiLinkEdit](
@LinkGuidKey UNIQUEIDENTIFIER = NULL,
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidRef UNIQUEIDENTIFIER = NULL,
@RoleGuidRef UNIQUEIDENTIFIER = NULL
) AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid uniqueidentifier = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidRef IS NULL) OR (@UserGuidRef = @EmptyGuid) RETURN -12;
	IF (@RoleGuidRef IS NULL) OR (@RoleGuidRef = @EmptyGuid) RETURN -13;
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@LinkGuidKey IS NULL) OR (@LinkGuidKey = @EmptyGuid) SELECT @LinkGuidKey = NEWID();

    DECLARE @ccyStamp NVARCHAR(64) = '';
    SELECT @ccyStamp = ConcurrencyStamp FROM dbo.CiaamNetUserRoleLink
        WHERE (LinkGuidKey = @LinkGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
    IF (@errorCode <> 0) RETURN -14;

 -- TODO: add auditing with LinkDateCreated

	IF (@rowCount = 0) BEGIN	 
		INSERT INTO dbo.CiaamNetUserRoleLink
			(LinkGuidKey, AppGuidRef, UserGuidRef, RoleGuidRef) 
		VALUES 
			(@LinkGuidKey, @AppGuidRef, @UserGuidRef, @RoleGuidRef);
		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;
   END ELSE BEGIN
        UPDATE dbo.CiaamNetUserRoleLink
	     SET AppGuidRef = @AppGuidRef, UserGuidRef = @UserGuidRef, RoleGuidRef = @RoleGuidRef
		 WHERE (LinkGuidKey = @LinkGuidKey);
		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -22;
	END;

    DECLARE @RoleComment NVARCHAR(128) = '';
    SELECT @RoleComment = RoleComment FROM dbo.CiaamNetRole WHERE (RoleGuidKey = @RoleGuidRef);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -22;

   RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiRandomCharAliasGenerate]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiRandomCharAliasGenerate]
(@Alias NCHAR(6) OUTPUT)
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @nc TINYINT, @rows TINYINT, @loops TINYINT;
	SET @nc = 6;

	EXECUTE dbo.QebiRandomHexStrVarCharGenerate @nc, @Alias OUTPUT;
	SELECT @rows = COUNT(*) FROM dbo.CiaamNetUser WHERE (RandAlias = @Alias);
	-- (@rows > 0) implies @Alias already exists and thus is duplicate or replicate
	SET @loops = 1;
	WHILE (@rows > 0) AND (@loops < 100) BEGIN
		EXECUTE dbo.QebiRandomHexStrVarCharGenerate @nc, @Alias OUTPUT;	
	    SELECT @rows = COUNT(*) FROM dbo.CiaamNetUser WHERE (RandAlias = @Alias);
		SET @loops = @loops + 1;	
	END;
	-- (@rows = 0) implies new random @@Alias is unique 
	-- (also indicates "no error" return value)
	RETURN @rows;

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiRandomHexStrVarCharGenerate]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[QebiRandomHexStrVarCharGenerate]
(@NumChars TINYINT = 9,
 @HexStr NVARCHAR(12) OUTPUT)
AS
BEGIN

	SET NOCOUNT ON;
	
	IF (@NumChars < 1) OR (@NumChars > 12) RETURN -1;
	
	-- TODO: recode to delete four hyphens in newid and allow up to (@NumChars > 32)

	SET @HexStr = NCHAR(ROUND(25*RAND()+65,0)) + RIGHT(CAST(NEWID() AS NCHAR(36)), (@NumChars-1));
	
	RETURN ISNULL(@@ROWCOUNT,0);

END

-- test with T-SQL code:
--		declare @nc tinyint, @res varchar(36), @ret int;
--		set @nc = 12;
--		exec @ret = CoreRandomHexStrVarCharGenerate @nc, @res output;
--		select @ret, @res;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserApprove]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QebiUserApprove](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@UserIsApproved BIT = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
 	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@UserIsApproved IS NULL) SELECT @UserIsApproved = 0;

	-- use update-only pattern without an insert 

  UPDATE dbo.CiaamNetUser SET
	  UserIsApproved = @UserIsApproved, UserIsNpdsUser = @UserIsApproved, DateLastEdit = @utcDate
	  WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

  RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserApproveNpdsAgent]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[QebiUserApproveNpdsAgent](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@UserIsApproved BIT = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@UserIsApproved IS NULL) SELECT @UserIsApproved = 0;

	-- use update-only pattern without an insert 

    UPDATE dbo.CiaamNetUser
	    SET UserIsNpdsAgent= @UserIsApproved, DateLastEdit = @utcDate
		  WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

  RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserApproveNpdsPerson]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[QebiUserApproveNpdsPerson](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@UserIsApproved BIT = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@UserIsApproved IS NULL) SELECT @UserIsApproved = 0;

	-- use update-only pattern without an insert 

    UPDATE dbo.CiaamNetUser
	    SET UserIsNpdsPerson = @UserIsApproved, DateLastEdit = @utcDate
		  WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

  RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserApproveNpdsUser]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[QebiUserApproveNpdsUser](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@UserIsApproved BIT = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@UserIsApproved IS NULL) SELECT @UserIsApproved = 0;

	-- use update-only pattern without an insert 

    UPDATE dbo.CiaamNetUser
	    SET UserIsNpdsUser = @UserIsApproved, DateLastEdit = @utcDate
		  WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

  RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserDelete]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiUserDelete](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();

	-- first delete user roles in link table and other user linked tables
   DELETE FROM dbo.CiaamNetUserRoleLink
		WHERE (UserGuidRef = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@errorCode <> 0) RETURN -21;

   DELETE FROM dbo.CiaamNetUserSession
	   WHERE (UserGuidRef = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@errorCode <> 0) RETURN -22;

   DELETE FROM dbo.CiaamNetUserClaim
		WHERE (UserGuidRef = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@errorCode <> 0) RETURN -23;

    DELETE FROM dbo.CiaamNetUserLogin
		WHERE (UserGuidRef = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@errorCode <> 0) RETURN -24;

    DELETE FROM dbo.CiaamNetUserToken
		WHERE (UserGuidRef = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@errorCode <> 0) RETURN -25;

	-- then delete user	 
	DELETE FROM dbo.CiaamNetUser
		WHERE (UserGuidKey = @UserGuidKey) AND (AppGuidRef = @AppGuidRef);
	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -26;

    RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserEdit]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[QebiUserEdit](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@FirstName NVARCHAR(64) = NULL,
@LastName NVARCHAR(64) = NULL,
@UserName NVARCHAR(64) = NULL,
@EmailAddress NVARCHAR(64) = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) SELECT @UserGuidKey = NEWID();

	-- TODO: error checking on nvarchar values for nonempty string requirements

  UPDATE dbo.CiaamNetUser
	  SET AppGuidRef = @AppGuidRef, DateLastEdit = @utcDate,
	  FirstName = @FirstName, LastName = @LastName, UserName = @UserName, EmailAddress = @EmailAddress
		WHERE (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);

	IF (@rowCount = 0) OR (@errorCode <> 0) BEGIN	 
		INSERT INTO dbo.CiaamNetUser
			(AppGuidRef, UserGuidKey, DateUserCreated, DateLastEdit,
			FirstName, LastName, UserName, EmailAddress) 
		VALUES 
			(@AppGuidRef, @UserGuidKey, @utcDate, @utcDate,
			@FirstName, @LastName, @UserName, @EmailAddress);
		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;
	END;

    RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserRegister]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiUserRegister](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@UserName NVARCHAR(64) = '',
@UserAlias NVARCHAR(32) = '',
@RandAlias NVARCHAR(16) = '',
@FirstName NVARCHAR(64) = '',
@LastName NVARCHAR(64) = '',
@PhoneNumber NVARCHAR(64) = '',
@EmailAddress NVARCHAR(64) = '',
@EmailAlternate NVARCHAR(64) = '',
@WebsiteAddress NVARCHAR(256) = '',
@Organization NVARCHAR(128) = '',
@SecurityQuestion NVARCHAR(64) = '',
@SecurityAnswer NVARCHAR(64) = '',
@SecurityStamp NVARCHAR(64) = '',
@SecurityToken NVARCHAR(64) = '',
@PasswordHash NVARCHAR(1024) = '',
@DateUserCreated DATETIME2 = NULL,
@DateTokenExpired DATETIME2 = NULL)

AS BEGIN

   -- AliasIsLocked mapped from AppUseSecureAlias
   -- TODO: deprecate AliasIsLocked

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserName IS NULL) OR (@UserName = '') RETURN -12;
	IF (@EmailAddress IS NULL) OR (@EmailAddress = '') RETURN -13;
	IF (@PasswordHash IS NULL) OR (@PasswordHash = '') RETURN -14;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE(), @ccyStamp NVARCHAR(64);
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) SELECT @UserGuidKey = NEWID();
  IF (@UserAlias IS NULL) SELECT @UserAlias = '';
  IF (@RandAlias IS NULL) SELECT @RandAlias = '';
	IF (@DateUserCreated IS NULL) SELECT @DateUserCreated = @utcDate;
	IF (@DateTokenExpired IS NULL) SELECT @DateTokenExpired = DATEADD(HOUR, 24, @DateUserCreated);

    SELECT @ccyStamp = ConcurrencyStamp FROM dbo.CiaamNetUser
		WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);

	IF (@rowCount = 0) OR (@errorCode <> 0) BEGIN	 
    IF (@UserAlias = '') SELECT @UserAlias = @UserName;
    IF (@RandAlias = '') BEGIN
      DECLARE @RndChrAlias NCHAR(6);
	    EXECUTE @errorCode = dbo.QebiRandomCharAliasGenerate @RndChrAlias OUTPUT;
    	IF (@errorCode <> 0) RETURN -21;
      SELECT @RandAlias = @RndChrAlias;
    END;
		INSERT INTO dbo.CiaamNetUser
			(AppGuidRef, UserGuidKey, UserName, UserAlias, RandAlias,
			FirstName, LastName, PhoneNumber, EmailAddress, EmailAlternate,
			WebsiteAddress, Organization, SecurityQuestion, SecurityAnswer,
			SecurityStamp, SecurityToken, PasswordHash, DateUserCreated, DateTokenExpired) 
		VALUES 
			(@AppGuidRef, @UserGuidKey, @UserName, @UserAlias, @RandAlias,
			@FirstName, @LastName, @PhoneNumber, @EmailAddress, @EmailAlternate,
			@WebsiteAddress, @Organization, @SecurityQuestion, @SecurityAnswer,
			@SecurityStamp, @SecurityToken, @PasswordHash, @DateUserCreated, @DateTokenExpired) 
		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -22;
	END;

    RETURN 0; -- no errors

END;

GO
/****** Object:  StoredProcedure [dbo].[QebiUserSessionCheck]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QebiUserSessionCheck] (
 @SessionIsRequired BIT = NULL,
 @AppGuid UNIQUEIDENTIFIER = NULL,
 @UserGuid UNIQUEIDENTIFIER = NULL,
 @UserAlias nvarchar(32) = NULL OUTPUT,
 @RandAlias nvarchar(16) = NULL OUTPUT,
 @UserIsNpdsUser BIT = NULL OUTPUT,
 @UserIsNpdsPerson BIT = NULL OUTPUT,
 @UserIsNpdsAgent BIT = NULL OUTPUT
) AS BEGIN

	-- compare ScribeAgentSessionCheck

	SET NOCOUNT ON;
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';

	IF (@SessionIsRequired IS NULL) RETURN -10;
	IF ((@AppGuid IS NULL) OR (@AppGuid = @EmptyGuid)) RETURN -11;
	IF ((@UserGuid IS NULL) OR (@UserGuid = @EmptyGuid)) RETURN -12;

	IF (@UserAlias IS NULL) SELECT @UserAlias = '';
	IF (@RandAlias IS NULL) SELECT @RandAlias = '';
	IF (@UserIsNpdsUser IS NULL) SELECT @UserIsNpdsUser = 0;
	IF (@UserIsNpdsUser IS NULL) SELECT @UserIsNpdsUser = 0;
	IF (@UserIsNpdsAgent IS NULL) SELECT @UserIsNpdsAgent = 0;

	-- require known non-expired session value
	IF (@SessionIsRequired = 1) BEGIN 

		UPDATE dbo.CiaamNetUserSession SET SessionDateAccessed = @utcDate
			WHERE (UserGuidRef = @UserGuid) AND (AppGuidRef = @AppGuid) AND 
			(@utcDate < SessionDateExpired); -- current time before expiry date
 		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

		SELECT @RandAlias = RandAlias, @UserAlias = UserAlias, 
      @UserIsNpdsUser = UserIsNpdsUser, @UserIsNpdsPerson = UserIsNpdsPerson,  @UserIsNpdsAgent = UserIsNpdsAgent
 			FROM dbo.CiaamNetUserSession 
      WHERE (UserGuidRef = @UserGuid) AND (AppGuidRef = @AppGuid) AND 
			(@utcDate < SessionDateExpired); -- current time before expiry date
 		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -22;

	END 
	-- require known user value only (without session expiration timeouts)
	ELSE BEGIN 

		SELECT @RandAlias = RandAlias, @UserAlias = UserAlias, 
      @UserIsNpdsUser = UserIsNpdsUser, @UserIsNpdsPerson = UserIsNpdsPerson, @UserIsNpdsAgent = UserIsNpdsAgent
			FROM dbo.CiaamNetUserSession 
      WHERE (UserGuidRef = @UserGuid) AND (AppGuidRef = @AppGuid);
 		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -23;

	END;

    RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserSessionEdit]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[QebiUserSessionEdit] (
@AppGuid UNIQUEIDENTIFIER = NULL,
@UserGuid UNIQUEIDENTIFIER = NULL,
@UserAlias NVARCHAR(32) = NULL OUTPUT,
@RandAlias NVARCHAR(16) = NULL OUTPUT
) AS BEGIN

	-- compare CoreAgentSessionEdit

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF ((@AppGuid IS NULL) OR (@AppGuid = @EmptyGuid)) RETURN -11;
	IF ((@UserGuid IS NULL) OR (@UserGuid = @EmptyGuid)) RETURN -12;	
  IF (@UserAlias IS NULL) SELECT @UserAlias = '';
  IF (@RandAlias IS NULL) SELECT @RandAlias = '';
		
  DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	DECLARE @dateCreated DATETIME2 = NULL, @dateExpired DATETIME2 =  DATEADD(HOUR, 3, @utcDate);
	DECLARE @UserIsNpdsUser BIT = 0, @UserIsQebiUser BIT = 0, 
    @UserIsNpdsPerson BIT = 0, @UserIsSrbePerson BIT = 0, @UserIsNpdsAgent BIT = 0;
 
	-- Agent permissions from CiaamNetUser
	SELECT @RandAlias = RandAlias, @UserAlias = UserAlias, 
    @UserIsNpdsUser = UserIsNpdsUser, @UserIsNpdsPerson = UserIsNpdsPerson, @UserIsNpdsAgent = UserIsNpdsAgent
		FROM dbo.CiaamNetUser WHERE (AppGuidRef = @AppGuid) AND (UserGuidKey = @UserGuid);
	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

  SELECT @dateCreated = SessionDateCreated FROM dbo.CiaamNetUserSession 
	  WHERE (AppGuidRef = @AppGuid) AND (UserGuidRef = @UserGuid);
  SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);

  -- prevent and/or cleanup multiple sessions from old versions
  -- TODO: cleanup sessions that have timed out
  IF (@rowCount > 1) BEGIN
    DELETE FROM dbo.CiaamNetUserSession 
			WHERE (AppGuidRef = @AppGuid) AND (UserGuidRef = @UserGuid);
    SELECT @rowCount = 0; -- reset to trigger new insert
  END;    

  -- upsert the session
	IF (@rowCount = 0) BEGIN -- session record does not exist
		INSERT INTO dbo.CiaamNetUserSession 
			(AppGuidRef, UserGuidRef, UserAlias, RandAlias, 
       UserIsNpdsUser, UserIsNpdsPerson, UserIsNpdsAgent, 
			 SessionDateCreated, SessionDateAccessed, SessionDateExpired) 
		VALUES 
			(@AppGuid, @UserGuid, @UserAlias, @RandAlias, 
       @UserIsNpdsUser, @UserIsNpdsPerson, @UserIsNpdsAgent, 
			 @utcDate, @utcDate, @dateExpired );
 		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -31;
	END ELSE BEGIN -- record exists but requires session reset/refresh
		UPDATE dbo.CiaamNetUserSession 
		   SET RandAlias = @RandAlias, UserAlias = @UserAlias, 
         UserIsNpdsUser = @UserIsNpdsUser, UserIsNpdsPerson = @UserIsNpdsPerson, UserIsNpdsAgent = @UserIsNpdsAgent,
		     SessionDateCreated = @utcDate, SessionDateAccessed = @utcDate, SessionDateExpired = @dateExpired
			WHERE (AppGuidRef = @AppGuid) AND (UserGuidRef = @UserGuid);
 		SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
		IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -32;
	END;

  -- update user LastLogin
   UPDATE dbo.CiaamNetUser
	    SET DateLastLogin = @utcDate
		  WHERE (AppGuidRef = @AppGuid) AND (UserGuidKey = @UserGuid);
 	 SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	 IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -33;

  RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserSessionTimestamp]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiUserSessionTimestamp](
 @UserGuid UNIQUEIDENTIFIER = NULL
) AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF ((@UserGuid IS NULL) OR (@UserGuid = @EmptyGuid)) RETURN -11;
		
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	DECLARE @dateExpired DATETIME2 =  DATEADD(HOUR, 3, @utcDate);

	SELECT @rowCount = COUNT(*) 
      FROM dbo.CiaamNetUserSession
		WHERE (UserGuidRef = @UserGuid);
 	SELECT @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

	UPDATE dbo.CiaamNetUserSession 
		SET SessionDateAccessed = @utcDate, SessionDateExpired = @dateExpired
		WHERE (UserGuidRef = @UserGuid);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -22;

    RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserStamp]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiUserStamp](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();

    UPDATE dbo.CiaamNetUser
	    SET DateLastLogin = @utcDate
		WHERE (UserGuidKey = @UserGuidKey) AND (AppGuidRef = @AppGuidRef);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

    RETURN 0; -- no errors

END
GO
/****** Object:  StoredProcedure [dbo].[QebiUserUpdateEmail]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiUserUpdateEmail](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@EmailAddress NVARCHAR(64) = '',
@EmailAlternate NVARCHAR(64) = '',
@SecurityToken NVARCHAR(64) = '',
@DateTokenExpired DATETIME2 = NULL,
@DateEmailConfirmed DATETIME2 = NULL,
@DateLastEdit DATETIME2 = NULL,
@EmailConfirmed BIT = 0)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	DECLARE @UserIsApproved BIT = 0;
	IF (@EmailConfirmed = 1) SELECT @UserIsApproved = 1;

    UPDATE dbo.CiaamNetUser
	    SET  EmailAddress = @EmailAddress, EmailAlternate = @EmailAlternate, SecurityToken = @SecurityToken,
		DateTokenExpired = @DateTokenExpired, DateEmailConfirmed = @DateEmailConfirmed, DateLastEdit = @DateLastEdit,
		EmailConfirmed = @EmailConfirmed, UserIsApproved = @UserIsApproved
		WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

    RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserUpdatePassword]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiUserUpdatePassword](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@PasswordHash NVARCHAR(1024) = '',
@SecurityToken NVARCHAR(64) = '',
@DateTokenExpired DATETIME2 = NULL,
@DatePasswordChanged DATETIME2 = NULL,
@DateLastEdit DATETIME2 = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
	IF (@PasswordHash IS NULL) OR (@PasswordHash = '') RETURN -13;
  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();
	IF (@SecurityToken IS NULL) SELECT @SecurityToken = '';
	IF (@DatePasswordChanged IS NULL) SELECT @DatePasswordChanged = @utcDate;
	IF (@DateLastEdit IS NULL) SELECT @DateLastEdit = @utcDate;

    UPDATE dbo.CiaamNetUser
	    SET  PasswordHash = @PasswordHash, SecurityToken = @SecurityToken,
		DateTokenExpired = @DateTokenExpired, DatePasswordChanged = @DatePasswordChanged, DateLastEdit = @DateLastEdit
		WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

    RETURN 0; -- no errors

END
GO
/****** Object:  StoredProcedure [dbo].[QebiUserUpdateProfile]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiUserUpdateProfile](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@UserAlias NVARCHAR(64) = NULL,
@FirstName NVARCHAR(64) = NULL,
@LastName NVARCHAR(64) = NULL,
@Organization NVARCHAR(128) = NULL,
@PhoneNumber NVARCHAR(64) = NULL,
@PhoneAlternate NVARCHAR(64) = NULL,
@SecurityQuestion NVARCHAR(64) = NULL,
@SecurityAnswer NVARCHAR(64) = NULL,
@WebsiteAddress NVARCHAR(256) = NULL,
@AliasIsLocked BIT = NULL,
@DateProfileChanged DATETIME2 = NULL,
@DateLastEdit DATETIME2 = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;

  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE();

	IF (@UserAlias IS NULL) SELECT @UserAlias = '';
	IF (@FirstName IS NULL) SELECT @FirstName = '';
	IF (@LastName IS NULL) SELECT @LastName = '';
	IF (@Organization IS NULL) SELECT @Organization = '';
	IF (@PhoneNumber IS NULL) SELECT @PhoneNumber = '';
	IF (@PhoneAlternate IS NULL) SELECT @PhoneAlternate = '';
	IF (@SecurityQuestion IS NULL) SELECT @SecurityQuestion = '';
	IF (@SecurityAnswer IS NULL) SELECT @SecurityAnswer = '';
	IF (@WebsiteAddress IS NULL) SELECT @WebsiteAddress = '';
	IF (@AliasIsLocked IS NULL) SELECT @AliasIsLocked = 1;
	IF (@DateProfileChanged IS NULL) SELECT @DateProfileChanged = @utcDate;
	IF (@DateLastEdit IS NULL) SELECT @DateLastEdit = @utcDate;

    UPDATE dbo.CiaamNetUser SET FirstName = @FirstName, LastName = @LastName,
		Organization = @Organization, PhoneNumber = @PhoneNumber, PhoneAlternate = @PhoneAlternate,		
		SecurityQuestion = @SecurityQuestion, SecurityAnswer = @SecurityAnswer, WebsiteAddress = @WebsiteAddress,
		DateProfileChanged = @DateProfileChanged, DateLastEdit = @DateLastEdit
		WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -21;

    IF (@UserAlias <> '') AND (@AliasIsLocked = 0) BEGIN
        UPDATE dbo.CiaamNetUser SET  UserAlias = @UserAlias
		WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	    SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	    IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -22;
    END;

    RETURN 0; -- no errors

END;
GO
/****** Object:  StoredProcedure [dbo].[QebiUserUpdateUsername]    Script Date: 4/26/2025 1:21:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[QebiUserUpdateUsername](
@AppGuidRef UNIQUEIDENTIFIER = NULL,
@UserGuidKey UNIQUEIDENTIFIER = NULL,
@UserName NVARCHAR(64) = '',
@UserAlias NVARCHAR(64) = '',
@SecurityToken NVARCHAR(64) = '',
@DateTokenExpired DATETIME2 = NULL,
@DateUserNameChanged DATETIME2 = NULL,
@DateLastEdit DATETIME2 = NULL)

AS BEGIN

	SET NOCOUNT ON;
	DECLARE @EmptyGuid UNIQUEIDENTIFIER = '00000000-0000-0000-0000-000000000000';
	IF (@AppGuidRef IS NULL) OR (@AppGuidRef = @EmptyGuid) RETURN -11;
	IF (@UserGuidKey IS NULL) OR (@UserGuidKey = @EmptyGuid) RETURN -12;
	IF (@UserName IS NULL) OR (@UserName = '') RETURN -13;
	IF (@UserAlias IS NULL) OR (@UserAlias = '') SELECT @UserAlias = @UserName;

  	DECLARE @rowCount INT = 0, @errorCode INT = 0, @utcDate DATETIME2 = GETUTCDATE(), @ccStamp NVARCHAR(64) = '';
	IF (@DateUserNameChanged IS NULL) SELECT @DateUserNameChanged = @utcDate;
	IF (@DateLastEdit IS NULL) SELECT @DateLastEdit = @utcDate;

	SELECT @ccStamp = ConcurrencyStamp FROM dbo.CiaamNetUser
		WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey != @UserGuidKey) AND (UserName = @UserName);
	-- new UserName must not already exist for any other User
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 0) OR (@errorCode <> 0) RETURN -21;

    UPDATE dbo.CiaamNetUser
	    SET  UserName = @UserName, UserAlias = @UserAlias, SecurityToken = @SecurityToken,
		DateTokenExpired = @DateTokenExpired, DateUserNameChanged = @DateUserNameChanged, DateLastEdit = @DateLastEdit
		WHERE (AppGuidRef = @AppGuidRef) AND (UserGuidKey = @UserGuidKey);
 	SELECT @rowCount = ISNULL(@@ROWCOUNT,0), @errorCode = ISNULL(@@ERROR,0);
	IF (@rowCount <> 1) OR (@errorCode <> 0) RETURN -31;

    RETURN 0; -- no errors

END
GO
USE [BhaBridgeEpsms]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'no default - foreign key to identified research participant in user account system' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SilkRoadPerson', @level2type=N'COLUMN',@level2name=N'PersonUserGuidRef'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'unique key for persons connecting related records in SilkRoad bridge' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SilkRoadPerson', @level2type=N'COLUMN',@level2name=N'PersonRsrchGuidRef'
GO
USE [PdpCiaam11Tahtali]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'TBD post migration to RoleTypeEnum' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CiaamNetRole', @level2type=N'COLUMN',@level2name=N'RoleGuidKey'
GO
