@*
// PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
// Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/AdminCore/ViewSiaaUsers"
@model AdminCoreViewSiaaUsers
@{
  var psr = (PdpSiteRazorModel)Model.PSR;
  var qurc = (QebUserRestContext)Model.QURC;
}

@Html.Raw(psr.FormatPageTitle())

<p><partial name="@psr.RazorBodyMenu" /></p>

<div id="SiaaGrid">
@(Html.Kendo()
.Grid<QebiUserUxm>()
.Name("PdpAppUserGrid")
.HtmlAttributes(new { style = "float:left;" })
.DataSource(ds => ds.Ajax().PageSize(5)
.Model(m => {
m.Id(p => p.UserGuid);
}) // end Model
.Read(post => post.Url(psr.RazorPagePath + "?handler=ReadSiaaUsers").Data("kendoToken"))
.Events(e => e.Error("HandleAjaxErrors"))
) // end DataSource
.Columns(col => {
col.Bound(row => row.UserGuid).Hidden(true);
col.Bound(row => row.FirstName).Title("FirstName");
col.Bound(row => row.LastName).Title("LastName");
col.Bound(row => row.QebUserName).Title("UserName");
col.Bound(row => row.EmailAddress).Title("EmailAddress");
col.Bound(row => row.UserIsApproved).Title("IsApproved");
col.Bound(row => row.UserRoleNames).Title("UserRoles");
}) // end Columns
.Pageable(pg => pg.AlwaysVisible(true).Responsive(false).Info(true).Refresh(true)
.Position(GridPagerPosition.Top).ButtonCount(3).PageSizes(new[] { 5, 15, 25, 50, 100 }))
.Sortable(st => st.SortMode(GridSortMode.SingleColumn).ShowIndexes(false).AllowUnsort(false))
.Filterable().Resizable(rs => rs.Columns(true))
)
</div>

<script type="text/javascript">
$(document).ready(function () {
$("#SiaaGrid").show();
$("#PdpAppUserGrid").data("kendoGrid").resize();
})
</script>

