<span>
  <a asp-area="PDP" asp-controller="NexusTestApp" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="NexusTestApp" asp-action="MvcRoutes">MvcRoutes</a> |
  <a asp-area="PDP" asp-controller="NexusTestApp" asp-action="Help">Help</a>
</span>

