<div>
  AgentController Actions:
  <a asp-area="PDP" asp-controller="Agent" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="Agent" asp-action="AddRoleAuthor">Add Role Author</a> |
  <a asp-area="PDP" asp-controller="Agent" asp-action="AddRoleEditor">Add Role Editor</a> |
  <a asp-area="PDP" asp-controller="Agent" asp-action="CheckSession">Check Session</a> |
  <a asp-area="PDP" asp-controller="Agent" asp-action="Help">Help</a>
</div>
