<span>
  <a asp-area="PDP" asp-controller="SiaaTestLib" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="SiaaTestLib" asp-action="Agent">Agent</a> |
  <a asp-area="PDP" asp-controller="SiaaTestLib" asp-action="Anon">Anon</a> |
  <a asp-area="PDP" asp-controller="SiaaTestLib" asp-action="Auth">Auth</a> |
  <a asp-area="PDP" asp-controller="SiaaTestLib" asp-action="Routes">Routes</a>
</span>
