<span>
  <a asp-area="PDP" asp-controller="Anon" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="Anon" asp-action="RegisterUser">Register User</a> |
  <a asp-area="PDP" asp-controller="Anon" asp-action="LoginUser">Login User</a>
</span>