<div>
  SiaaDataLibController Actions:
  <a asp-area="PDP" asp-controller="SiaaDataLib" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="SiaaDataLib" asp-action="Help">Help</a> |
  <a asp-area="PDP" asp-controller="SiaaDataLib" asp-action="Privacy">Privacy</a>
</div>
