<div>
  AdminController Actions:
  <a asp-area="PDP" asp-controller="Admin" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="Admin" asp-action="ViewRoles">View Roles</a> |
  <a asp-area="PDP" asp-controller="Admin" asp-action="EditRoles">Edit Roles</a> |
  <a asp-area="PDP" asp-controller="Admin" asp-action="ViewUsers">View Users</a> |
  <a asp-area="PDP" asp-controller="Admin" asp-action="EditUsers">Edit Users</a>
</div>
