@*  
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Licensed per the OSI approved MIT License (https://opensource.org/licenses/MIT).
*@

@{
  var prc = ViewBag.PRC;
}

<div><ul>
  <li>PDP/Site <partial name="_MenuAcavPdpSite" /></li>
  <li>PDP/SiaaDataLib <partial name="_MenuAcavSiaaDataLib" /></li>
@if (prc.SiteSets.AppUseDevtestFeature) {
  <li>PDP/SiaaTestLib <partial name="_MenuAcavSiaaTestLib" /></li>
  <li>PDP/Anon <partial name="_MenuAcavSiaaAnon" /></li>
  <li>PDP/Agent <partial name="_MenuAcavSiaaAgent" /></li>
  <li>PDP/Auth <partial name="_MenuAcavSiaaAuth" /></li>
  <li>PDP/Admin <partial name="_MenuAcavSiaaAdmin" /></li>
}
</ul></div>