@*
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@{
  var prc = Model.PRC;
}

<div>
  <span>
    <a asp-page="/PDP/DREAM/Index">DREAM</a>
    | <a asp-page="/PDP/CoreDataLib/Index">CoreDataLib</a>
    @if (prc.PDPSS.AppUseDevtestFeature)
    {
      <span> | </span>
      <a asp-page="/PDP/CoreTestLib/Index">CoreTestLib</a>
    }
  </span>
</div>
