<span>
  <a asp-area="NPDS" asp-controller="Site" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="Site" asp-action="Help">Help</a> |
  <a asp-area="NPDS" asp-controller="Site" asp-action="Info">Info</a> |
  <a asp-area="NPDS" asp-controller="Site" asp-action="Design">Design</a> |
  <a asp-area="NPDS" asp-controller="Site" asp-action="Papers">Papers</a> |
  <a asp-area="NPDS" asp-controller="Site" asp-action="Privacy">Privacy</a>
</span>
