<span>
  <a asp-page="/PDP/CoreDataLib/Index">Index</a> |
  <a asp-page="/PDP/CoreDataLib/Help">Help</a> |
  <a asp-page="/PDP/CoreDataLib/Diristries">Diristries</a> |
  <a asp-page="/PDP/CoreDataLib/Entities">Entities</a>
</span>
