<span>
  <a asp-page="/PDP/CoreTestLib/Index">Index</a> |
  <a asp-page="/PDP/CoreTestLib/Examples">Examples</a> |
  <a asp-page="/PDP/CoreTestLib/PrcTest">PrcTest</a> |
  <a asp-page="/PDP/CoreTestLib/MvcRoutes">MvcRoutes</a> |
  <a asp-page="/PDP/CoreTestLib/MvcErrors">MvcErrors</a>
</span>
