<span>
  <a asp-area="NPDS" asp-controller="AgentScribe" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="AgentScribe" asp-action="Help">Help</a> |
  <a asp-area="NPDS" asp-controller="AgentScribe" asp-action="AddRoleAuthor">Add Role Author</a> |
  <a asp-area="NPDS" asp-controller="AgentScribe" asp-action="AddRoleEditor">Add Role Editor</a> |
  <a asp-area="NPDS" asp-controller="AgentScribe" asp-action="AddRoleAdmin">Add Role Admin</a> |
  <a asp-area="NPDS" asp-controller="AgentScribe" asp-action="CheckSession">Check Session</a>
</span>
