@{
  var prc = (PdpRestContext) ViewData["PRC"];
  var keys = new Dictionary<string, string>() { ["ugk"] = prc.UserKey, ["agk"] = prc.AgentKey, ["sgk"] = prc.SessionKey };
}

<span>
  @if (User?.Identity?.IsAuthenticated ?? false)
  {
    <a asp-area="NPDS" asp-controller="AuthScribe" asp-action="Index" asp-all-route-data="@keys">User</a>
    <span> | </span>
    <a asp-area="NPDS" asp-controller="AuthScribe" asp-action="CheckSession" asp-route-ugk="@prc.UserKey" asp-route-sgk="@prc.SessionKey">Session</a>
    <span> | </span>
    <a asp-area="NPDS" asp-controller="AuthScribe" asp-action="DisplayProfile" title="Profile">@User.Identity.Name</a>
    <span> | </span>
    <a asp-area="NPDS" asp-controller="AuthScribe" asp-action="LogoutUser">Logout</a>
    @if (User.IsInRole("NpdsAdmin"))
    {
      <br />
      <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="Index">Admin Index</a>
      <span> | </span>
      <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="ViewSiaaRoles">View Roles</a>
      <span> | </span>
      <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="EditSiaaRoles">Edit Roles</a>
      <span> | </span>
      <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="ViewSiaaUsers">View Users</a>
      <span> | </span>
      <a asp-area="NPDS" asp-controller="AdminScribe" asp-action="EditSiaaUsers">Edit Users</a>
    }
  }
  else
  {
    <a asp-area="NPDS" asp-controller="AnonScribe" asp-action="RegisterUser">Register</a>
    <span> | </span>
    <a asp-area="NPDS" asp-controller="AnonScribe" asp-action="LoginUser">Login</a>
  }
</span>
