<span>
  <a asp-area="NPDS" asp-controller="CoreDataLib" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="CoreDataLib" asp-action="Help">Help</a> |
  <a asp-area="NPDS" asp-controller="CoreDataLib" asp-action="Diristries">Diristries</a> |
  <a asp-area="NPDS" asp-controller="CoreDataLib" asp-action="Entities">Entities</a>
</span>
