<span>
  <a asp-area="NPDS" asp-controller="CoreDataLibTest" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="CoreDataLibTest" asp-action="Examples">Examples</a> |
  <a asp-area="NPDS" asp-controller="CoreDataLibTest" asp-action="PrcTest">PrcTest</a> |
  <a asp-area="NPDS" asp-controller="CoreDataLibTest" asp-action="MvcRoutes">MvcRoutes</a> |
  <a asp-area="NPDS" asp-controller="CoreDataLibTest" asp-action="MvcErrors">MvcErrors</a>
</span>
