<span>
  <a asp-area="NPDS" asp-controller="SiaaDataLibTest" asp-action="Index">Index</a> |
  <a asp-area="NPDS" asp-controller="SiaaDataLibTest" asp-action="Examples">Examples</a> |
  <a asp-area="NPDS" asp-controller="SiaaDataLibTest" asp-action="SidAnon">SidAnon</a> |
  <a asp-area="NPDS" asp-controller="SiaaDataLibTest" asp-action="SidUser">SidUser</a> |
  <a asp-area="NPDS" asp-controller="SiaaDataLibTest" asp-action="SidAuth">SidAuth</a> |
  <a asp-area="NPDS" asp-controller="SiaaDataLibTest" asp-action="SidAdmin">SidAdmin</a>
</span>
