@*
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<div>
  <ul>
    <li>Site <partial name="_MenuSite" /></li>
    <li>CoreDataLib <partial name="_MenuCoreDataLib" /></li>
    <li>SiaaDataLib <partial name="_MenuSiaaDataLib" /></li>
  </ul>
</div>
