@*
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Code license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

<div>
  <ul>
    <li>CoreDataLibTest <partial name="_MenuCoreDataLibTest" /></li>
    <li>SiaaDataLibTest <partial name="_MenuSiaaDataLibTest" /></li>
    <li>AnonSiaa <partial name="_MenuAnonSiaa" /></li>
    <li>UserSiaa <partial name="_MenuUserSiaa" /></li>
    <li>AuthSiaa <partial name="_MenuAuthSiaa" /></li>
    <li>AdminSiaa <partial name="_MenuAdminSiaa" /></li>
  </ul>
</div>
