@{
  var prc = (PdpRestContext) ViewData["PRC"]; 
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AnonSiaa/AccessDenied"))

<p>Access denied to requested resource. Authorization required.</p>

<partial name="_MenuAnonSiaaLogin" />
