@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AnonSiaa/TokenConfirmed"))

<p>
  Your security token, email address and user account have been confirmed successfully.
</p>
