@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AnonSiaa/UserRegistered"))

<p>
  Thank you for registering.
  A security token has been sent to you for verification of your email address.
Please check your email and click on the confirmation link to complete
  your registration.
</p>
