@using System.Reflection

@{ 
  PdpRestContext prc = ViewBag.PRC; Layout = prc.PageLayout;
  var propList = prc.GetType().GetProperties().OrderBy(p => p.Name);
}

@Html.Raw(prc.FormatPageTitle("PDP/NpdsTestLib/PrcTest"))

<p>PDP REST Context (PRC) table of names, values, types for PRC object properties.</p>

<table>
  <tr><td>Name</td><td>Value</td><td>Type</td></tr>
  @foreach (PropertyInfo item in propList)
  {
    <tr><td>@item?.Name</td><td>@item?.GetValue(prc)?.ToString()</td><td>@item?.PropertyType</td></tr>
  }
</table>