@{
  var prc = ViewBag.PRC; Layout = prc.PageLayout;
}

@Html.Raw(prc.FormatPageTitle("PDP/AuthorResreps/Index"))

<p>
  You are registered as a Resource Record Author
  and may edit your own resource metadata records on this server for any records
  for which you have been granted privileges as the current ManagedByAgent.
</p>

<h3>Author Import Records</h3>

<ul>
  <li> @Html.ActionLink("Import Principle for PDP-DREAM", "ImportPrinciple", "AuthorResreps", new { area = "PDP" }) </li>
</ul>

<h3>Author Manage Records</h3>

<ul>
  <li> @Html.ActionLink("Split To Different for PDP-DREAM", "SplitToDifferent", "AuthorResreps", new { area = "PDP" }) </li>
</ul>
