@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AgentScribe/Help"))

<p>
  Please note that you must add the NPDS Resource Record Agent role to your account before you can register resource
  labels and publish resource descriptions in any of the PORTAL registries and DOORS directories managed
  by this Scribe registrar. In other words, there are three kinds of Resource Agents: Resource Authors,
  Registry Editors, and Registrar Admins. So to become a Resource Author, you must first add the Resource
  Agent role to your Site User account by agreeing to a simple informed consent about use of this web
  site and you will automatically become a Resource Author as well.
</p>
