@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AgentScribe/RoleAdminAdded"))

<p>
  NPDS Resource Agent Admin role has been added to your account.
  Please logout then login for the changes to update the menu bar.
</p>
