<span>
  <a asp-area="PDP" asp-controller="NexusTestApi" asp-action="Index">Index</a> |
  <a asp-area="PDP" asp-controller="NexusTestApi" asp-action="Examples">Examples</a> |
  <a asp-area="PDP" asp-controller="NexusTestApi" asp-action="MvcRoutes">MvcRoutes</a> |
  <a asp-area="PDP" asp-controller="NexusTestApi" asp-action="PrcTest">PrcTest</a> |
  <a asp-area="PDP" asp-controller="NexusTestApi" asp-action="Help">Help</a>
</span>
