<div>
    NexusTestApiController Actions:
    <a asp-area="PDP" asp-controller="NexusTestApi" asp-action="Index">Index</a> |
    <a asp-area="PDP" asp-controller="NexusTestApi" asp-action="Examples">Examples</a> |
    <a asp-area="PDP" asp-controller="NexusTestApi" asp-action="Routes">Routes</a>
</div>

