<div>
    NexusRestApiController Actions:
    <a asp-area="PDP" asp-controller="NexusRestApi" asp-action="Index">Index</a> |
    <a asp-area="PDP" asp-controller="NexusRestApi" asp-action="Help">Help</a>
</div>

