@*  
  // Copyright (c) 2007 - 2021 Brain Health Alliance. All Rights Reserved.
  // Licensed per the OSI approved MIT License (https://opensource.org/licenses/MIT).
*@

@{
  var prc = ViewBag.PRC;
}

<div><span>
  <a asp-area="PDP" asp-controller="Site" asp-action="Index">Site</a>
| <a asp-area="PDP" asp-controller="NexusRestApi" asp-action="Index">NexusRestApi</a>
@if (prc.SiteSets.AppUseDevtestFeature) {
  <span> | </span>
  <a asp-area="PDP" asp-controller="NexusTestApi" asp-action="Index">NexusTestApi</a>
}
</span></div>
