@{
  var prc = ViewBag.PRC; Layout = prc.PageLayout;
}

@Html.Raw(prc.FormatSectionTitle("PDP/Admin/Index"))

<p>PDP/Admin/Index web page paragraph.</p>

<h4>PDP SIAA Menus</h4>

<partial name="_SiaaDataLibDefaultList" />
