@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2022 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/NwlHome/Index"
@model NwlHomeIndex
@{
  PdpSiteRazorModel psr = Model.PSR;
  // PdpSiteInfoModel psi = psr.PdpSiteInfo;
  // QebUserRestContext qurc = Model.QURC;
}
@Html.Raw(psr.FormatPageTitle())
<p><partial name="@psr.RazorBodyMenu" /></p>

<h5>Help Info and Examples by NPDS RecordAccess</h5>

<ul>
  <li>Anon: <a asp-page="/NPDS/NwlHome/AnonHelp">/NPDS/NwlHome/AnonHelp</a></li>
  <li>User: <a asp-page="/NPDS/NwlHome/UserHelp">/NPDS/NwlHome/UserHelp</a></li>
  <li>Agent: <a asp-page="/NPDS/NwlHome/AgentHelp">/NPDS/NwlHome/AgentHelp</a></li>
  <li>Author: <a asp-page="/NPDS/NwlHome/AuthorHelp">/NPDS/NwlHome/AuthorHelp</a></li>
  <li>Editor: <a asp-page="/NPDS/NwlHome/EditorHelp">/NPDS/NwlHome/EditorHelp</a></li>
  <li>Admin: <a asp-page="/NPDS/NwlHome/AdminHelp">/NPDS/NwlHome/AdminHelp</a></li>
</ul>
