@{
  var prc = (PdpRestContext) ViewData["PRC"];
  Layout = prc.RazorMvcLayoutView;
}

@Html.Raw(prc.FormatPageTitle("NPDS/AnonScribe/UsernameRequested"))

<p>
  A security token has been sent to you for resetting your username.
  Please check your email and click on the confirmation link to complete the change.
</p>
