@*
  // PORTAL-DOORS Project Copyright (c) 2007 - 2023 Brain Health Alliance. All Rights Reserved.
  // Software license: the OSI approved Apache 2.0 License (https://opensource.org/licenses/Apache-2.0).
*@

@page "/NPDS/AnonMode/ResetPassword1"
@model AnonModeResetPassword1
@{
  PdpSiteRazorModel psrm = Model.PSRM;
  QebiUserRestContext qurc = Model.QURC;
}
@Html.Raw(psrm.FormatBodyTitle())

<form id="frmResetPassword1" asp-page="/NPDS/AnonMode/ResetPassword1" 
      method="post" role="form" class="form-horizontal">
  <p>
    To reset your password, please enter your username and then answer the security question.
  </p>
  <div class="form-group">
    @Html.LabelFor(m => m.UXM.UserName, new { @class = "form-label col-md-3" })
    @Html.TextBoxFor(m => m.UXM.UserName, new { @class = "form-control col-md-3", Value = Model.UXM.UserName })
    @Html.ValidationMessageFor(m => m.UXM.UserName, null, new { @class = "form-label col-md-6 text-danger" })
  </div>
  <br />
  <button id="btnResetPassword1" type="submit" class="btn btn-outline-primary">Next Step</button>
</form>
